<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	 
    <!--<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>-->
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=您申请的key值"></script>
    <!--<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>-->
	<title>wifi热点</title>
	<style>
		body,html{width: 100%;height: 100%;font-family: "微软雅黑";margin: 0;padding: 0;}
		.allscreenbox{width: 100%;height: 100%;display: flex;flex-direction: column;}
		.clearfix:before{content: '';display: table;width: 100%;height: 0px;clear: both;}
		.clearfix:after{content: '';display: table;width: 100%;height: 0px;clear: both;}
		.topTab{clear: both;box-shadow: 0px 0px 16px #aaa;width: 100%;z-index: 3;}
		.topTab .con{width: 50%;float: left;text-align: center;}
		.topTab .con span{display: inline-block;padding: 0px 15px;border-bottom: 3px solid #fff;line-height: 40px;}
		.topTab .con.current span{border-bottom: 3px solid orange;color: orange;}
		.mapbox{flex: 1;position: relative;}
		.mapbox .mapcon{width: 100%;height: 100%;opacity: 0;z-index: 0; transition: all 0.5s;-webkit-transition: all 0.5s;position: absolute;}
		.mapbox .mapcon.current{opacity: 1;z-index: 2; transition: all 0.5s;-webkit-transition: all 0.5s;}
	</style>
</head>
<body>
	<div class="allscreenbox">
		<div class="topTab clearfix">
		<div class="con current">
			<span>定位查找</span>
		</div>
		<div class="con">
			<span>全部热点</span>
		</div>
	</div>
	<div class="mapbox">
		<div id="map1" class="mapcon current" style="background: paleturquoise;">
			
		</div>
		<div id="allmap" class="mapcon" style="background: pink;">
			
		</div>
	</div>
	</div>
	
</body>
</html>
<script type="text/javascript">
$('.topTab').find('.con').click(function(){
	var index=$(this).index();
	$(this).addClass('current').siblings().removeClass('current');
	$('.mapbox .mapcon').eq(index).addClass('current').siblings().removeClass('current');
})
    
     var map1, geolocation;
    //加载地图，调用浏览器定位服务
    map1 = new AMap.Map('map1', {
        resizeEnable: true,
    });
    map1.plugin('AMap.Geolocation', function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition:'RB'
        });
        map1.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
        AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    });
    //解析定位结果
    function onComplete(data) {
        var str=['定位成功'];
        str.push('经度：' + data.position.getLng());
        str.push('纬度：' + data.position.getLat());
        str.push('精度：' + data.accuracy + ' 米');
        str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
        
//      alert(data.position.getLng()+   '   ,  '+  data.position.getLat());
        //定位成功后发送ajax
        var mappoint1=[
    {'point_name':'高新区','Latitude':104.083183,'longitude':30.607554,'poinInf':{'pointName':'和平农贸市场','pintAddr':'天仁路10号'}},
	{'point_name':'高新区','Latitude':104.065151,'longitude':30.581797,'poinInf':{'pointName':'益民菜市南苑店','pintAddr':'锦城大道758'}}];
        
        getPoint1 (mappoint1);
       	/*$.ajax({
        	type:"post",
        	url:"/",
        	async:true,
        	data:{},
        	success:function(data){
        		
        	}
        });*/
        
//      alert(str);
//      document.getElementById('tip').innerHTML = str.join('<br>');
    }
    //解析定位错误信息
    function onError(data) {
//      document.getElementById('tip').innerHTML = '定位失败';
		alert('对不起，您定位失败')
    }
    



   var map2 = new AMap.Map('allmap', {
        resizeEnable: true,
        center: [104.061924, 30.549679],
        zoom: 15
    });    
    map2.clearMap();  // 清除地图覆盖物
    var mappoint2 = [
    {'point_name':'高新区','Latitude':104.083183,'longitude':30.607554,'poinInf':{'pointName':'和平农贸市场','pintAddr':'天仁路10号'}},
	{'point_name':'高新区','Latitude':104.065151,'longitude':30.581797,'poinInf':{'pointName':'益民菜市南苑店','pintAddr':'锦城大道758'}},
	{'point_name':'青羊区','Latitude':104.084115,'longitude':30.676996,'poinInf':{'pointName':'北东街菜市场','pintAddr':'新开寺街68号'}},
	{'point_name':'锦江区','Latitude':104.125347,'longitude':30.624859,'poinInf':{'pointName':'静远路便名服务中心','pintAddr':'静远路'}},
	{'point_name':'青羊区','Latitude':104.013375,'longitude':30.682899,'poinInf':{'pointName':'金沙农贸市场 ','pintAddr':'金凤路9号'}},
	{'point_name':'锦江区','Latitude':104.132534,'longitude':30.609958,'poinInf':{'pointName':'蓝谷地农贸市场','pintAddr':'锦江区合欢树街1333号'}},
	{'point_name':'青羊区','Latitude':104.039418,'longitude':30.660183,'poinInf':{'pointName':'福美优鲜超市','pintAddr':'科联路19号附8号附近'}},
	{'point_name':'锦江区','Latitude':104.114912,'longitude':30.633051,'poinInf':{'pointName':'新牛沙综合市场','pintAddr':'牛沙路108号'}},
	{'point_name':'锦江区','Latitude':104.113731,'longitude':30.64663,'poinInf':{'pointName':'牛市口菜市场','pintAddr':'锦江区牛市口路30号'}},
	{'point_name':'青羊区','Latitude':104.017433,'longitude':30.670561,'poinInf':{'pointName':'民生水木光华菜市场','pintAddr':'光华村接街60号'}},
	{'point_name':'锦江区','Latitude':104.08441,'longitude':30.656192,'poinInf':{'pointName':'红星菜市场','pintAddr':'东升街98号'}},
	{'point_name':'成华区','Latitude':104.106428,'longitude':30.674981,'poinInf':{'pointName':'建设路综合市场 ','pintAddr':'一环路东二段13号'}},
	{'point_name':'高新区','Latitude':104.055792,'longitude':30.584569,'poinInf':{'pointName':'锦尚市场','pintAddr':' 锦尚西二路555号'}},
	{'point_name':'锦江区','Latitude':104.124959,'longitude':30.612232,'poinInf':{'pointName':'狮子山农贸市场 ','pintAddr':'静安路7号'}},
	{'point_name':'成华区','Latitude':104.14689,'longitude':30.681568,'poinInf':{'pointName':'理工大学生活服务中心','pintAddr':'理工大学内'}},
	{'point_name':'锦江区','Latitude':104.125347,'longitude':30.624859,'poinInf':{'pointName':'静远路便名服务中心','pintAddr':'静远路'}},
	{'point_name':'青羊区','Latitude':104.066218,'longitude':30.66077,'poinInf':{'pointName':'汪家拐菜市场 ','pintAddr':'陕西街224号'}},
	{'point_name':'金牛区','Latitude':104.028225,'longitude':30.691901,'poinInf':{'pointName':'成都市黄忠市场','pintAddr':'同兴路3号'}},
	{'point_name':'成华区','Latitude':104.112607,'longitude':30.666272,'poinInf':{'pointName':'新鸿农贸市场 ','pintAddr':'成华区新鸿南路77号'}},
	{'point_name':'高新区','Latitude':104.038121,'longitude':30.588078,'poinInf':{'pointName':'新园农贸市场','pintAddr':'高新区仁和街88号'}},
	{'point_name':'锦江区','Latitude':104.056693,'longitude':30.688452,'poinInf':{'pointName':'成都市益民菜市（ 南熏老店）','pintAddr':'马河湾5号附21号'}},
	{'point_name':'锦江区','Latitude':104.095226,'longitude':30.664472,'poinInf':{'pointName':'成都市安居天涯农贸市场','pintAddr':'武成大街64号'}},
	{'point_name':'高新区','Latitude':104.033364,'longitude':30.608529,'poinInf':{'pointName':'庆安市场','pintAddr':'新雅横街5号'}},
	{'point_name':'青羊区','Latitude':104.040247,'longitude':30.671364,'poinInf':{'pointName':'民生市场牧电巷店','pintAddr':'牧电巷36号'}},
	{'point_name':'锦江区','Latitude':104.088716,'longitude':30.619018,'poinInf':{'pointName':'高攀农贸综合市场 ','pintAddr':'高攀路22号'}},
	{'point_name':'武侯区','Latitude':104.078861,'longitude':30.61627,'poinInf':{'pointName':'益民菜市十街坊店 ','pintAddr':'长寿南路34号'}},
	{'point_name':'武侯区','Latitude':104.022506,'longitude':30.647631,'poinInf':{'pointName':'外双楠农贸市场 ','pintAddr':'栖霞路52号'}},
	{'point_name':'武侯区','Latitude':104.066683,'longitude':30.632618,'poinInf':{'pointName':'玉林综合市场','pintAddr':'玉林西街12号'}},
	{'point_name':'高新区','Latitude':104.060247,'longitude':30.591299,'poinInf':{'pointName':'锦晖菜市','pintAddr':' 锦晖西二街265号'}},
	{'point_name':'武侯区','Latitude':104.079307,'longitude':30.649426,'poinInf':{'pointName':'大学路室内菜市','pintAddr':'临江路9号附3号'}},
	{'point_name':'武侯区','Latitude':104.079612,'longitude':30.645526,'poinInf':{'pointName':'益民菜市胜利村店','pintAddr':'胜利村108号'}},
	{'point_name':'锦江区','Latitude':104.111309,'longitude':30.623073,'poinInf':{'pointName':'东光菜市场','pintAddr':'东光街35号'}},
	{'point_name':'锦江区','Latitude':104.111513,'longitude':30.626529,'poinInf':{'pointName':'东润农贸市场','pintAddr':'净居寺南街106附1号'}},
	{'point_name':'锦江区','Latitude':104.100399,'longitude':30.619949,'poinInf':{'pointName':'菜篮子翡翠城市场','pintAddr':'琉璃路525号'}},
	{'point_name':'武侯区','Latitude':104.089032,'longitude':30.644645,'poinInf':{'pointName':'益民菜市老马路店','pintAddr':'丝竹路151号'}},
	{'point_name':'成华区','Latitude':104.146871,'longitude':30.655755,'poinInf':{'pointName':'东升农贸市场','pintAddr':'槐树店18号'}},
	{'point_name':'锦江区','Latitude':104.124384,'longitude':30.631658,'poinInf':{'pointName':'马家沟农贸市场','pintAddr':'锦江区马家沟1号附近'}},
	{'point_name':'成华区','Latitude':104.103459,'longitude':30.594308,'poinInf':{'pointName':'锦馨家园菜市场 ','pintAddr':'锦江区榕声路84号'}},
	{'point_name':'金牛区','Latitude':104.089626,'longitude':30.682764,'poinInf':{'pointName':'成都市金牛工人村市场','pintAddr':'成都市工人村市场办公室'}},
	{'point_name':'锦江区','Latitude':104.079262,'longitude':30.657078,'poinInf':{'pointName':'向荣桥菜市场','pintAddr':'向荣桥街66号'}},
	{'point_name':'高新区','Latitude':104.087686,'longitude':30.611391,'poinInf':{'pointName':'益民菜市东苑店','pintAddr':'三瓦窑街'}},
	{'point_name':'武侯区','Latitude':103.979431,'longitude':30.626159,'poinInf':{'pointName':'前景综合农贸市场 ','pintAddr':'金兴中路85号附近'}},
	{'point_name':'锦江区','Latitude':104.025844,'longitude':30.679019,'poinInf':{'pointName':'青羊区双顺菜市','pintAddr':'双顺路6号1栋附14'}},
	{'point_name':'成华区','Latitude':104.114705,'longitude':30.654378,'poinInf':{'pointName':'万年综合市场 ','pintAddr':'经华北路60号'}}
	];
     
    
    // 添加一些分布不均的点到地图上,地图上添加三个点标记，作为参照
    var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
    getPiont2 (mappoint2);
    function getPiont2 (mappoint2) {
    	function markerClick(e) {
	        infoWindow.setContent(e.target.content);
	        infoWindow.open(map2, e.target.getPosition());
	    }
	    mappoint2.forEach(function(mappoint) {
	        var marker=new AMap.Marker({
	            map: map2,
	            icon: mappoint.icon,
	            position: [mappoint.Latitude, mappoint.longitude],
	            offset: new AMap.Pixel(-12, -36)
	        });
	        marker.content = '<h4 style="margin:5px 0px;">'+mappoint.poinInf.pointName+'</h4><p style="margin:5px 0px">地址：'+mappoint.poinInf.pintAddr+'</p>';
	        marker.on('click', markerClick);
	        marker.emit('click', {target: marker});
	    });
	    
	      
	    map2.setFitView();
    }
    
    
    // 添加一些分布不均的点到地图上,地图上添加三个点标记，作为参照
    function getPoint1 (mappoint1) {
    	function markerClick1(e) {
	        infoWindow.setContent(e.target.content);
	        infoWindow.open(map1, e.target.getPosition());
	    }
	    mappoint1.forEach(function(mappoint) {
	        var marker1=new AMap.Marker({
	            map: map1,
	            icon: mappoint.icon,
	            position: [mappoint.Latitude, mappoint.longitude],
	            offset: new AMap.Pixel(-12, -36)
	        });
	        marker1.content = '<h4 style="margin:5px 0px;">'+mappoint.poinInf.pointName+'</h4><p style="margin:5px 0px">地址：'+mappoint.poinInf.pintAddr+'</p>';
	        marker1.on('click', markerClick1);
	        marker1.emit('click', {target: marker1});
	    });
	    map1.setFitView();
    }
</script>