<extend name="Public/base" />
<block name="headerCss">
   <style>
   		.adresslist{}
   		.adresslist .address{}
   		.adresslist .edit{background: #fefefe;}
   </style>
    
</block>
<block name="content">
	<div class="page-address" ng-controller='addressListCtrl'>
		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">地址管理</h1>
			<a href="newaddress" class="text-drak-yellow button button-clear text-12 button-energized">新地址</a>
		</ion-header>

		<ion-content has-bouncing='true' overflow-scroll='false' class='has-header bg-f5'>
			<div class="p-15 text-14 text-888 text-center" ng-if='!hasAddress'>
				您暂时没有常用地址
			</div>
			<div class="adresslist">
				<div class="address mb-20 bg-white" ng-repeat='addr in addressList | orderBy : "-is_default" '>
					<div class="row">
						<div class="col col-25 text-444" ng-bind='addr.concat_name'></div>
						<div class="col col-75 text-888 text-12" ng-bind='addr.concat_tel'></div>
					</div>
					<div class="p-10 text-888 text-12 bb-1" ng-bind='addr.concat_address'></div>
					<div class="edit p-5 ub ub-ac text-12 text-888">
						<div class="ub-f1">
							<label ng-click='setDefault(addr.address_id)'><i class="mr-5 ml-5 radio"><input type="radio" class="regular-radio" name='is_default' ng-checked="addr.is_default==2"  /><label></label></i><span>默认地址</span></label>
						</div>
						<div>
							<!--<i class="icon ion-edit text-888 mr-5"></i>-->
							<!--<a href="editAddress?address_id={{addr.address_id}}" class="mr-10 text-888">编辑</a>-->
							<span ng-click='deleteAddr({{addr.address_id}})'><i class="icon ion-ios-trash-outline text-888 mr-5"></i><span class="mr-10">删除</span></span>
						</div>
					</div>
					
				</div>
			</div>

		</ion-content>
	</div>
</block>

<block name="footer_js">
	<script>
		app.controller('addressListCtrl', ['$scope', function(a) {
			a.addressList = [];
			a.hasAddress = true;
			//请求地址列表信息
			a.getAddrList = function() {
				$.ajax({
					type: "post",
					url:API+"/User/userAddressList",
					async: true,
					data: {
						userId: localStorage.userId
					},
					success: function(data) {
						if(data.returnData.length == 0) {
							a.hasAddress = false;
							a.addressList = data.returnData;
							a.$apply();
						} else {
							a.addressList = data.returnData;
							console.log(a.addressList);
							a.$apply();
						}
					}
				});
			}

			a.getAddrList();

			a.deleteAddr = function(addrId) {

				$.ajax({
					type: "post",
					url:API+"/User/userAddressDel",
					data: {
						address_id: addrId
					},
					dataType: 'json',
					success: function(data) {
						if(data.status == 1) {
							a.alert('删除成功');
							a.getAddrList();							
						} else {
							a.alert('删除失败')
						}
					}
				});

			};
			
			a.setDefault=function(addrId){
				a.newDefault={
					address_id : addrId,
					userId : localStorage.userId,
					is_default :2
				};
				
				$.ajax({
					type:"post",
					url:API+"/User/userAddressDefault",
					async:true,
					data:a.newDefault,
					success:function(data){
						if(data.status==1){
							a.alert('设置成功');
						}else{
							a.alert('设置失败');
						}
						a.$apply();
					}
				});
				
			}

		}])
	</script>
</block>