<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">

</block>
<block name="content">
    <div class="double_carrier">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">双创载体</h1>
        </ion-header>

        <ion-content overflow-scroll="true" has-bouncing="false">
            <div class="content">
                <a href="double_carrier_details.html">
                    <div class="list">
                        <div class="item item-thumbnail-left"  >
                            <img src="__STATIC__/wap/images/find/carrier1.png">
                            <p class="word title">中铁产业园创新孵化器</p>
                            <p class="word">管理机构：中铁产业园（成都）投资发展有限公司</p>
                            <p class="word">地址：四川省成都市金牛区金凤凰大道666号</p>
                            <p class="word">联系电话：028-62308973</p>
                        </div>
                    </div>
                </a>


                <div class="list list1">
                    <div class="item item-thumbnail-left">
                        <img src="__STATIC__/wap/images/find/carrier2.png">
                        <p class="word title">成都府河电气孵化器</p>
                        <p class="word">管理机构：成都府河电气发展有限公司</p>
                        <p class="word">地址：高新区高朋大道12号</p>
                        <p class="word">联系电话：85127515<i>传真：85127515</i></p>
                    </div>
                </div>

                <div class="list list1 list2">
                    <div class="item item-thumbnail-left">
                        <img src="__STATIC__/wap/images/find/carrier3.png">
                        <p class="word title">交大创客空间</p>
                        <p class="word">管理机构：西南交通大学</p>
                        <p class="word">地址：西南交通大学工程训练中心</p>
                        <p class="word">联系电话：13730815803</p>
                    </div>
                </div>

                <div class="list list1 list2">
                    <div class="item item-thumbnail-left">
                        <img src="__STATIC__/wap/images/find/carrier4.png">
                        <p class="word title">中铁产业园创新孵化器</p>
                        <p class="word">管理机构：中铁产业园（成都）投资发展有限公司</p>
                        <p class="word">地址：四川省成都市金牛区金凤凰大道666号</p>
                        <p class="word">联系电话：028-62308973</p>
                    </div>
                </div>

                <div class="list list1 list2">
                    <div class="item item-thumbnail-left">
                        <img src="__STATIC__/wap/images/find/carrier5.png">
                        <p class="word title">天府软件园（省级孵化器）</p>
                        <p class="word">管理机构：成都天府软件园有限公司</p>
                        <p class="word">地址：成都高新区天府软件园D区D5负一层</p>
                        <p class="word">联系电话：028-62308973/028-62301472</p>
                    </div>
                </div>

            </div>
        </ion-content>
    </div>
</block>

<block name="footer_js">


</block>