<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
</block>
<block name="content">
    <div class="page-contact page-download" ng-controller='appCtrl'>
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">app下载</h1>
        </ion-header>
        <ion-scroll class="has-header" zooming="true" direction="y" style="width: 100%; height:100%">
        <div class="content">
            <div class="logo"><img src=" __STATIC__/wap/images/myCenter/Contact/contact1.png"></div>
            <div class="heading">
            	<p style="font-size: 30px;color: #e76c2c;font-weight: bold;text-align: center;line-height: 80px;">楚天·云端小城</p>
            	<!--<img src=" __STATIC__/wap/images/myCenter/Contact/contact2.png">-->
            </div>
        </div>

        <div class="list download-list">
            <div class="item" ng-click='popcode("ios")'>
                <img src=" __STATIC__/wap/images/myCenter/Download/iPhone.png">
            </div>
            <div class="item" ng-click='popcode("and")'>
            	
                <img src=" __STATIC__/wap/images/myCenter/Download/android.png">
            </div>

        </div>
       </ion-scroll>

    </div>
</block>

<block name="footer_js">
<script>
	app.controller('appCtrl',['$scope','$ionicPopup',function(a,pop){
		var imgUrl='';
		a.popcode=function(type){
			if(type=='and'){
				imgUrl=IMG+'/Public/static/wap/images/andapp';
			}else if(type=='ios'){
				imgUrl=IMG+'/Public/static/wap/images/iosapp.jpg';
			}
			
			
			var myPopup = pop.show({
			template: '<img src="'+imgUrl+'" style="width:100%;"/>',
			title: "扫描二维码",
			scope: a,
			buttons: [{
				text: '返回'
			} ]
		});
		}
	}])
</script>
</block>