<extend name="Public/base" />
<block name="headerCss">
   <style>
   		.adresslist{}
   		.adresslist .address{}
   		.adresslist .edit{background: #fefefe;}
   		textarea{width: 100%;line-height: 18px;height: 72px;}
   		.row+.row{margin-top: 0px;padding: 5px;}
   </style>
    
</block>
<block name="content">
    <div class="page-address" ng-controller='newAddressCtrl'>
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">地址管理</h1>
            
        </ion-header>

        <ion-content has-bouncing='true' overflow-scroll='false' class='has-header bg-f5' >
        	<div class="adresslist">
        		<div class="address mb-20 bg-white">
        			<div class="row ub ub-ac bb-1">
        				<div class="col col-25 text-444">
        					联系人
        				</div>
        				<div class="col col-75 text-888 text-12">
        					<input type="text" name="" id="" value="" ng-model='newaddr.concat_name'/>
        				</div>
        			</div>
        			<div class="row  ub ub-ac bb-1">
        				<div class="col col-25 text-444">
        					联系电话
        				</div>
        				<div class="col col-75 text-888 text-12">
        					<input type="tel" name="" id="" value=""  ng-model='newaddr.concat_tel'/>
        				</div>
        			</div><div class="row  ub ub-ac bb-1">
        				<div class="col col-25 text-444">
        					省
        				</div>
        				<div class="col col-75 text-888 text-12">
        					<input type="text" name="" id="" value=""  ng-model='newaddr.province'/>
        				</div>
        			</div>
        			<div class="row  ub ub-ac bb-1">
        				<div class="col col-25 text-444">
        					市
        				</div>
        				<div class="col col-75 text-888 text-12">
        					<input type="text" name="" id="" value=""  ng-model='newaddr.city'/>
        				</div>
        			</div>
        			<div class="row  ub ub-ac bb-1">
        				<div class="col col-25 text-444">
        					区(镇)
        				</div>
        				<div class="col col-75 text-888 text-12">
        					<input type="text" name="" id="" value=""  ng-model='newaddr.area'/>
        				</div>
        			</div>
        			<div class="p-10">
        				<p>详细地址</p>
        				<textarea placeholder="请输入详细地址"  ng-model='newaddr.concat_address'></textarea>
        			</div>
        			
        		</div>
        		
        		<div class="mt-10 p-10 ub ub-ac bg-white">
        			<div class="ub-f1 pv-5">
        				设为默认地址
        			</div>
        			<i class="mr-5 ml-5 radio"><input type="checkbox" class="regular-radio" name='fee_information'  ng-model='newaddr.isdefault'/><label></label></i>
        		</div>
        		<div class="p-15">
        			
        		</div>
        		<div class="p-10 mt-10">
        			<button class="button button-energized button-block" ng-click="submit()">保存</button>
        		</div>
        		
        	</div>
        </ion-content>
    </div>
</block>

<block name="footer_js">
<script>
	app.controller('newAddressCtrl',['$scope','$ionicLoading','verify',function(a, loading, verify){
		a.newaddr={};
		var getAddrId=getQueryString('address_id');
		if(getAddrId){
			//获取当前地址信息
			$.ajax({
				type:"post",
				url:API+"/User/getOneAddres",
				async:true,
				data:{address_id:getAddrId},
				success:function(data){
					
					a.newaddr=data.returnData;
					if(a.newaddr.is_default==2){
						a.newaddr.is_default=true;
						a.newaddr.isdefault=true;
					}else{
						a.newaddr.is_default=false;
						a.newaddr.isdefault=false;
					}
					console.log(a.newaddr);
					a.$apply();
				}
			});
			
		}else{
			a.newaddr={};
		}
		
		
		
		
		a.submit=function(){
			a.newaddr.userId=localStorage.userId;
			if(!a.newaddr.concat_name){
				a.alert('请输入联系人姓名！');
				return false;
			}
			if(!a.newaddr.concat_tel){
				a.alert('请输入联系人手机号码！');
				return false;
			}
			if(!verify.tel(a.newaddr.concat_tel)){
				a.alert('请输入正确的手机号码！');
				return false;
			}
			if(!a.newaddr.province||!a.newaddr.city||!a.newaddr.area){
				a.alert('请输入所在省/市/区！');
				return false;
			}
			if(!a.newaddr.concat_address){
				a.alert('请输入详细地址！');
				return false;
			}
			if(a.newaddr.isdefault){
				a.newaddr.is_default=2;
			}else{
				a.newaddr.is_default=1;
			}
			console.log(a.newaddr);
			
			$.ajax({
				type:"post",
				url:API+"/User/userAddressEdit",
				data:a.newaddr,
				success:function(data){
					console.log(data);
					if(data.status==1){
						a.alert('保存成功');
						
						setTimeout(function(){
							window.history.back(-1);
						},200)
					}else{
						a.alert(data.message);
					}
				}
			});
		}
		
	}])
</script>
</block>