<extend name="Public/base" />
<block name="headerCss">
	<style>
		label.head_img {
			position: relative;
		}
		
		label.head_img input[type=file] {
			width: 100%;
			height: 100%;
			opacity: 0;
			-webkit-appearance: none;
			appearance: none;
			display: block;
			top: 0;
			left: 0;
			position: absolute;
			z-index: 100;
		}
		
		label.head_img #docImg {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			overflow: hidden;
		}
	</style>
</block>
<block name="content">
	<div class="page-information bg-f5" ng-controller='personInfoCtrl'>

		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">个人信息</h1>
		</ion-header>

		<ion-content class="has-header bg-f5" has-bouncing='true' overflow-scroll='false'>

			<!--<input type="file" id="imgdoc" name="file" accept="image/*" style="display: none;" /></label>-->
			<!--<div class="p-10 ub ub-ac bb-1 mb-10 bg-white">
				<div class="ub ub-ac ub-f1" ng-click="update_tx()">
					<div class="ub-f1">
						头像
					</div>
					<label class="head_img">
						<img ng-src="{{userInfo.header_img}}"  />
					</label>
				</div>
				<div>

					<i class="icon ion-ios-arrow-right ml-10"></i>
				</div>
			</div>-->
			<div class="p-10 ub ub-ac bb-1 bg-white" ng-click='showPopup("请输入您的姓名","real_name")'>
				<div class="ub-f1">
					姓名
				</div>
				<div>
					<span ng-bind='userInfo.real_name' class="text-12 text-888"></span><i class="icon ion-ios-arrow-right ml-10"></i>
				</div>
			</div>
			<div class="p-10 ub ub-ac bb-1 bg-white" ng-click='showPopup("请输入您的手机号","user_name")'>
				<div class="ub-f1">
					手机号
				</div>
				<div>
					<span ng-bind='userInfo.user_name' class="text-12 text-888"></span><i class="icon ion-ios-arrow-right ml-10"></i>
				</div>
			</div>
			<div class="p-10 ub ub-ac bb-1 bg-white" ng-click='showPopup("请输入您的身份证号","id_card")'>
				<div class="ub-f1">
					身份证号
				</div>
				<div>
					<span ng-bind='userInfo.id_card' class="text-12 text-888"></span><i class="icon ion-ios-arrow-right ml-10"></i>
				</div>
			</div>
			<div class="p-10 ub ub-ac bb-1 bg-white" ng-click='showPopup("请输入您的新密码","user_passwd")'>
				<div class="ub-f1">
					修改密码
				</div>
				<div>
					<span ng-bind='userInfo.user_passwd' class="text-12 text-888" style="visibility: hidden;"></span>
					<i class="icon ion-ios-arrow-right ml-10"></i>
				</div>
			</div>
			<div class="p-10 ub ub-ac bb-1 bg-white" ng-click='showConfirm()'>
				<div class="ub-f1">
					退出登录
				</div>
				<div>
					<i class="icon ion-ios-arrow-right ml-10"></i>
				</div>
			</div>

			<div class="p-10 mt-10">
				<button class="button button-block button-energized" ng-click='updateUserInfo()' ng-disabled='oldUserInfo===userInfo'>确认修改</button>
			</div>
		</ion-content>

	</div>
</block>

<block name="footer_js">
	<script src="__STATIC__/wap/js/userInfo.js"></script>

</block>