<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='airCtrl'>
		
	
	<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">飞机票</h1>
			</ion-header>
			
			<div class="ub-f1 has-header bg-white">
				<ion-content has-bouncing='true' overflow-scroll='false'>
					
					<!--顶部切换-->
					<div class="tiket-head ub ub-pc">
						<div class="type checked" rel='single' ng-click='checked()'>
							单程
						</div>
						<div class="type" rel='double' ng-click='checked()'>
							往返
						</div>
					</div>
					<!--起始城市-->
					<div class="travel_addr ub ub-ac ub-pc p-10 bb-1">
						<div class="p-10 text-center ub-f1" ng-model="area_s" mobiscroll-scroller="area">
							<p class="text-888 pb-10">出发城市</p>
							<p class="text-20" ng-bind='(area_s)?area_s:"起始"'></p>
						</div>
						<div class="p-10">
							<img src="__STATIC__/wap/images/travel/return.png"/>
						</div>
						
						<div class="p-10 text-center  ub-f1" ng-model="area_end" mobiscroll-scroller="area">
							<p class="text-888 pb-10">到达城市</p>
							<p class="text-20" ng-bind='(area_end)?area_end:"终止"'></p>
						</div>
					</div>
					<!--出发日期-->
					<div class="mb-20">
						
					
					<div class="travel_date p-10 bb-1">
						<div class="ub ub-ac title">
							<i class="icon ion-ios-calendar-outline text-20 text-888 mr-5"></i>
							<div class="ub-f1">
								<p class="text-888 pv-5 m-0 text-14 p-0">出发日期</p>
							</div>
						</div>
						<div class="date text-20" id="startDate" onclick="startDate()" ng-bind='startDate'></div>
					</div>
					<!--返回日期-->
					<div class="travel_date p-10 bb-1" ng-show="state=='double'">
						<div class="ub ub-ac title">
							<i class="icon ion-ios-calendar-outline text-20 text-888 mr-5"></i>
							<div class="ub-f1">
								<p class="text-888 pv-5 m-0 text-14 p-0">返回日期</p>
							</div>
						</div>
						<div class="date text-20" id="endDate" onclick="endDate()" ng-bind='endDate'></div>
					</div>
					</div>
					<!--查询-->
					<div class="p-10">
						<a href="airlist" class="button button-block button-energized">查询</a>
					</div>
				</ion-content>
			</div>
			</div>
</block>
<block name="footer_js">
      <script type="text/javascript" src="__STATIC__/js/core.js" ></script>
		<script>
		
			app.controller('airCtrl', ['$scope',"$ionicPosition", "$timeout", function(a,b, c) {
				
				$('.type').click(function(){
					$(this).addClass('checked').siblings().removeClass('checked');
					a.state=$('.checked').attr('rel');
				})
				
				//行程时间
				a.startDate=new Date().toLocaleDateString();
				a.endDate=new Date().toLocaleDateString();
				
				//地区
				a.getCity();
		
				
				
			}])
			
			
			
			
			function startDate(){
			   new yxCalendar({
			            date: $('#startDate').html(),
			            callback:function(date){
			                $('#startDate').html(date)
			                $("input[name=time]").val(date);
			            }
			        });
			    }
			function endDate(){
			   new yxCalendar({
			            date: $('#endDate').html(),
			            callback:function(date){
			                $('#endDate').html(date)
			                $("input[name=time]").val(date);
			            }
			        });
			    }
			
		</script>
</block>
