<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='breakCarCtrl'>
		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">违章查询</h1>
				
			</ion-header>
		</div>
		<div class="ub-f1 bg-f5 f1-hid">
			<ion-content has-bouncing='true' overflow-scroll='false'>
			<div class="ph-10 break-car bg-white mb-20 mt-10 bv-1">
				<div class="ub ub-ac bb-1">
					<div class="ub-f1 row row-no-padding lh-50">
						<div class="col col-50">
							号牌种类
						</div>
						<div class="col col-50 text-drak-yellow pl-10">
							小型汽车
						</div>
					</div>
					<i class="icon ion-ios-arrow-right ml-10 text-888"></i>
				</div>
				<div class="ub ub-ac bb-1">
					<div class="ub-f1 row row-no-padding lh-50">
						<div class="col col-50">
							车牌号码<span class="t-yellow-red carcode">川</span>
						</div>
						<div class="col col-50 text-drak-yellow">
							<input type="number" name="" id="" value="" placeholder="请输入车牌号码"/>
						</div>
					</div>
					<i class="icon ion-ios-arrow-right ml-10 text-888"></i>
				</div>
				<div class="ub ub-ac">
					<div class="ub-f1 row row-no-padding lh-50">
						<div class="col col-50">
							车架号
						</div>
						<div class="col col-50 text-drak-yellow">
							<input type="number" name="" id="" value="" placeholder="请输入车架号后六位"/>
						</div>
					</div>
					<i class="icon ion-ios-arrow-right ml-10 text-888"></i>
				</div>
			</div>
			<div class="p-10">
				<a href="break_car_result" class="button button-energized button-block">查询</a>
			</div>
			</ion-content>
		</div>
		
	</div>
	
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/core.js"></script>
	<script>
		app.controller('breakCarCtrl', ['$scope', 'verify', function(scope, verify) {
		}])
	</script>
</block>