<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='breakCarCtrl'>
		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">违章查询</h1>
				
			</ion-header>
		</div>
		<div class="ub-f1 bg-white f1-hid">
			<ion-content has-bouncing='true' overflow-scroll='false'>
			<!--基本信息-->
			<div class="p-10 break_car_info">
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">车牌号码</div>
					<div class="col col-66">川A93CC0</div>
				</div>
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">号牌种类</div>
					<div class="col col-66">小型汽车</div>
				</div>
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">抵押标记</div>
					<div class="col col-66">未开通</div>
				</div>
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">初始登记日期</div>
					<div class="col col-66">2016-4-29</div>
				</div>
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">检验有效期止</div>
					<div class="col col-66">2018-5-9</div>
				</div>
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">强制报废期止</div>
					<div class="col col-66">2099-12-9</div>
				</div>
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">机动车状态</div>
					<div class="col col-66">G违法未处理</div>
				</div>
				<div class="row bb-1 pv-10">
					<div class="col col-33 text-888">登记机关</div>
					<div class="col col-66">川A</div>
				</div>
			</div>
			
			
			<div class="p-10">
				<a href="break_car_result" class="button button-energized button-block">返回</a>
			</div>
			</ion-content>
		</div>
		
	</div>
	
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/core.js"></script>
	<script>
		app.controller('breakCarCtrl', ['$scope', 'verify', function(scope, verify) {


		}])
	</script>
</block>