<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='cardlistCtrl'>

		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">手机充值</h1>
			</ion-header>
		</div>

		<div class="ub-f1 bg-white">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="cardlist">
					<div class="card redcard mb-10">
						<div class="top">
							<div class="ub ub-ac">
								<img class="w-35 mr-5" src="__STATIC__/wap/images/travel/zhaoshang.png"/>
								<div class="ub-f1">
									<p class="text-16 mb-5">招商银行</p>
									<p>李晓旭 | 尾号1314</p>
								</div>
								<div class="p-10">
									<a href="repayment" class="repayment text-12">还款</a>
								</div>
							</div>
						</div>
						<a href="#" class="bot text-12">
							查询信用卡账单
						</a>
					</div><div class="card bluecard mb-10">
						<div class="top">
							<div class="ub ub-ac">
								<img class="w-35 mr-5" src="__STATIC__/wap/images/travel/jiaotong.png"/>
								<div class="ub-f1">
									<p class="text-16 mb-5">交通银行</p>
									<p>李晓旭 | 尾号4404</p>
								</div>
								<div class="p-10">
									<a href="repayment" class="repayment text-12">还款</a>
								</div>
							</div>
						</div>
						<a href="#" class="bot text-12">
							查询信用卡账单
						</a>
					</div>
					
					<a href="#" class="addcard"><i class="icon ion-plus-round mr-10"></i>添加信用卡</a>
				</div>
			</ion-content>
		</div>
		
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('cardlistCtrl', ['$scope', "$ionicPosition", "$timeout", function(a, b, c) {


		}])

		
	</script>
</block>