<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="ub ub-ver up bg-f5">
		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">城区</h1>
			</ion-header>
		</div>
		<div class="ub-f1">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="citilist p-10">
					<div class="city_item">
						<img class="w-1" class="w-1" src="__STATIC__/wap/images/travel/citilistpic.png"/>
						<div class="intr ub ub-ac">
							<div class="ub-f1 text-center text-fff">
								<div class="mb-5 text-16">西蜀第一街·锦里</div>
								<span class="has-line">成都</span>
								<a href="citilist_detail" class="linkbtn">活动详情</a>
							</div>
						</div>
					</div>
					<div class="city_item">
						<img class="w-1" class="w-1" src="__STATIC__/wap/images/travel/citilistpic.png"/>
						<div class="intr ub ub-ac">
							<div class="ub-f1 text-center text-fff">
								<div class="mb-5 text-16">西蜀第一街·锦里</div>
								<span class="has-line">成都</span>
								<a href="citilist_detail" class="linkbtn">活动详情</a>
							</div>
						</div>
					</div>
					<div class="city_item">
						<img class="w-1" class="w-1" src="__STATIC__/wap/images/travel/citilistpic.png"/>
						<div class="intr ub ub-ac">
							<div class="ub-f1 text-center text-fff">
								<div class="mb-5 text-16">西蜀第一街·锦里</div>
								<span class="has-line">成都</span>
								<a href="citilist_detail" class="linkbtn">活动详情</a>
							</div>
						</div>
					</div>
				</div>
			</ion-content>
		</div>
		
	</div>
</block>
<block name="footer_js">	
</block>