<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="ub ub-ver up bg-f5">
		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">锦里</h1>
			</ion-header>
		</div>
		<div class="ub-f1">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="citilist">
					<div class="city_item">
						<img class="w-1" src="__STATIC__/wap/images/travel/citilistpic.png"/>
						<div class="intr ub ub-ac">
							<div class="ub-f1 text-center text-fff">
								<div class="mb-5 text-16">西蜀第一街·锦里</div>
								<span class="has-line">成都</span>
								<div class="mt-10 text-12">已参与人数：265419</div>
							</div>
						</div>
					</div>
					<div class="p-10 text-center">
						<a href="#" class="btn-buy mb-10">立即购票</a>
					</div>
				</div>
				<div>
					<div class="p-5 bg-e0">
						活动详情
					</div>
					<div class="p-10">
						<article>
							<p>传说中锦里曾是西蜀历史上最古老、最具有商业气息的街道之一，早在秦汉、三国时期便闻名全国。现在，锦里占地30000余平方米，建筑面积14000余万平方米，街道全长550米，以明末清初川西民居作外衣，三国文化与成都民俗作内涵，集旅游购物、休闲娱乐为一体。</p>
							<p>成都版清明上河图——“锦里”，是感受浪漫休闲的精神驿站，是体验三国文化与成都民俗的魅力街区。</p>
							<img class="w-1" class="w-1" src="__STATIC__/wap/images/travel/jinlipic1.png"/>
							<p>传说中锦里曾是西蜀历史上最古老、最具有商业气息的街道之一，早在秦汉、三国时期便闻名全国。现在，锦里占地30000余平方米，建筑面积14000余万平方米，街道全长550米，以明末清初川西民居作外衣，三国文化与成都民俗作内涵，集旅游购物、休闲娱乐为一体。</p>
							<p>成都版清明上河图——“锦里”，是感受浪漫休闲的精神驿站，是体验三国文化与成都民俗的魅力街区。</p>
							<img class="w-1" class="w-1" src="__STATIC__/wap/images/travel/jinlipic1.png"/>
							<p>传说中锦里曾是西蜀历史上最古老、最具有商业气息的街道之一，早在秦汉、三国时期便闻名全国。现在，锦里占地30000余平方米，建筑面积14000余万平方米，街道全长550米，以明末清初川西民居作外衣，三国文化与成都民俗作内涵，集旅游购物、休闲娱乐为一体。</p>
							<p>成都版清明上河图——“锦里”，是感受浪漫休闲的精神驿站，是体验三国文化与成都民俗的魅力街区。</p>
							<img class="w-1" class="w-1" src="__STATIC__/wap/images/travel/jinlipic1.png"/>
						</article>
					</div>
				</div>
			</ion-content>
		</div>
		
	</div>
</block>
<block name="footer_js">	
</block>