<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='communityCtrl'>
		
	
	<ion-header class='bar bar-header bar-light'>
			<a href="index" class="button button-clear" ><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">社区服务</h1>
			</ion-header>

			<div class="ub-f1 has-header bg-f5">
				<ion-content has-bouncing='true' overflow-scroll='false'>
					<div class="community">
						<div class="row row-wrap">
							<a href="waterfeeIframe" class="col col-33 text-center"><!--waterfee-->
								<i class="feeicon"><img src="__STATIC__/wap/images/travel/waterfee.png"/></i>
								<p>水费</p>
							</a>
							<a href="electricityfeeIframe" class="col col-33 text-center"><!---->
								<i class="feeicon"><img src="__STATIC__/wap/images/travel/electricityfee.png"/></i>
								<p>电费</p>
							</a>
							<a href="gasfeeIframe" class="col col-33 text-center"><!---->
								<i class="feeicon"><img src="__STATIC__/wap/images/travel/gasfee.png"/></i>
								<p>气费</p>
							</a>
							<a href="TVfeeIframe" class="col col-33 text-center"><!---->
								<i class="feeicon"><img src="__STATIC__/wap/images/travel/TVfee.png"/></i>
								<p>有线电视</p>
							</a>
							<a href="phonefeeIframe" class="col col-33 text-center"><!---->
								<i class="feeicon"><img src="__STATIC__/wap/images/travel/phonefee.png"/></i>
								<p>固话宽带</p>
							</a>
							<a ng-click='alert("敬请期待")' class="col col-33 text-center"><!--href="propertyfee"-->
								<i class="feeicon"><img src="__STATIC__/wap/images/travel/propertyfee.png"/></i>
								<p>物管费</p>
							</a>
						</div>
					</div>
				</ion-content>
			</div>
			</div>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js" ></script>
      <script type="text/javascript" src="__STATIC__/js/core.js" ></script>
		<script>
		
			app.controller('communityCtrl', ['$scope',function(a) {
				
				
				
			}])
			
		</script>
</block>
