<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/main.css">

	<style>
		
	</style>
</block>
<block name="content">
	<ion-header class='bar bar-header bar-light'>
		<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
		<h1 class="title">医学常识</h1>
	</ion-header>
	<!--以下为医疗保健的具体页面内容-->
	<div>
		

	</div>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
</block>
