<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
</block>
<block name="content">
    <div class="double-activity-details">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">活动详情</h1>
        </ion-header>

        <ion-content overflow-scroll="true" has-bouncing="false">
            <!-------   内容部分   ------>
            <div class="content">
            <div class="banner"> <img src="__STATIC__/wap/images/find/activity5.png"></div>
                <div class="place">
                    <div class="list list1">
                        <div class="item item-divider">
                            <i class="titlename">多有米创业互动课堂走进创客智联—答疑模式</i>
                        </div>
                    </div>
                    <div class="list list2">
                        <div class="item item-divider">
                            <i class="ion-ios-time-outline"></i>
                            2016/07/23 周六14:00～18:00
                        </div>
                    </div>
                    <div class="list list2">
                        <div class="item item-divider">
                            <i class=""></i>
                            南山区海天二路软件产业基地5栋D座6层602室
                        </div>
                    </div>
                    <div class="list list2">
                        <div class="item item-divider">
                            <i></i>
                            主办方：微链|创客智联|码客帮|多有米
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="empty"></div>
                    <div class="title title1"><p class="titlename">嘉宾</p></div>
                    <div class="list">
                        <div class="item item-avatar">
                            <img src="__STATIC__/wap/images/find/activity_details4.png">
                            <h2>张燕君</h2>
                            <p>产品总监  深圳多有米网络技术有限公司</p>
                        </div>
                        <div class="item item-avatar">
                            <img src="__STATIC__/wap/images/find/activity_details5.png">
                            <h2>赵广</h2>
                            <p>CEO  码客帮</p>
                        </div>
                        <div class="item item-avatar">
                            <img src="__STATIC__/wap/images/find/activity_details6.png">
                            <h2>谢德山</h2>
                            <p>产品总监  深圳多有米网络技术有限公司</p>
                        </div>
                    </div>
                    <div class="word">
                        <p class="word1">很多人想创业却苦于没有勇气和经验，每天只能去幻想。</p>
                        <p class="word1">一些人创业了却走进很多陷阱，才知道创业的路上布满荆棘。</p>
                        <p class="word1">还有人担心成功后，大家分配不合理，因为之前没有把话说清楚。</p>
                        <p class="word2">马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                           马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                           马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                        </p>
                        <p class="word3 titlename">演讲干货及安排</p>
                        <div class="row">
                            <div class="col col-25">干货输出公司</div>
                            <div class="col col-25">演讲主题</div>
                            <div class="col col-25">时间</div>
                            <div class="col col-25">演讲人</div>
                        </div>
                        <div class="row">
                            <div class="col col-25">码客帮</div>
                            <div class="col col-25">互联网创业的CEO需要哪些比内技术常识</div>
                            <div class="col col-25">14:00-15:00</div>
                            <div class="col col-25">赵广</div>
                        </div>
                        <div class="row">
                            <div class="col col-25">多有米</div>
                            <div class="col col-25">创业团队初期如何从注册公司开始打好财税基础</div>
                            <div class="col col-25">15:00-16:30</div>
                            <div class="col col-25">张燕君</div>
                        </div>
                        <div class="row">
                            <div class="col col-25">创客智联</div>
                            <div class="col col-25">创业股权架构分享</div>
                            <div class="col col-25">15:00-16:30</div>
                            <div class="col col-25">谢得山</div>
                        </div>
                        <div class="row row1">
                            <div class="col col-25">疑难解答</div>
                            <div class="col col-25">分享交流互动（参加活动的小伙伴们，可以根据自己面临的实际情况咨询相关活动嘉宾）</div>
                            <div class="col col-25">15:00-16:30</div>
                            <div class="col col-25">谢得山</div>
                        </div>
                        <p class="word3 titlename">主办方</p>
                        <div class="banner"><img src="__STATIC__/wap/images/find/activity_details7.png"></div>
                        <p class="word2">马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                            马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                            马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                        </p>
                        <div class="banner"><img src="__STATIC__/wap/images/find/activity_details8.png"></div>
                        <p class="word2">马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                            马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                            马云曾经说过：梦想还是有的，万一实现了呢？总所周知,每个人都有自己的梦想，梦想不分大小，不分先后顺序。
                        </p>
                    </div>
                </div>
                <button class="button button-block button-energized">立即报名</button>
            </div>
        </ion-content>
    </div>
</block>

<block name="footer_js">

</block>