<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
     <style type="text/css">
     	p.title{height: 34px;overflow: hidden;text-overflow: clip;white-space: normal; line-height: 17px;}
     	p.word{padding-top: 0.5rem;font-size: 1.2rem;}     	
     	p.time .ion{color: orange;padding-right: 0.5rem;}
     	i.left{margin-right: 0.5rem;}
     	p.time i{font-size: 1.2rem;}
     </style>
</block>
<block name="content">
   <ion-view ng-controller="Ctrl">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">双创活动</h1>
        </ion-header>

        <ion-content overflow-scroll="true" has-bouncing="false" class="has-header">
        	 <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">
			</ion-refresher>
                    
				<a href="{{API}}/Double/serviceActivityInfo?activeId={{item.service_activity_id}}" ng-repeat="item in list">
                    <div class="item item-thumbnail-left">
                        <img ng-src="{{(item.service_activity_img)?item.service_activity_img:IMG+'/Public/static/wap/images/nopix.png'}}">
                        <p class="title" ng-bind='item.service_activity_name'></p>
                        <p class="word word1">主办方：<i ng-repeat="danwei in item.host" ng-bind="danwei+'&nbsp'+'|'+'&nbsp'"></i></p>
                        <p class="time">
                           <i class="ion ion-ios-time-outline"></i><i class="left" ng-bind='getLocalDate(item.service_activity_starttime)'></i>
                           <i class="ion ion-ios-location-outline"></i><i class="left">成都</i>
                           <!--<i class="ion left">98</i>-->
                        </p>
                    </div>
                     </a>
                 
          <ion-infinite-scroll distance=" 1% " on-infinite="initail() " ng-if="hasMore ">
            </ion-infinite-scroll>
            <div style="line-height: 3rem;text-align: center;color:orange; " ng-if="!hasMore ">没有更多数据</div> 
        </ion-content>
   </ion-view>
</block>

<block name="footer_js">
	
<script type="text/javascript">
		app.controller("Ctrl",function($scope,$ionicLoading){
		
		$scope.list = [];
		$scope.pageIndex = 0;
		$scope.hasMore = true;
		
		 
		$scope.initail=function(){
			 $.ajax({
            type:"post",
            url:API+"/Double/serviceActivity",
            data:{offset:$scope.pageIndex},
            dataType:'json',
            success:function(data){
            console.log(data.returnData);                   
             $.each(data.returnData, function(i,arr) {
             	$scope.list.push(arr);
             	$scope.$apply();   
             	
             });
             
             
             if(data.returnData<20){
             	$scope.hasMore = false;
             }
             $scope.pageIndex++;
             $scope.$broadcast('scroll.infiniteScrollComplete');
			 $scope.$broadcast('scroll.refreshComplete');	
             
            }
        });
		};
		
       
		$scope.doRefresh = function(){
			$scope.list = [];
			$scope.hasMore = true;
			$scope.pageIndex = 0;
			$scope.initail();
		};
		
		});

    
                    
   </script>
                    
</block>
