
<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
    <style type="text/css">
    	.pic{height: 200px;}
    </style>
</block>
<block name="content">
    <div class="page-double" ng-controller="doubleCtrl">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">双创</h1>
        </ion-header>

        <ion-content overflow-scroll="false" has-bouncing="true">
       <div class="content">

           <!---    轮播区域       ---->

           <div class="banner">
               <ion-slide-box auto-play="true" slide-interval="2500" ng-show="banner" show-pager="true" does-continue="true" active-slide="activeIndex" delegate-handle="image-viewer">
                   <ion-slide ng-repeat=" pic in banner "><a href="#" class="box"><img ng-src="{{pic.advertise_photo}}" class="pic" /></a></ion-slide>
               </ion-slide-box>
           </div>

           <!-------   双创活动  ------>
           <div class="row">
               <div class="col col-100 ">双创活动</div>
           </div>

           <div class="list">
               <a ng-repeat="item in allService" href="{{API}}/Double/serviceActivityInfo?activeId={{item.service_activity_id}}" >
                   <div class="item item-thumbnail-left">
                       <img ng-src="{{item.service_activity_img}}">
                       <p class="title" ng-bind="item.service_activity_name"></p>
                       <p class="time" ng-bind="getLocalDate(item.addtime)"></p>
                   </div>
               </a>

           </div>

           <!--------     双创合作模块        ------->
          <div class="double-option" >
              <div class="row">
                  <div class="col col-25 col-first"><a href="double_cooperate"><img src="__STATIC__/wap/images/find/d-icon1.png"><i>双创合作</i></a></div>
                  <div class="col col-25 col-first"><a href="double_policy"><img src="__STATIC__/wap/images/find/d-icon2.png"><i>双创政策</i></a></div>
                  <div class="col col-25"><a href="double_team"><img src="__STATIC__/wap/images/find/d-icon3.png"><i>双创团队</i></a></div>
                  <div class="col col-25"><a href="double_product"><img src="__STATIC__/wap/images/find/d-icon4.png"><i>双创产品</i></a></div>
              </div>
              <div class="row">
                  <div class="col col-25 col-first"><a href="double_carrier"><img src="__STATIC__/wap/images/find/d-icon5.png"><i>双创载体</i></a></div>
                  <div class="col col-25"><a href="double_school"><img src="__STATIC__/wap/images/find/d-icon6.png"><i>双创学院</i></a></div>
                  <div class="col col-25"><a href="double_activity"><img src="__STATIC__/wap/images/find/d-icon7.png"><i>双创活动</i></a></div>
                  <div class="col col-25"><a href="double_invest"><img src="__STATIC__/wap/images/find/d-icon8.png"><i>双创投资</i></a></div>
              </div>
          </div>

       </div>
     </ion-content>
    </div>
</block>

<block name="footer_js">

    <script type="text/javascript">
        app.controller('doubleCtrl',['$scope','$ionicLoading',"$ionicSlideBoxDelegate",function(a,loading,c){
            a.townId= getQueryString('townId');

            $.ajax({
                type:"post",
                url:API+"/Double/serviceActivityRecommod",
                dataType:'json',
                success:function(data){
                    a.allService=data.returnData;
                    a.$apply();
                    console.log(a.allService);
                }
            });
            
            $.ajax({
            	type:"post",
            	url:API+"/Common/getBanner",
            	async:true,
            	data:{category:21},
            	success:function(data){
            	a.banner =	data.returnData;
            	a.$apply();
            	c.update();
				c.$getByHandle('image-viewer').update();
            	
            	}
            });
            
            
        }]);


    </script>


</block>