<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">

</block>
<block name="content">
    <div class="double_carrier_details">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">双创载体</h1>
        </ion-header>

        <ion-content overflow-scroll="true" has-bouncing="false">
            <div class="content">

                <div class="banner">
                    <img src="__STATIC__/wap/images/find/carrier_details1.png">
                </div>
                <div class="block">
                    <p class="title">载体简介</p>
                    <p class="word">中铁产业园是由世界双500强企业、中国中铁股份有限公司投资，由旗下全资子公司中铁二院工程集团有限公司负责实施的轨道交通主题性产业园。
                        产业园整合了轨道交通产业上下游产业链，实现全产业链产业定位，覆盖从勘察设计、建筑施工、设备制造、运营维护、教育培训等。入驻企业
                        不仅可以共享科研资源和技术资源，也能节约企业的科技研发成本，真正实现从产业链到产业集群的蜕变。自“一带一路”战略推进以来，中国
                        轨道交通海内外市场拓展力度大幅提升。在“高铁外交”的持续攻势下，全球已有28个国家与中国洽谈引进高铁技术或开发合作。目前，中铁二
                        院已中标俄罗斯全长约770公里设计时速400km的莫斯科—喀山段高铁项目设计，埃塞俄比亚有两项共计664公里的高铁项目，并与英国（设计时
                        速400km）、美国达成高铁设计意向。随着中铁二院高项目“走出去”战略成效凸显，高端轨道交通产业对技术研发、创新创业需求将增多、要
                        求也更高，也为轨道交通行业创新创业提供了历史性机遇，因此中铁产业园创新孵化器应运而生，其将成为轨道交通技术创新、项目研发的助推
                        器和生力军，成为中国轨道交通产业创新创业的孵化基地。</p>
                    <p class="word">中铁产业园孵化器自投入运行一年以来，累计入驻各类轨道交通行业相关企业或团队50余家，毕业企业1家。未来中铁产业园创新孵化器计划在3
                        年内，吸纳逾百家的科技企业入驻孵化器。</p>
                </div>

                <div class="banner">
                    <img src="__STATIC__/wap/images/find/carrier_details1.png">
                </div>
                <div class="block">
                    <p class="title">配套服务</p>
                    <p class="word">中铁产业园是由世界双500强企业、中国中铁股份有限公司投资，由旗下全资子公司中铁二院工程集团有限公司负责实施的轨道交通主题性产业园。
                        产业园整合了轨道交通产业上下游产业链，实现全产业链产业定位，覆盖从勘察设计、建筑施工、设备制造、运营维护、教育培训等。入驻企业
                        不仅可以共享科研资源和技术资源，也能节约企业的科技研发成本，真正实现从产业链到产业集群的蜕变。自“一带一路”战略推进以来，中国
                        轨道交通海内外市场拓展力度大幅提升。在“高铁外交”的持续攻势下，全球已有28个国家与中国洽谈引进高铁技术或开发合作。目前，中铁二
                        院已中标俄罗斯全长约770公里设计时速400km的莫斯科—喀山段高铁项目设计，埃塞俄比亚有两项共计664公里的高铁项目，并与英国（设计时
                        速400km）、美国达成高铁设计意向。随着中铁二院高项目“走出去”战略成效凸显，高端轨道交通产业对技术研发、创新创业需求将增多、要
                        求也更高，也为轨道交通行业创新创业提供了历史性机遇，因此中铁产业园创新孵化器应运而生，其将成为轨道交通技术创新、项目研发的助推
                        器和生力军，成为中国轨道交通产业创新创业的孵化基地。</p>
                    <p class="word">中铁产业园孵化器自投入运行一年以来，累计入驻各类轨道交通行业相关企业或团队50余家，毕业企业1家。未来中铁产业园创新孵化器计划在3
                        年内，吸纳逾百家的科技企业入驻孵化器。</p>
                </div>

                <div class="block">
                    <p class="title">招募对象</p>
                    <p>(1)企业主营业务范围属于轨道交通或泛轨道交通相关行业；</p>
                    <p>(2)企业创新、研发方向符合轨道交通产业发展需求；</p>
                    <p>(3)科研人员创业、海归创业、高新技术人才创业将享有优先入驻权。</p>
                </div>

                <div class="block">
                    <p class="title">载体配套优惠</p>
                    <p>(1)入孵企业或团队可享受房租补贴及专项资金支持</p>
                    <p>(2)结合轨道交通勘察、设计、总承包、装备制作及运营维护等全产业链，为入孵化企业提供源源不断的行业创新、创业服务和创业项目及成果转化平台</p>
                    <p>(3)共享公共技术服务平，入孵企业在创业创新过程中可充分利用园区完善的公共实验平台、中试组装平台。</p>
                    <p>(4)享受专业化的创业导师、投融资、培训辅导、咨询等全方位的创新创业服务。</p>
                </div>

                <div class="block">
                    <p class="title">联系方式</p>
                    <p>管理机构：中铁产业园（成都）投资发展有限公司</p>
                    <p><i>地址：四川省成都市金牛区凤凰大道666号</i></p>
                    <p>联系电话：028-62308973</p>
                    <p><i>网址</i>http://www.ztgk.net/</p>
                    <p>微信公众号：A87589999</p>
                    <p><i>传真:</i>028-62318139</p>
                </div>

            </div>
        </ion-content>
    </div>
</block>

<block name="footer_js">

</block>