<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
</block>
<block name="content">
    <div class="double-invest-details">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">机构详情</h1>
        </ion-header>

        <ion-content overflow-scroll="true" has-bouncing="false">
            <!-------   内容部分   ------>
            <div class="content">
            <div class="banner"><img src="__STATIC__/wap/images/find/invest_details.png"></div>
                <div class="plate">
                    <div class="title">机构介绍</div>
                    <p>旺角资本是一家投资管理公司，专注于互联网+娱乐、消费、金融、和新技术邻域的初创型和成长型投资机会，管理资金规模达到10亿人民币。投资案例：寺库，好项目app，热度传媒，BestMinr(百思科技)，YAMI(丫咪科技)，Sensoro(云子)等。</p>
                    <p class="word">旺角投资的有限合伙人之一是香港的曼途资本，曼途资本也是一家投资股份公司，专注于农业、清洁能源、电子商务、材料、资源核心技术邻域的初创型和成长型投资机会，管理资本达到100亿美金。成功投资案例有：Keep,激光推送，积木盒子，KK觅友，苏州红枫（并购推出），保利协鑫能源，也买酒网，Avalon Biomedical,Sana Technology,Arreon Carbon,亿赞普科技等。</p>
                </div>

                <div class="plate plate1">
                    <div class="title">投资领域</div>
                    <div class="logo">
                        <div class="btn btn1"><i>互联网</i></div>
                        <div class="btn"><i>移动互联网</i></div>
                        <div class="btn"><i>金融</i></div>
                        <div class="btn"><i>文化娱乐体育</i></div>
                        <div class="btn"><i>O2O</i></div>
                    </div>
                </div>

                <div class="plate plate2">
                    <div class="title">投资阶段</div>
                    <p>种子天使轮/Pre-A轮/A轮</p>
                </div>

                <div class="plate plate3">
                    <div class="title">投资阶段</div>
                    <div class="row">
                        <div class="col col-50 right">
                            <h2>0</h2>
                            <i class="ion-clock">历史投资</i>
                        </div>
                        <div class="col col-50">
                            <h2>2</h2>
                            <i class="ion-ios-people-outline">机构成员</i>
                        </div>
                    </div>
                </div>

                <div class="plate plate4">
                    <div class="title">构成人员（在职）</div>
                    <div class="list">
                        <div class="item item-avatar">
                            <img src="__STATIC__/wap/images/find/look3.png">
                            <h2>孙继军<i>创始人</i></h2>
                            <p>孙继军，旺家投资创始人，曾在新东方教育科技集团股份有限公司开始了他的职业生涯。担任各种高级职位，直到在2005年公司上市。</p>
                        </div>

                        <div class="item item-avatar">
                            <img src="__STATIC__/wap/images/find/look4.png">
                            <h2>平木川<i>投资经理</i></h2>
                            <p>平木川，旺家投资投资经理</p>
                        </div>

                    </div>

                </div>
            </div>
        </ion-content>
    </div>
</block>

<block name="footer_js">

</block>