<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
</block>
<block name="content">
	<ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
		<button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
		<h1 class="title">详情</h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false" has-bouncing="true">
		<div class="padding">
			<h4 class="jiaoyu_title">教育部有关负责人就《高等学校预防预处理学术不端行为办法答记者问》</h4>
			<span class="date_publish">教育部网站;&nbsp 2016-7-19</span>
			<p class="text-444 zhengwen">
				党的十八大于2012年11月8日至14日在北京举行。大会的主要议程为：听取和审议十七 届中央委员会报告;审议中央纪律检查委员会工作报告;审议通过《中国共产党章程(修正案)》; 选出了新的党中央领导集体。在全体代表共同努力下，大会顺利完成各项议程，取得了圆满成功 。这次大会是在我国进入全面建成小康社会决定性阶段召开的一次十分重要的大会。 　　党的十八届三中全会于2013年11月9日至12日在北京召开。
			</p>
			<p class="ask_title">
				1、问教育界、学术界，对学术不端的行为预防和处理十分关注；请介绍一下《办法》草案的起草背景。
			</p>
			<p class="answer">
				近些年，关于论文抄袭、论文代写、篡改他人学术成果、伪造或者篡改数据、文献等学术不端的行为并非什么新鲜事。但是， 以往出现的学术论文抄袭一般都是学生抄袭学生、学生抄袭老师、老师抄袭老师、国内抄袭国外。但最近发生的学术抄袭行为，却 让人大跌眼镜，副教授居然会抄袭学生的本科毕业论文，而且还凭借抄袭来的文章评上了学院副教授的职称，这让教师队伍的颜面何存？ 又置学术的严肃性于何地？
			</p>
			<p class="ask_title">2、问学术不端的行为预防和处理复杂性、综合性强，请介绍一下《办法》制定过程和思路</p>
			<p class="answer">
				学术不端行为缘何屡禁不止？一方面正如赵井春副教授所解释的那样，教学任务繁重，没有时间静下心来写论文，面对评定职称的压力 ，不得不铤而走险，找人代写或者代发论文。这或许在一定程度上反映出了当前高校以论文数量和质量进行学术评价机制的一些弊端， “论文”作为唯一指标，就容易造成论文的功利化，从而“市场化”。另一方面，是因为针对学术不端行为的整治力度不够大，“板子打得太轻” 。以往一旦出现了学术不端的行为.
			</p>
		</div>
		<!--更多新闻-->
		<div class="footerNews padding">
			<h4 class="footerNav">相关新闻</h4>
			<div class="list">
				<a class="item item-thumbnail-left  a-auto" href="newSpecail.html">
					<img src="__STATIC__/wap/images/find/x3.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
				<a class="item item-thumbnail-left  a-auto" href="#">
					<img src="__STATIC__/wap/images/find/x2.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
				<a class="item item-thumbnail-left  a-auto" href="#">
					<img src="__STATIC__/wap/images/find/x5.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
				<a class="item item-thumbnail-left  a-auto" href="#">
					<img src="__STATIC__/wap/images/find/x4.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
				<a class="item item-thumbnail-left  a-auto" href="#">
					<img src="__STATIC__/wap/images/find/x2.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
				<a class="item item-thumbnail-left  a-auto" href="#">
					<img src="__STATIC__/wap/images/find/x2.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
				<a class="item item-thumbnail-left  a-auto" href="#">
					<img src="__STATIC__/wap/images/find/x2.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
				<a class="item item-thumbnail-left  a-auto" href="#">
					<img src="__STATIC__/wap/images/find/x2.png" alt="图片加载失败">
					<h2>统计局：上半年全国人民收入与经济增长基本同步</h2>
					<p class="footer_p">2016/06/16</p>
				</a>
			</div>
		</div>
	</ion-content>

	<div class="bar bar-footer footerShare row" ng-controller="Ctrl">
		<div class="col footerCol" ng-click="btn()"><i class="icon ion-thumbsup"></i>
			<span class="zanNumber" ng-bind="number" ng-if="number>0"></span></div>
		<div class="col footerCol"><i class="ion ion-ios-star-outline"></i></button>
		</div>
		<div class="col footerCol"><i class="ion ion-ios-shuffle"></i></div>
	</div>

</block>
<block name="footer_js">
	<script>
		app.controller("Ctrl", function($scope) {
					$scope.number = 0;
                    var id=get
					$scope.btn = function($scope.number++
					};
					$.ajax({
								type: "post",
								url: API+"/Edu/eduNewsInfo'+'?newsId='+item.train_news_id",
								success: function(data) {

									$scope.xx = data.returnData;
								});
						})
		});
	</script>
</block>