<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	<ion-view ng-controller="newsIndexCtrl">
	    <ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
        <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
        <h1 class="title">新闻</h1>
    </ion-header-bar>

	    <ion-content overflow-scroll="false" has-bouncing="true" style="background: #f1f1f1">
	    	 <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">
	    	 	
	    	 </ion-refresher>
        <div class="news_list padding">
            <a class="news_item padding-right" ng-repeat="item in allclass" href="{{API}}/Edu/eduNewsInfo?newsId={{item.train_news_id}}">
              <div class="img_wrap">
              	<img ng-src="{{(item.train_news_img)?item.train_news_img:IMG+'/Public/static/wap/images/nopix.png'}}">
              </div>
              <div class="news_brief">
                    <p ng-bind="item.train_news_title"></p>
                    <span class="text-888" ng-bind="getLocalDate(item.train_news_time)"></span>
                    </div>
            </a>           
        </div>
        <ion-infinite-scroll distance="1%" on-infinite="request()" ng-if="hasMore">
            </ion-infinite-scroll>
            <div style="line-height: 3rem;text-align: center;color: orange;" ng-if="!hasMore">没有更多数据</div>
    </ion-content>
</ion-view>
</block>
 	<block name="footer_js">
 		<script>
 		 app.controller("newsIndexCtrl",function($scope,$ionicLoading){ 	
 		 	
 		 	//加载数据等待动画
 		 	$scope.pageIndex=0; 		 	
 		 	$scope.hasMore=true;
 		 	$scope.allclass=[];
 		 	
 		 	$scope.request=function(){
 		 	$.ajax({
 		 		type:"post",
 		 		url:API+"/Edu/eduNews",
 		 		dataType:"json",
 		 		success:function(data){
 		 			console.log(data.returnData)
 		 			$.each(data.returnData, function(i,dom) {
 		 				$scope.allclass.push(dom);
 		 				$scope.$apply();
 		 			});
 		 			if(data.returnData.length<20){
 		 				$scope.hasMore=false;
 		 			} 		 				
 		 			    $scope.pageIndex++;
 		 			    $scope.$broadcast('scroll.infiniteScrollComplete');
					    $scope.$broadcast('scroll.refreshComplete');
 		 		}
 		 	});	
 		 	}
 		 	
 		 	//下拉刷新数据
 		 	$scope.doRefresh=function(){
 		 		$scope.allclass=[];
 		 		$scope.pageIndex=0;
 		 		$scope.hasMore=true;
 		 		$scope.request();
 		 		$scope.$apply();
 		 	}
 		 	
 		 })
		</script>
 	</block>
         
				
				
			
			
			