<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="ub ub-ver up bg-f5">
		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">理财</h1>
			</ion-header>
		</div>
		<div class="ub-f1">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<!--banner-->
				<div class="">
					<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue='true' slide-interval='4000' auto-play='true'>
					  <ion-slide>
					    <img class="w-1" src="__STATIC__/wap/images/travel/financebanner.png"/>
					  </ion-slide>
					  <ion-slide>
					    <img class="w-1" src="__STATIC__/wap/images/travel/financebanner.png"/>
					  </ion-slide>
					  <ion-slide>
					    <img class="w-1" src="__STATIC__/wap/images/travel/financebanner.png"/>
					  </ion-slide>
					</ion-slide-box>
				</div>
				<!--理财-->
				<div class="p-10">
					<div class="financelist">
						<div class="ub ub-ac redcard text-fff p-10 br-t">
							<div class="ub-f1">基金理财</div>
							<span class="text-12"> 查看全部<i class="icon ion-ios-arrow-right ml-5"></i></span>
						</div>
						<div class="finance_items">
							<a href="finance_detail" class="p-10 row bb-1">
								<div class="col col-33">
									<div class="t-yellow-red text-20 mb-5">7.21</div>
									<span class="text-12 text-888">近一年涨幅(%)</span>
								</div>
								<div class="col col-66">
									<div class="text-444 mb-5"><span class="round_font">债</span>安心债</div>
									<span class="bg-purple little_tab">债券基金</span>
								</div>
							</a>
							<a href="finance_detail" class="p-10 row bb-1">
								<div class="col col-33">
									<div class="t-yellow-red text-20 mb-5">7.21</div>
									<span class="text-12 text-888">近一年涨幅(%)</span>
								</div>
								<div class="col col-66">
									<div class="text-444 mb-5"><span class="round_font">债</span>安心债</div>
									<span class="bg-purple little_tab">债券基金</span>
									<span class="bg-blue little_tab">零费率</span>
									<span class="bg-blue little_tab">低风险</span>
								</div>
							</a>
							<a href="finance_detail" class="p-10 row bb-1">
								<div class="col col-33">
									<div class="t-yellow-red text-20 mb-5">7.21</div>
									<span class="text-12 text-888">近一年涨幅(%)</span>
								</div>
								<div class="col col-66">
									<div class="text-444 mb-5"><span class="round_font">债</span>安心债</div>
									<span class="bg-purple little_tab">债券基金</span>
									<span class="bg-blue little_tab">零费率</span>
									<span class="bg-blue little_tab">低风险</span>
								</div>
							</a>
							<a href="finance_detail" class="p-10 row bb-1">
								<div class="col col-33">
									<div class="t-yellow-red text-20 mb-5">7.21</div>
									<span class="text-12 text-888">近一年涨幅(%)</span>
								</div>
								<div class="col col-66">
									<div class="text-444 mb-5"><span class="round_font">债</span>安心债</div>
									<span class="bg-purple little_tab">债券基金</span>
									<span class="bg-blue little_tab">零费率</span>
									<span class="bg-blue little_tab">低风险</span>
								</div>
							</a>
							<a href="finance_detail" class="p-10 row bb-1">
								<div class="col col-33">
									<div class="t-yellow-red text-20 mb-5">7.21</div>
									<span class="text-12 text-888">近一年涨幅(%)</span>
								</div>
								<div class="col col-66">
									<div class="text-444 mb-5"><span class="round_font">债</span>安心债</div>
									<span class="bg-purple little_tab">债券基金</span>
									<span class="bg-blue little_tab">零费率</span>
									<span class="bg-blue little_tab">低风险</span>
								</div>
							</a>
						</div>
						
					</div>
				</div>
					
			</ion-content>
		</div>
		
	</div>
</block>
<block name="footer_js">

</block>
