<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
	
</block>
<block name="content">
		<!--头部区域-->
		<ion-header-bar align-title="center" no-tap-scroll="false" class="myHeader">
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title title_h1">政务新闻</h1>
		</ion-header-bar>
		<!--选项卡区域-->

		<ion-tabs class="tabs-top tabs-striped myTabs">
			<ion-tab title="首页" class="tab-item-energized myTab">
				<!-- 标签 1 内容 -->
				<ion-view ng-controller="govermentNews_Ctrl">
					<ion-content class="myContent myContent_top_79" has-bouncing="true" overflow-scroll="false">
						<!--banner大图轮播区-->
						<ion-slide-box auto-play="true" slide-interval="2500" show-pager="true" does-continue="true" active-slide="activeIndex" on-slide-changed="onSlideChanged($index)">
							<ion-slide ng-repeat="item in data.carouselNews">
								<a class="box" href="#">
									<img ng-src="{{item.imgUrl}}" class="pic" />
								</a>
							</ion-slide>
						</ion-slide-box>

						<!--文字轮播滚动区-->
						
						<!--内容列表区-->
						

							<div class="p-10 newslist">
								<a ng-repeat="item in data.newList" href="{{IMG+'/api.php/Gov/govNewsInfo'+'?newsId='+item.gove_affairs_news_id}}" class="news mb-10">
									<img ng-src="{{(item.imgUrl)?item.imgUrl:IMG+'/Public/static/wap/images/nopix.png'}}" alt="图片加载失败" />
									<p>{{item.gove_affairs_news_title}} </p>
									<div class="botbox">
										<span class="mr-10">{{item.gove_affairs_news_addtime}}</span>
									</div>
								</a>
							</div>
					</ion-content>
					
				</ion-view>

			</ion-tab>
			<!--部门选项卡-->
			<ion-tab title="部门" class="tab-item-energized myTab">
				<ion-view>
					<!--大图banner区-->
					<div class="ub-ver up ub">
						<div class="branchBanner">
							<img src="__STATIC__/wap/images/find/baranchbanner.png">
							<h5>环保部：上半年全国空气质量总体改变 地表水质量总体稳定</h5>
							<span>2016-7-16</span>
						</div>
						<!--列表区-->
						<div class="ub-f1">
							<ion-content class="myContent" overflow-scroll="false" has-bouncing="true">
								<div class="p-10 newslist">
									<a href="news_detail" class="news mb-10">
										<img src="__STATIC__/wap/images/find/x5.png" />
										<p>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</p>
										<div class="botbox">
											<span class="mr-10">2016-07-26</span>
										</div>
									</a>
									<a href="news_detail" class="news mb-10">
										<img src="__STATIC__/wap/images/find/x5.png" />
										<p>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</p>
										<div class="botbox">
											<span class="mr-10">2016-07-26</span>
										</div>
									</a>
									<a href="news_detail" class="news mb-10">
										<img src="__STATIC__/wap/images/find/x5.png" />
										<p>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</p>
										<div class="botbox">
											<span class="mr-10">2016-07-26</span>
										</div>
									</a>
									<a href="news_detail" class="news mb-10">
										<img src="__STATIC__/wap/images/find/x5.png" />
										<p>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</p>
										<div class="botbox">
											<span class="mr-10">2016-07-26</span>
										</div>
									</a>
									<a href="news_detail" class="news mb-10">
										<img src="__STATIC__/wap/images/find/x5.png" />
										<p>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</p>
										<div class="botbox">
											<span class="mr-10">2016-07-26</span>
										</div>
									</a>
									<a href="news_detail" class="news mb-10">
										<img src="__STATIC__/wap/images/find/x5.png" />
										<p>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</p>
										<div class="botbox">
											<span class="mr-10">2016-07-26</span>
										</div>
									</a>
									<a href="news_detail" class="news mb-10">
										<img src="__STATIC__/wap/images/find/x5.png" />
										<p>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</p>
										<div class="botbox">
											<span class="mr-10">2016-07-26</span>
										</div>
									</a>
								</div>
							</ion-content>
						</div>
					</div>
				</ion-view>
			</ion-tab>

			<!--专题选项卡-->
			<ion-tab title="专题" class="tab-item-energized myTab">
				<!-- 标签 3 内容 -->
				<ion-view>
					<ion-content has-bouncing="true" overflow-scroll="false" class="top_92">
						<div class="list">
							<a class="specialDetails" href="special_Details.html"><img src="__STATIC__/wap/images/find/l1.png">
								<p>李克强总理奋斗过更好的规范的规范的嘎嘎法国大刚好是隔热隔热管隔热哥发多个访问蒙古国</p>
							</a>
							<a class="specialDetails" href="special_Details.html"><img src="__STATIC__/wap/images/find/l2.png">
								<p>李克强总理访问蒙古国</p>
							</a>
							<a class="specialDetails" href="special_Details.html"><img src="__STATIC__/wap/images/find/l3.png">
								<p>李克强总理访问蒙古国</p>
							</a>
							<a class="specialDetails" href="special_Details.html"><img src="__STATIC__/wap/images/find/l4.png">
								<p>李克强总理访问蒙古国</p>
							</a>
						</div>
					</ion-content>
				</ion-view>>
			</ion-tab>

		</ion-tabs>
</block>
<block name="footer_js">
	<script>	
		app.controller("govermentNews_Ctrl", function($scope,$http) {
					jQuery.ajax({
							type: "post",
							url: "http://8098.xlufei.com/api.php/Gov/govFocusNews",
							dataType: "json",
							success: function(data) {
								$scope.data = data.returnData;							
							}
						});
			
	});
	</script>
</block>