<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='hotelDetailCtrl'>
		<ion-content overflow-scroll='true' has-bouncing='false'>
			<!--顶部图片部分-->
			<div class="detail-head ub ub-ver ub-img1 mb-10">
				<img class="bgimg" ng-src="{{hotel.ingurl}}">
				<div class="ub-f1 ub p-10 top_icons">
					<div class="ub-f1 top-icon">
						<a ng-click='javascript:history.back(-1)'><img src="__STATIC__/wap/images/travel/dt_back.png" /></a>
					</div>
					<div class="top-icon">
						<a href="#"><i class="icon ion-map text-26 text-fff"></i></a>
					</div>
				</div>
			</div>
			
			<!--酒店简介-->
			
			<div class="ph-10">
				<div class="bb-1">
					<h4 class="text-16" ng-bind='hotel.hotel_name'></h4>
					<span class="text-drak-yellow" ng-bind-html='getStar(hotel.hotel_stars)'></span>
					<span class="text-888" bind='hotel.hotel_remarks+" 人评论"'></span>
					<p class="text-888" ng-bind='hotel.hotel_type'></p>
				</div>
				<div class="bb-1 ub ub-ac">
					<div class="ub-f1">
						<h4 class="text-16" ng-bind='hotel.hotel_name'></h4>
						<p class="text-888" ng-bind='hotel.hotel_address'>武侯区霜你碧云路118号天意国际酒店4楼(红牌楼广场旁)</p>
					</div>
					<div class="text-drak-yellow text-center ph-10">
						<i class="icon ion-ios-location-outline text-26 mt-5"></i>
						<p class="text-drak-yellow">到这里</p>
					</div>
				</div>
				<div class="bb-1">
					<h4 class="text-16">电话</h4>
					<p class="text-888" ng-bind='hotel.hotel_tel'></p>
				</div>
				<div class="">
					<h4 class="text-16">酒店预定</h4>
					<div class="b-1 ub ub-ac text-drak-yellow">
						<i class="icon ion-ios-calendar-outline text-drak-yellow ml-10 mr-10 text-26"></i>
						<div class="ub-f1" style="line-height: 45px;">
							<button class="button button-clear button-energized mr-10" id="startDate" onclick="startDate()">{{startDate}}</button>
							~
							<button class="button button-clear button-energized mr-10" id="endDate" onclick="endDate()">{{endDate}}</button>
						</div>
						<i class="icon ion-ios-arrow-right text-888 mr-10"></i>
					</div>
					<div class="room-types">
						<!--没有数据
							<div class="bb-1 p-10 ub showhotelpic">
							<div class="ub-f1">
								高级间<i class="ml-10 icon ion-image text-888"></i>
							</div>
							<div class="ml-10">
								<span class="t-yellow-red text-16 mr-10 v-t"><b ng-bind-html='"￥"+hotel.hotel_price'></b><em class='text-888 text-12'>起</em></span>
								<i class="icon ion-ios-arrow-down ml-10"></i>
							</div>
						</div>
						<div class="picbox p-10 hotelpic">
							<img ng-src="{{hotel.ingurl}}"/><img ng-src="{{hotel.ingurl}}"/>
						</div>-->
						
						<div class="bb-1 p-10 ub" ng-repeat="room in hotel.room">
							<div class="ub-f1"><span class="mr-10" ng-bind='room.room_name'></span><em class="text-888 text-12" ng-bind='room.room_sort'></em></div>
							<div class="ml-10">
								<span class="t-yellow-red text-16 mr-10 v-t" ng-bind='"￥"+room.room_price'></span>
								<a href="hotel_order?roomId={{room.room_id}}" class="book"><span>预定</span>在线支付</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/core.js"></script>
	<script>
		app.controller('hotelDetailCtrl', ['$scope', "$ionicPosition","$ionicLoading", function(a, b, loading) {
			
			//请求酒店数据
			a.hotelId=getQueryString('hotelId');
			$.ajax({
				type:"post",
				url:API+"/Trip/hotelInfo",
				beforeSend:function(){
					loading.show();
				},
				complete:function(){
					loading.hide();
				},
				data:{hotelId:a.hotelId},
				success:function(data){
					a.hotel=data.returnData;
					console.log(data.returnData)
				}
			});
			
			
			
			
			
			
			$('.type').click(function() {
				$(this).addClass('checked').siblings().removeClass('checked');
				a.state = $('.checked').attr('rel');
			})

			//行程时间
			a.startDate = new Date().toLocaleDateString();
			a.endDate = new Date().toLocaleDateString();
			a.week = new Date().getDay();

		}])

		function startDate() {
			new yxCalendar({
				date: $('#startDate').html(),
				callback: function(date) {
					$('#startDate').html(date)
					$("input[name=time]").val(date);
				}
			});
		}

		function endDate() {
			new yxCalendar({
				date: $('#endDate').html(),
				callback: function(date) {
					$('#endDate').html(date)
					$("input[name=time]").val(date);
				}
			});
		}

		function slided(f,c){
			f.click(function(){
				f.find('.ion-ios-arrow-down').toggleClass('ion-ios-arrow-up')
				c.slideToggle();
			})
		}
		slided($('.showhotelpic'),$('.hotelpic'));
	</script>
</block>