<extend name="Public/base" />
<block name="headerCss">
	<style>
		html {
				font-size: 20px !important;
			}

		.outrow{padding: 0;margin:0;}
		.outrow .four_one{box-sizing: border-box;text-align: center;border-right: 1px solid #e0e0e0;width: 25%;
         margin: 0;border-bottom: 1px solid #e0e0e0;}
        .outrow .four_one:last-child{border-right: none;}
        .outrow .four_one a{width:100%;text-align: center;display: block;padding-bottom: 0.8rem;
        padding-top: 0.8rem;box-sizing: border-box;}
         .outrow .four_one a img{vertical-align: bottom;width:2rem;height: 2rem;}
        .outrow .four_one a p{color: #333;font-size: 0.6rem;margin: 0;}
        .row.footer-bar span{font-size: 0.6rem;}               
        .footer-bar .col img{width: 1.6rem;}  
        .slider-pager{bottom: 10px;}  
		.box img{height: 200px;width: 100%;display: block;}
	</style>
</block>
<block name="content">
	<!--头部区域-->
	<div class="ub up ub-ver" ng-controller="indexCtrl">

		<ion-header-bar align-title="center" no-tap-scroll="false">

			<h1 class="title">发现</h1>
			<!--<button class="button button-clear button-dark">
				<i class="icon ion-ios-search-strong text-16"></i>
			</button>-->
		</ion-header-bar>
		<div class="ub-f1">
			<ion-content overflow-scroll='false' has-bouncing='true'>

				<!--轮播区域-->
				<div class="sliade_banner">
				<ion-slide-box auto-play="true" slide-interval="2500" show-pager="true" does-continue="true" ng-if="banner" delegate-handle="image-viewer">
					<ion-slide ng-repeat=" item in banner">
						<a href="#" class="box"><img ng-src="{{item.advertise_photo}}" class="pic" />
						</a>
					</ion-slide>										
				</ion-slide-box>
				</div>
				<!--内容列表区-->
				<div class="outer" ng-if="banner">
					<div class="row outrow">
						<div class="col-25 four_one">
							<a href="gover_salle"><img src="__STATIC__/wap/images/find/goverment.png">
								<p>政务大厅</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="train"><img src="__STATIC__/wap/images/find/find02.png">
								<p>教育培训</p>
							</a>
						</div>

						<div class="col-25 four_one">
							<a href="medical_index"><img src="__STATIC__/wap/images/find/find03.png">
								<p>医疗保健</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="double"><img src="__STATIC__/wap/images/find/find04.png">
								<p>双创服务</p>
							</a>
						</div>
					</div>
					<div class="row outrow">
						<div class="col-25 four_one">
							<a href="local_news"><img src="__STATIC__/wap/images/find/find05.png">
								<p>本地新闻</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="urgency_index.html"><img src="__STATIC__/wap/images/find/find06.png">
								<p>紧急救助</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="community"><img src="__STATIC__/wap/images/find/find07.png">
								<p>社区服务</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="ph_rechargeIframe"><img src="__STATIC__/wap/images/find/find08.png"><!--ph_recharge-->
								<p>手机话费</p>
							</a>
						</div>
					</div>
					<div class="row outrow">
						<div class="col-25 four_one">
							<a href="CreditIframe"><img src="__STATIC__/wap/images/find/find09.png"><!--cardlist--><!--http://www.uphsh.com/wap/credit/0d29a3eae4604c7ebdef5b3a7c037715-->
								<p>信用卡还款</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a ng-click='alert("敬请期待")'><img src="__STATIC__/wap/images/find/find10.png"><!--href="finance"-->
								<p>掌上理财</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="welfare"><img src="__STATIC__/wap/images/find/find11.png">
								<p>公益服务</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="traffic"><img src="__STATIC__/wap/images/find/find12.png">
								<p>交通出行</p>
							</a>
						</div>
					</div>
					<div class="row outrow">
						<div class="col-25 four_one">
							<a href="weatherIframe"><img src="__STATIC__/wap/images/find/find13.png"><!--http://m.moji.com-->
								<p>天气预报</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="EnvironmentalIframe"><img src="__STATIC__/wap/images/find/find14.png"><!--http://www.scnewair.cn:3389/publish/index.html-->
								<p>环境监测</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="flowVideo"><img src="__STATIC__/wap/images/find/find15.png"><!--passenger-->
								<p>客流监控</p>
							</a>
						</div>
						<div class="col-25 four_one">
							<a href="culture"><img src="__STATIC__/wap/images/find/find16.png">
								<p>文化推广</p>
							</a>
						</div>
					</div>
				</div>
			</ion-content>
		</div>
		<div class="row footer-bar index_footer">
			<a href="/wap.php/Essence/index" class="col col-20">
				<!--<i class="icon ion-ios-color-filter-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/jing1.png" />
				<span>精选</span>
			</a>
			<a href="/wap.php/Travel/index" class="col col-20">
				<!--<i class="icon ion-earth"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/travel1.png" />
				<span>文旅</span>
			</a>
			<a href="/wap.php/Find/index" class="col col-20 checked">
				<!--<i class="icon ion-ios-eye-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/find2.png" />
				<span>发现</span>
			</a>
			<a href="http://s.xlufei.com/index.php/" class="col col-20">
				<!--<i class="icon ion-ios-cart-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/shop1.png" />
				<span>购物</span>
			</a>
			<a href="/wap.php/Center/index" class="col col-20">
				<!--<i class="icon ion-ios-person-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/mine1.png" />
				<span>我的</span>
			</a>
		</div>
	</div>

	<!--<div class="bar bar-header">
			<div class="h1 title">发现</div>
			<button class="button button-clear button-dark ion-ios-search-strong"></button>
		</div>-->

</block>
<block name="footer_js">
	<script>
	
		app.controller("indexCtrl",function($scope,$ionicSlideBoxDelegate,$ionicLoading,$http){
			
			
			if(typeof(localStorage.townId) != undefined) {
				var oldTownId = localStorage.townId;
				console.log(localStorage.townId);
			} else {
				$.ajax({
					type: "post",
					url: API+"/Trip/randTown",
					async: true,
					success: function(data) {
						//						a.townInfo=data.returnData;
						localStorage.townId = data.returnData.sys_town_id;
						console.log(localStorage);
					}
				});
			}
			
			
			$.ajax({
				type:"post",
				url:API+"/Common/getBanner",
				async:true,
				data:{
					category:2
				},
				success:function(data){
				$scope.banner = data.returnData;
				console.log($scope.banner)
				$scope.$apply();
				$ionicSlideBoxDelegate.update();
				$ionicSlideBoxDelegate.$getByHandle('image-viewer').update();
				}
				
				
			});
			
			
		})
		
		
		
	</script>
</block>