<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
</block>
<block name="content">
	<div ng-controller='interviewCtrl'>
		<ion-header-bar>
			<button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
			<h1 class="title">签到</h1>
			<a class="button ion-right button-clear button-calm button-small zhenzhangbanbao" href="data_view">镇长板报</a>
		</ion-header-bar>
		<ion-content overflow-scroll="false" has-bouncing="true" class="address_ion">
			<div class="list addressList">
				<a class="timer" href="site_record">
					<img src="__STATIC__/wap/images/find/time.png">
					<span>时间</span>
					<span class="span_2" ng-bind='interview.time'></span>
				</a>
				<a class="timer  mb-10">
					<img src="__STATIC__/wap/images/find/address.png">
					<span>地址</span>
					<span class="span_2" style="padding: 10px 0px;"><input type="text" placeholder="走访单位" ng-model='interview.affairs_visit_address'/></span>
					<span class="arrows ion ion-ios-arrow-right"></span>
				</a>
				<!-- <div class="agin"> <a><img src="__STATIC__/wap/images/find/agin.png"><span>定位不准？点我重试</span></a></div>-->
				<a class="line_bottom mb-10">
					<img src="__STATIC__/wap/images/find/company.png">
					<span>走访单位</span>
					<span class="span_2" mobiscroll-scroller="address">黄龙溪刘玉红家</span>
					<span class="arrows ion ion-ios-arrow-right"></span>
				</a>
				<a>
					<img src="__STATIC__/wap/images/find/person.png">
					<span>联系人</span>
					<span class="span_2">刘玉红</span>
					<span class="arrows ion ion-ios-arrow-right"></span>
				</a>
				<!--文本框-->
				<textarea name="" rows="5" cols="" placeholder="请填写备注内容" class="leave_message" autofocus="autofocus" ng-bind='interview.affairs_visit_memo'></textarea>
				</textarea>
			</div>
			<!--footer区-->
			<div class="row map">
				<div class="col col-33 col_left">
					<a href="site_record"><img src="__STATIC__/wap/images/find/left.png"></a>
					<p>走访记录</p>
				</div>
				<div class="col col-33 col_center">
					<a><img src="__STATIC__/wap/images/find/center.png">
						<p class="position">签到</p>
					</a>
				</div>
				<div class="col col-33 col_right">
					<a><img src="__STATIC__/wap/images/find/map.png"></a>
					<p>查看地图</p>
				</div>
			</div>
		</ion-content>
		<!--//滚动地址-->
		<div>
			<ul mobiscroll-image="settings" mobiscroll-instance="demo" ng-model="selected" style="display:none">
				<li ng-repeat="item in vistUnit" data-val="{{vistUnit.unit_name}}">
					<p ng-bind='vistUnit.unit_name'></p>
				</li>
			</ul>
		</div>
		<!--//滚动地址-->
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('interviewCtrl', ['$scope', function(a) {
			a.interview = {};
			a.interview.time = new Date().toLocaleDateString();

			$.ajax({
				type: "post",
				url: API+"/Gov/govVist",
				async: true,
				dataType: 'json',
				success: function(data) {
					a.vistUnit = data.returnData.vistUnit;
					console.log(a.vistUnit);
				}
			});
			
            $.ajax({
				type: "post",
				url: API+"/Gov/govVist",
				async: true,
				dataType: 'json',
				success: function(data) {
					a.vistUnit = data.returnData.vistUnit;
					console.log(a.vistUnit);
				}
			});
			a.address = {
				theme: 'ios',
			lang: 'zh',
			layout: 'liquid',
			display: 'bottom',
			showLabel: false,
			rows: 6,
			circular: false,
			width: 150,
			minWidth: 130,
			};

		}])
	</script>
</block>