<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
	<link href="__STATIC__/hls/css/video.css" rel="stylesheet">
	<style>
		.video-js{width: 100%;}
	</style>
</block>
<block name="content">
	<div ng-controller="studyCtrl" class="ub ub-ver up">
		<div class="h-44">
			<ion-header align-title="center" no-tap-scroll="false">
				<button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
				<h1 class="title">在线教学</h1>
			</ion-header>
		</div>
		<div class="ub-f1 ub ub-ver">
			<div id="video" style="width: 100%;">
  	
  			</div>
			<div class="ub-f1">
				<ion-content overflow-scroll="false" has-bouncing="true">

					<div class="big_title padding">
						<h4 ng-bind="study.course_name"></h4>
						<div class="tv_module">
							<div class="kuang"><i class="icon ion-ios-person person"></i><span>63342425464</span></div>
							<span class="xian"></span>
						</div>
					</div>
					<div class="list card mycard">
						<div class="item item-avatar teacher">
							<img src="__STATIC__/wap/images/find/class_item1.png">
							<h2 ng-bind="study.course_author"></h2>
							<p ng-bind="study.course_author_title"></p>
						</div>
					</div>
					<div class="padding">
						<div class="row class_time">
							<div class="col week"><i class="icon ion-ios-calendar-outline"></i><span>2016-10-12</span></div>
							<div class="col week"><i class="icon ion-ios-clock-outline"></i><span ng-bind="study.course_class_time"></span></div>
						</div>
						<p class=" haoduozi" ng-bind="study.course_intro">学员入学即签定就业保证协议，培训合格者保证高薪就业。 邦飞与多家公司签订人才定制培养合同学员培训合格后可直接参加面试。 符合条件者可享受0利率分期付款政策。 小贴士：真正的就业保障应该签署具有法律效益的就业协议，而不仅仅只是口头承诺或者承诺推荐。
						</p>
						<p class=" haoduozi"> 就业培训弥补了应届生与企业人才技能需求之间的鸿沟。 培训的目的并不仅仅只是一份工作，而是一项让你受益一生的专业技能。 </p>
					</div>

				</ion-content>
			</div>
		</div>
	</div>
</block>
<block name="footer_js">
	<script src="__STATIC__/hls/js/video.js"></script>
  <script src="__STATIC__/hls/js/videojs-live.js"></script>
	<script>
		app.controller("studyCtrl", function($scope) {
			var courseId = getQueryString('courseId');
			console.log(courseId)
			$.ajax({
				type: "post",
				url: API+"/Edu/eduCourseInfo",
				data: {
					courseId: courseId
				},
				success: function(data) {
					$scope.study = data.returnData;
					console.log($scope.study.course_video)
					console.log($scope.study);
document.getElementById('video').innerHTML='<video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" data-setup="{}"><source src='+$scope.study.course_video+' type="application/x-mpegURL"></video>'
					
					$scope.$apply();
				}
			})
		})
	</script>
</block>