<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
	
	<style>
		body{overflow: hidden;}
	</style>
	
</block>
<block name="content">
	
	<div class="ub up ub-ver" ng-controller="idCtrl">
			<!--<div class="h-44">
				<ion-header class='bar bar-header bar-light'>
			<a href="index" class="button button-clear" ng-click='myGoBack()'><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">新闻详情</h1>
		</ion-header>
			</div>
			<div class="ub-f1 iframeBox">-->
				<!--<iframe id='content' src="{{API}}/Double/serviceActivityInfo?activeId={{id}}" width="100%" height="100%"></iframe>-->
			</div>
		</div>
</block>
<block name="footer_js">
	<script>
		$('#content').height($('.iframeBox').height()-4);
		app.controller("idCtrl",function($scope){			
			var id = getQueryString("newsId")				
			$.ajax({
				type:"post",
				url:API+"/Local/localNewsInfo",
				data:{newsId:id},
				async:true,
				success:function(data){				
				$(".up").html(data)	
				
				}
			});						
		})
	</script>
</block>