<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/medical.css">
</block>
<block name="content">
	<ion-view ng-controller="idnexCtrl">
		<ion-header-bar class='bar bar-header bar-light' no-tap-scroll="false">
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">医疗保健</h1>
		</ion-header-bar>
		<!--以下为医疗保健的具体页面内容-->
		<ion-content>
		<ion-slide-box auto-play="true" slide-interval="2500" show-pager="true" does-continue="true" ng-if="banner" delegate-handle="image-viewer">
					<ion-slide ng-repeat=" item in banner">
						<a href="#" class="box"><img ng-src="{{item.advertise_photo}}" class="pic" />
						</a>

					</ion-slide>
					
					
				</ion-slide-box>

			
			<div class="row row-no-padding">
				<a class="col-50 four-Diamonds" href="http://wap.91160.com/unit/index.html"><!--medical_order1.html--><!--http://8098.xlufei.com/1.php-->
					<img src="__STATIC__/wap/images/medical/medical_order.png" />
					<span>预约挂号</span>
				</a>
				<a class="col-50 four-Diamonds" href="http://wap.91160.com/ask/askdoc.html"><!--medical_online_diagnose--><!--href="diagnosisIframe" -->
					<img src="__STATIC__/wap/images/medical/medical_onlinediagnose.png" />
					<span>在线诊断</span>
				</a>
			</div>
			<div class="row row-no-padding">
				<a id="index_hospital" class="col-50 four-Diamonds" href="medical_hospital1.html">
					<img src="__STATIC__/wap/images/medical/medical_onlinehospital.png" />
					<span>在线医院</span>
				</a>
				<a class="col-50 four-Diamonds" href="http://wap.91160.com/news/index.html"><!----><!--href="MedicalKnowledgeIframe"--> <!--medical_commonsense-->
					<img src="__STATIC__/wap/images/medical/medical_commonsense.png" />
					<span>医疗常识<span>
				</a>
			</div>
		</ion-content>
	</ion-view>

</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/wap/js/medical.js"></script>
	<script>
		
		app.controller("idnexCtrl",["$scope","$ionicSlideBoxDelegate","$ionicLoading",function(a,b,c){
				
				$.ajax({
					type:"post",
					url:"http://8098.xlufei.com/api.php/Common/getBanner",
					async:true,
					data:{category:20},
					success:function(data){
						a.banner = data.returnData;
						a.$apply();
						b.update();b.$getByHandle('image-viewer').update();
					}
				});
				
			}])
		
</script>

	
	
</block>