<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/medical.css">
</block>

<block name="content">
	<ion-header class='bar bar-header bar-light'>
		<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
		<h1 class="title">呼吸与危重症学科</h1>
		<a class="button" id="collect" >
			<img src="__STATIC__/wap/images/medical/collect.png" />
		</a>
		
	</ion-header>
	<!--以下为呼吸与危重症学科的具体页面内容-->
	<ion-content overflow-scroll="true" has-bouncing="false">
		<div>
			<ul class="list list_order3">
				<li class="item" id="doctor1">
					<a href="medical_hospital2.html">
						<div class="img_avatar">
							<img src="__STATIC__/wap/images/medical/dr_avatar.png" />
						</div>
						<div class="medical_li">
							<label>李为民</label>
							<p>教授</p>
							<p>华西医院 呼吸与危重症学科</p></div>
							<p>患者推荐热度(综合):<span class="grade">3.7</span> </p>
							<p>
								<span>
									<span class="">
										疗效：
									</span>
									<span >
										暂无统计
									</span>
								</span>
								<span>
									<span >
										态度：
									</span>
									<span >
										暂无统计
									</span>
								</span>
							</p>
						
					</a>

				</li>
				<li class="item">
					<div class="img_mark">
						<img src="__STATIC__/wap/images/medical/huaxi2.png" />
					</div>
					<div class="medical_li">
						<label>四川大学华西第二医院</label>
						<p>
							<img src="__STATIC__/wap/images/medical/sanjia.png" />
							<img src="__STATIC__/wap/images/medical/health.png" />
						</p>
						<p>
							<span class="medical_li1"><label>90位</label>优质医生</span>
							<span class="img_praise">
							<img src="__STATIC__/wap/images/medical/distance.png"/>
							11km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark">
						<img src="__STATIC__/wap/images/medical/people.png" />
					</div>
					<div class="medical_li">
						<label>四川省人民医院</label>
						<p>
							<img src="__STATIC__/wap/images/medical/sanjia.png" />
							<img src="__STATIC__/wap/images/medical/health.png" />
						</p>
						<p>
							<span class="medical_li1"><label>1951位</label>优质医生</span>
							<span class="img_praise">
							<img src="__STATIC__/wap/images/medical/distance.png"/>
							14km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark">
						<img src="__STATIC__/wap/images/medical/huaxi_mouth.png" />
					</div>
					<div class="medical_li">
						<label>四川大学华西口腔医院</label>
						<p>
							<img src="__STATIC__/wap/images/medical/sanjia.png" />
							<img src="__STATIC__/wap/images/medical/health.png" />
						</p>
						<p>
							<span class="medical_li1"><label>116位</label>优质医生</span>
							<span class="img_praise">
							<img src="__STATIC__/wap/images/medical/distance.png"/>
							13km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark">
						<img src="__STATIC__/wap/images/medical/zhongyi.png" />
					</div>
					<div class="medical_li">
						<label>成都中医药附属医院</label>
						<p>
							<img src="__STATIC__/wap/images/medical/sanjia.png" />
							<img src="__STATIC__/wap/images/medical/health.png" />
						</p>
						<p>
							<span class="medical_li1"><label>622位</label>优质医生</span>
							<span class="img_praise">
							<img src="__STATIC__/wap/images/medical/distance.png"/>
							14km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark">
						<img src="__STATIC__/wap/images/medical/women.png" />
					</div>
					<div class="medical_li">
						<label>成都市妇女儿童中心医院</label>
						<p>
							<img src="__STATIC__/wap/images/medical/sanjia.png" />
							<img src="__STATIC__/wap/images/medical/health.png" />
						</p>
						<p>
							<span class="medical_li1"><label>99位</label>优质医生</span>
							<span class="img_praise">
							<img src="__STATIC__/wap/images/medical/distance.png"/>
							18km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark">
						<img src="__STATIC__/wap/images/medical/area.png" />
					</div>
					<div class="medical_li">
						<label>成都军区总医院</label>
						<p>
							<img src="__STATIC__/wap/images/medical/sanjia.png" />
							<img src="__STATIC__/wap/images/medical/health.png" />
						</p>
						<p>
							<span class="medical_li1"><label>167位</label>优质医生</span>
							<span class="img_praise">
							<img src="__STATIC__/wap/images/medical/distance.png"/>
							23km
						</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</ion-content>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
</block>