<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/medical.css">
	<style type="text/css">
		body {
			background-color: white;
		}
	</style>
</block>
<block name="content">
	<ion-header-bar align-title="center" no-tap-scroll="false">
		<button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
		<h1 class="title">预约挂号</h1>
	</ion-header-bar>
	<!--以下为医疗保健的具体页面内容-->
	<ion-content  overflow-scroll="true" has-bouncing="false">
		<div class="guahao_banner">
			<span>名医挂号</span>
			<span></span>
			<span>预约名医</span>
			<span>不再求人</span>
			<img src="__STATIC__/wap/images/find/guahaobanner.png">
		</div>
		<div class="yuyue_title">
			<span></span><span>开始预约</span><span></span>
		</div>
		<div class="choose_item">
			<p>请选择地区</p>
			<a href="medical_order2.html" class="ub ub-ac">
				<div class="ub-f1">全成都</div>
				<i class="icon ion-ios-arrow-down"></i>
			</a>
			<p>请选择科室</p>
			<a href="medical_order3.html" class="ub ub-ac">
				<div class="ub-f1">全部科室</div>
				<i class="icon ion-ios-arrow-down"></i>
			</a>
			<a id="pop_up_box_btn">查询医生</a>
		</div>
	</ion-content>
	<!--弹出框-->
	<div class="pop_up_box">
		<div class="off">
			<span id="disappear">
				<img src="__STATIC__/wap/images/find/off_03.jpg">
			</span>
		</div>
		<ul class="moth_day">
			<li>
				<p>7月25日</p>
				<p>周一</p>
			</li>
			<li>
				<p>8月1日</p>
				<p>周一</p>
			</li>
			<li>
				<p>8月8日</p>
				<p>周一</p>
			</li>
			<span id="btn_r"><img src="__STATIC__/wap/images/find/btn_r_03.jpg"></span>
		</ul>
		<ul class="moment">
			<li>上午</li>
			<li>下午</li>
			<li>晚上</li>
		</ul>
		<!--待付款区域-->
		<ul class="sure">
			<li>
				<p class="type_order1">门诊类型：特需</p>
			</li>
			<li class="second_li">
				<p>挂号费用:<span>￥300</span></p>
				<p class="normal"><span class="bg_red">公益补贴</span>好大夫在线爱心基金补贴用户30元挂号费</p>
			</li>
			<li class="feiyong">
				<span>实付费用：</span>
				<span>￥270</span>
			</li>
			<li class="appointment_btn">立即预约</li>
		</ul>
	</div>

	<div class="all_view"></div>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
	<script>
		jQuery(function() {
			//        初始化的时候弹出框隐藏
			var height = jQuery(".pop_up_box").height() + 10;
			jQuery(".pop_up_box").css({
				"bottom": -height
			});
			//        点击弹出弹出框
			jQuery("#pop_up_box_btn").click(function() {
				jQuery(".pop_up_box").stop().animate({
					bottom: 0
				}, 200);
				jQuery(".all_view").stop().fadeIn(200);
				});
				//            点击关闭弹出框
			
			jQuery("#disappear").click(function() {
					jQuery(".pop_up_box").stop().animate({
						bottom: -height
					}, 200);
					jQuery(".all_view").stop().fadeOut(200)
				})
			jQuery(".all_view").click(function(){
				jQuery(".pop_up_box").stop().animate({bottom: -height}, 200);
					
					jQuery(this).stop().fadeOut(200)
			})
			//时间日期点击变换背景边框色
			jQuery(".moth_day li").first().addClass("blue");
			jQuery(".moth_day li").click(function() {
				jQuery(this).addClass("blue").siblings().removeClass("blue")
			});
			//时间段点击变色
			jQuery(".moment li").eq(1).addClass("blue");
			jQuery(".moment li").click(function() {
				jQuery(this).addClass("blue").siblings().removeClass("blue");
			});
			jQuery("#btn_r").click(function() {
				alert("没做完，稍后")
			})
		})
	</script>
</block>