<extend name="Public/base" />
<block name="headerCss">
	<style>
		.hospitalList .hospital img {
			width: 8rem;
			height: 65px;
			margin-right: 10px;
		}
		
		.hospitalList .hospital .ub-f1 h4 {
			line-height: 20px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding: 0px;
			font-size: 1.4rem;
			margin: 0px 0px 5px;
		}
		
		.hospitalList .hospital .ub-f1 span {
			font-size: 1rem;
			padding: 0px 3px;
			border-radius: 2px;
		}
		
		.hospitalList .hospital .ub-f1 .sanjia {
			color: green;
			border: 1px solid green;
		}
		
		.hospitalList .hospital .ub-f1 .yibao {
			color: #F39C12;
			border: 1px solid #F39C12;
		}
	</style>
</block>

<block name="content">
	<div ng-controller="hospitalDetail" >
		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">医院详情</h1>
		</ion-header>
		<ion-content overflow-scroll="false" has-bouncing="true" class='has-header bg-f5'>
			<div class="hospitalList mb-10">
				<div class="hospital p-10 bb-1 ub bg-white">
					<!--<img ng-src="{{(hospitalDetail.hospital_img)?hospital.hospital_img:'http://8098.xlufei.com/Public/static/wap/images/nopix.png'}}" />-->
					<img ng-src="{{img}}"/>

					<div class="ub-f1 text-888">
						<h4 ng-bind='hospitalDetail.hospital_name'></h4>
						<span class="mr-5 text-12 sanjia" ng-bind='hospitalDetail.hospital_level'></span>
						
						<div class="ub ub-ac mt-5 text-888 text-12">
							<div class="ub-f1 text-12" ng-bind='hospitalDetail.hospital_address'>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="bg-white">
				<div class="p-10 bb-1">
					医院简介
				</div>
				<div class="p-10">
					<article class="article" ng-bind-html='hospitalDetail.hospital_info'></article>
				</div>
				<!--<div class="row">
					<div class="col col-50">
						<div class="p-15">
							<button class="button button-block button-energized">在线诊断</button>
						</div>
					</div>
					<div class="col col-50">
						<div class="p-15">
							<button class="button button-block button-energized">立即挂号</button>
						</div>
					</div>
				</div>-->
			</div>
		</ion-content>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('hospitalDetail', ['$scope', '$ionicLoading', function(a, loading) {

			a.hospital_id = getQueryString('hospital_id');
			a.img = getQueryString('img');
			$.ajax({
				type: "post",
				url: API+"/api.php/Medical/hospitalInfo",
				async: true,
				dataType: 'json',
				data: {
					hospitalId: a.hospital_id
				},
				success: function(data) {
					a.hospitalDetail = data.returnData;
					a.$apply();
					console.log(a.hospitalDetail);
				}
			});
		}])
	</script>
</block>