<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	
	<ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
    <button class="button icon-left ion-ios-arrow-left button-clear button-energized"
            ng-click="myGoBack()"></button>
    <h1 class="title">机构详情</h1>
</ion-header-bar>
<ion-content class="padding">
    <span class="first_title">四川省发展和改革委员会</span>
    <p class="zhengwen">四川省发展改革委员会及其所属的具有执法资格的单位供一个四川省发展改革委员会及其所属的具有执法资格的单位供一个四川省发展改革委员会及其所属的具有执法资格的单位供一个
    </p>
    <p class="zhengwen">
        会议要求，下半年要重点抓好八个方面工作。一是系统推进全面创新改革试验，集成打造成德绵协同创新共同体，
加会议。
    </p>
    <p class="zhengwen">稳中有进,主要体现在：投资保持较快增长，全社会固定资产投资完成762.51亿元，增长13.3%，
        高于全省平均水平1个百分点。消费持续增长，社会消费品零售总额328.94亿元，增长13.6%，高于全省平均水平2.1个百分点
        。财政收入增长较快，地方公共财政收入48.72亿元，增长11.3%，高于全省平均水平1.2个百分点。服务业发展较好，服务业增
        加值实现235.54亿元，增长8.8%，高于GDP增速1.6个百分点；金融、旅游和电子商务业继续保持强劲增长势头，金融业增加值、旅游收入、
        电子商务交易额分别增长16.7%、28.0%、24.6%。工业转型步伐加快，装备制造业增长10.8%，高于规上工业增速4.3个百分点，
        其中计算机、通信和其他电子设备制造业增长75.4%。</p>
</ion-content>

</block>
 	<block name="footer_js">
 		
 	</block>