<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='locaoNewsCtrl'>

		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">详情</h1>
			</ion-header>
		</div>

		<div class="ub-f1 bg-white">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="p-10">
					<h4>天府新区打造西部新引擎 黄龙溪板块跃升城南新核心</h4>
					<p class="text-888 text-12">新浪乐居  2016年06月01日</p>
					
					<article>
						
						<p><a href="#" class="text-drak-yellow">美国</a>城市规划学家沙里宁曾说：“城市是一本打开的书，从中可以看到它的抱负。”对<a href="#" class="text-drak-yellow">成都</a>不是延伸、填充、整理，而是一切从新开始。就像在白纸上作画。一个城市的理想和雄心，就是挥毫的画笔。而黄龙溪谷在天府新区的核心区域，如同一个启动的按钮，与老成都形成双核共振的引擎，启蒙下一个时代成都城市的编年史。</p>
						<h5>特色的世界级规划天府新区 成西部经济强大引擎</h5>
						<p>近日，沿着天府大道南延线一路向南，被人们称为未来的中国“硅谷”——<a href="#" class="text-drak-yellow">四川</a>不久的将来，成都科学城首个示范性项目——天府创新中心，将打造成为以高科技产业、金融产业、互联网技术等为支撑的现代企业园区，可容纳近500家企业入驻，就业人数超过5万人。</p>
						<p>作为西南地区第3个、四川唯一的国家级新区，天府新区注定肩负着不寻常的使命。</p>
						<img class="w-1" src="__STATIC__/wap/images/travel/newsdetailpic.png">
						<p><a href="#" class="text-drak-yellow">美国</a>城市规划学家沙里宁曾说：“城市是一本打开的书，从中可以看到它的抱负。”对<a href="#" class="text-drak-yellow">成都</a>不是延伸、填充、整理，而是一切从新开始。就像在白纸上作画。一个城市的理想和雄心，就是挥毫的画笔。而黄龙溪谷在天府新区的核心区域，如同一个启动的按钮，与老成都形成双核共振的引擎，启蒙下一个时代成都城市的编年史。</p>
						<h5>特色的世界级规划天府新区 成西部经济强大引擎</h5>
						<p>近日，沿着天府大道南延线一路向南，被人们称为未来的中国“硅谷”——<a href="#" class="text-drak-yellow">四川</a>不久的将来，成都科学城首个示范性项目——天府创新中心，将打造成为以高科技产业、金融产业、互联网技术等为支撑的现代企业园区，可容纳近500家企业入驻，就业人数超过5万人。</p>
						<p>作为西南地区第3个、四川唯一的国家级新区，天府新区注定肩负着不寻常的使命。</p>
						<img class="w-1" src="__STATIC__/wap/images/travel/newsdetailpic.png">
						<p><a href="#" class="text-drak-yellow">美国</a>城市规划学家沙里宁曾说：“城市是一本打开的书，从中可以看到它的抱负。”对<a href="#" class="text-drak-yellow">成都</a>不是延伸、填充、整理，而是一切从新开始。就像在白纸上作画。一个城市的理想和雄心，就是挥毫的画笔。而黄龙溪谷在天府新区的核心区域，如同一个启动的按钮，与老成都形成双核共振的引擎，启蒙下一个时代成都城市的编年史。</p>
						<h5>特色的世界级规划天府新区 成西部经济强大引擎</h5>
						<p>近日，沿着天府大道南延线一路向南，被人们称为未来的中国“硅谷”——<a href="#" class="text-drak-yellow">四川</a>不久的将来，成都科学城首个示范性项目——天府创新中心，将打造成为以高科技产业、金融产业、互联网技术等为支撑的现代企业园区，可容纳近500家企业入驻，就业人数超过5万人。</p>
						<p>作为西南地区第3个、四川唯一的国家级新区，天府新区注定肩负着不寻常的使命。</p>
						<img class="w-1" src="__STATIC__/wap/images/travel/newsdetailpic.png">
						<p><a href="#" class="text-drak-yellow">美国</a>城市规划学家沙里宁曾说：“城市是一本打开的书，从中可以看到它的抱负。”对<a href="#" class="text-drak-yellow">成都</a>不是延伸、填充、整理，而是一切从新开始。就像在白纸上作画。一个城市的理想和雄心，就是挥毫的画笔。而黄龙溪谷在天府新区的核心区域，如同一个启动的按钮，与老成都形成双核共振的引擎，启蒙下一个时代成都城市的编年史。</p>
						<h5>特色的世界级规划天府新区 成西部经济强大引擎</h5>
						<p>近日，沿着天府大道南延线一路向南，被人们称为未来的中国“硅谷”——<a href="#" class="text-drak-yellow">四川</a>不久的将来，成都科学城首个示范性项目——天府创新中心，将打造成为以高科技产业、金融产业、互联网技术等为支撑的现代企业园区，可容纳近500家企业入驻，就业人数超过5万人。</p>
						<p>作为西南地区第3个、四川唯一的国家级新区，天府新区注定肩负着不寻常的使命。</p>
						<img class="w-1" src="__STATIC__/wap/images/travel/newsdetailpic.png">
					</article>
				</div>
			</ion-content>
		</div>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('locaoNewsCtrl', ['$scope', "$ionicPosition", "$timeout", function(a, b, c) {

		}])
	</script>
</block>