<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
</block>
<block name="content">
	<div ng-controller="powerCtrl">
		
	<ion-viewng-controller="power_Ctrl">
		<ion-header-bar align-title="center" no-tap-scroll="false">
			<button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
			<h1 class="title">我要维权</h1>
		</ion-header-bar>
		
		<ion-content has-bouncing="true" overflow-scroll="false">
			
			<div class="wenti_list padding">
				<label for="sick">投诉问题</label>
				<input id="sick" type="text" placeholder="请输入投诉标题" class="padding-left" ng-model="data.guide_rights_problem">
			</div>
			
			<div class="wenti_list padding">
				<label for="xx">投诉诉求</label>
				<input id="xx"  type="text" placeholder="请输入赔偿需求" class="padding-left" ng-model="data.guide_rights_appeal">
			</div>
			
			<div class="wenti_list padding">
				<label for="yy">企业名称</label>
				<input id="yy"  type="text" placeholder="请输入企业名称" class="padding-left" ng-model="data.guide_rights_enterprise">
			</div>
			
			<div class="wenti_list padding">
				<label for="ee">电话号码</label>
				<input type="tel" id="ee" placeholder="请输入电话号码" class="padding-left" ng-model="data.guide_rights_enter_tel">
			</div>
			
			<div class="wenti_list padding">
				<label for="aa">投诉标题</label>
				<input id="aa" type="text" placeholder="请输入投诉标题" class="padding-left" ng-model="data.guide_rights_title">
			</div>
			
			<div class="xiangxi_detial padding">
				<p>详细内容</p>
				<textarea id="power_info" placeholder="请输入质量问题详情" class="wenbenqu" ng-model="data.guide_rights_content"></textarea>
			</div>
			
			<!--<div class="row padding pic_list">  -->
				<!--<img src="__STATIC__/wap/images/find/t111.png" alt="图片加载失败">-->
				<!--<img id="power_img" src="__STATIC__/wap/images/find/plus.png" alt="图片加载失败">-->
				<!--上传图片-->	
				<!--允许file控件接受的文件类型-->
					<!--<div class="item skill_files row">
						<span class="skill_file1 col col-50">
							<input id="imgUpload1" name="imgUpload1" type="file" class="imgUpload" draggable="true" single/>
							<div id="destination1" class="destination"  >
								<button  class="button button-light">上传图片</button>
							</div>
						</span>
						<span class="skill_file1 col col-50">
							<input id="imgUpload2" name="imgUpload2" type="file" class="imgUpload" draggable="true" single/>
							<div id="destination2" class="destination">
								<button  class="button button-light">上传图片</button>
							</div>
						</span>
					</div>
			</div>-->
			<a class="button button-full pull" ng-click='btn()' ng-disabled="!(data.guide_rights_problem && data.guide_rights_appeal&&data.guide_rights_enterprise&&
				    data.guide_rights_enter_tel&&data.guide_rights_title&&data.guide_rights_content)">提交</a>
		</ion-content>
		
	</ion-view>
	</div>
</block>
<block name="footer_js">
		<script type="text/javascript" src="__STATIC__/js/jQuery/urgency.js"></script>
	<script>
		app.controller("powerCtrl",function($scope,verify){
			
			
			$scope.data={};
			$scope.data.guide_rights_name=localStorage.userId;
			$scope.btn=function(){
				
				if(verify.tel($scope.data.guide_rights_enter_tel) || verify.fixedTel($scope.data.guide_rights_enter_tel)){
					$.ajax({
					type:"post",
					url:API+"/Gov/govExciseAsk",
					async:true,
					data:$scope.data,
					success:function(data){
						console.log(data);
						if(data.status==1){
						
						$scope.alert("提交成功");
						setTimeout(
							function(){history.go(-1)},1500)						
						}else{
							$scope.alert("提交失败");
							return false;
						}
					}
				});
				}else{
					$scope.alert("请填写正确手机号码")
					return false;
				}
			}
	})
	</script>
</block>