<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
</block>
<block name="content">
	<ion-header-bar align-title="center" no-tap-scroll="false" class="myHeader">
		<button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
		<h1 class="title">大学</h1>
	</ion-header-bar>

	<ion-content overflow-scroll="false" has-bouncing="ture" ng-controller="trainClassCtrl">
		<div class="school_list">
			<a href="university_details" class="school_item">
				<div class="img_inner"> <img ng-src="__STATIC__/wap/images/find/school_list.png"></div>
				<div class="scholl_brief">
					<p>四川大学</p>
					<p>电话：&nbsp028-1345</p>
					<p>地址：成都市一环路东红瓦寺村街</p>
				</div>
			</a>
			<a href="IT_scholl_details" class="school_item" ng-repeat="item in allclass">
				<div class="img_inner"> <img ng-src="{{(item.train_mech_img)?item.train_mech_img:IMG+'/Public/static/wap/images/nopix.png'}}"></div>
				<div class="scholl_brief">
					<p ng-bind="item.train_mech_name"></p>
					<p>电话：&nbsp{{item.train_mech_tel}}</p>
					<p>地址：{{item.train_mech_address}}</p>
				</div>
			</a>

		</div>
	</ion-content>

</block>
<block name="footer_js">
	<script>
		app.controller('trainClassCtrl', function($scope, $http) {
			$http.post(API+"/Edu/eduAgency").success(function(data) {
				$scope.allclass = data.returnData;
				console.log($scope.allclass);
			})
		});
	</script>
</block>