<extend name="Public/base"/>
<block name="headerCss">
</block>
<block name="content">
	<ion-header class='bar bar-header bar-light'>
		<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
		<h1 class="title">双创学院</h1>
	</ion-header>
	<video id="videoSrc" width="100%" autoplay>
	</video>
</block>
<block name="footer_js">
	<script>
		var videoSrc = getQueryString ('url');
		document.getElementById ('videoSrc').src = videoSrc;
		document.getElementById ('videoSrc').play ();
		console.log (videoSrc);
		//获取URL参数
		function getQueryString (name) {
			var reg = new RegExp ("(^|&)" + name + "=([^&]*)(&|$)" ,"i");
			var r = window.location.search.substr (1).match (reg);
			if(r != null) return decodeURI (r[ 2 ]);
			return null;
		}
	</script>
</block>