<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/hold_power/tainclass.css">
	<style>
		.nav_li {
			overflow-x: scroll;
			overflow-y: hidden;
			background: #f9f9f9;
			height: 38px;
			position: relative;
		}
		
		.nav_li ul li {
			height: 38px;
			float: left;
			padding: 0px 15px;
			overflow: hidden;
		}
		.clearfix{
			height:38px;
			overflow-x: scroll;
			overflow-y: hidden;
			}
		.nav_li ul {
			position: relative;
		}
		
		::-webkit-scrollbar {
			width: 0;
		}
	</style>
</block>
<block name="content">
	<ion-view ng-controller="trainClassCtrl">
		<ion-header-bar align-title="center" no-tap-scroll="false" class="myHeader">
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">培训</h1>
		</ion-header-bar>
		<!--选项卡区域-->

		<div class="nav_li">

			<ul class="clearfix">
				<li class="" ng-repeat="li in nav">
					<span ng-bind="li.train_category_name"></span>
				</li>

				<div class="line"></div>
			</ul>

		</div>

		<!--内容列表区-->
		<div class="all_content">
			<ion-content overflow-scroll="false" has-bouncing="ture" class="top_82">
				<ion-refresher pulling-text="正在刷新" on-refresh="doRefresh()">
				</ion-refresher>
				<div class="school_list">
					<a ng-repeat="item in allclass" href="{{API+'/Edu/eduAgencyInfo'+'?agenycyId='+item.train_mech_id}}" class="school_item">
						<div class="img_inner"> <img ng-src="{{(item.train_mech_img)?item.train_mech_img:IMG+'/Public/static/wap/images/nopix.png'}}"></div>
						<div class="scholl_brief">
							<p ng-bind="item.train_mech_name"></p>
							<p ng-bind='"电话："+item.train_mech_tel'></p>
							<p ng-bind='"地址："+item.train_mech_address'></p>
						</div>
					</a>
				</div>
				<ion-infinite-scroll distance="1%" on-infinite="requset({{firstID}})" ng-if="hasMore">
				</ion-infinite-scroll>
				<div style="line-height: 3rem;text-align: center;color: orange;" ng-if="!hasMore">没有更多数据</div>
			</ion-content>
		</div>

	</ion-view>
</block>
<block name="footer_js">
	<script>
		app.controller('trainClassCtrl', function($scope, $http, $ionicLoading) {

			//定义页面数量，是否自动请求参数，接受数据数组
			$scope.pageIndex = 0;
			$scope.hasMore = true;
			$scope.allclass = [];
			//页面请求过程loading动画

			var loadingHide = function() {
				$ionicLoading.hide();
			}

			$scope.set_class = function(x) {

				var nav_li = $(".nav_li ul li");
				$(".nav_li ul li").eq(x).addClass("on").siblings().removeClass("on");
				var t = $('.nav_li ul li').eq(x).children("span").position().left;
				var w = $('.nav_li ul li').eq(x).children("span").width();
				$(".nav_li .line").css({
					left: t,
					width: w
				})

				//				$(".nav_li ul li").each(function(i, row){
				//					$(".nav_li ul li").removeClass("on")
				//					if(i == x) {						
				//						var t = $("span", this);
				//						var left = t.offset().left;
				//						var w = t.width();
				//						$(this).addClass("on")
				//						$(".line").css({left:left,width:w});
				//					}
				//				});
			};

			$.ajax({
				type: "POST",
				url: API+"/Edu/eduAgencyCategory",
				async: false,
				success: function(data) {
					$scope.nav = data.returnData;
					$scope.$apply();
					setTimeout(function() {
						if(sessionStorage.Index) {
							$scope.set_class(sessionStorage.Index);
							
							var liNum=$('.nav_li ul li').length;
							var ulW=0;
							for(var n=0;n<liNum;n++){
								ulW+=$('.nav_li ul li').eq(n).outerWidth();
								console.log($('.nav_li ul li').eq(n).outerWidth()+"  ,  "+ulW)
							}
							$('.nav_li ul').width(ulW+10);
						} else {
							$scope.set_class(0);
						};
					}, 100);
					
					
					//					$('.nav_li ul').width(lnum*60);

				}
			});

			if(sessionStorage.dataId) {
				$scope.firstID = sessionStorage.dataId;

			} else {
				$scope.firstID = $scope.nav[0].train_category_id;
			}

			//  		console.log($scope.firstID);
			//绑定导航栏点击事件

			$("body").delegate(".nav_li ul li", "click", function() {
				$scope.pageIndex = 0;
				$scope.allclass = [];
				var i = $(this).index();
				$scope.firstID = $scope.nav[i].train_category_id;
				$scope.set_class(i);
				$scope.requset($scope.firstID);
				sessionStorage.dataId = $scope.firstID;
				sessionStorage.Index = i;
			})

			//点击导航栏，服务器传ID获取对应内容
			//上滑无限加载数据，下滑更新数据
			$scope.requset = function(id) {
				$.ajax({
					type: "post",
					url: API+"/Edu/eduAgency",

					data: {
						categoryId: id,
						offset: $scope.pageIndex
					},
					dataType: "json",
					success: function(data) {
						loadingHide();

						console.log(data);

						$.each(data.returnData, function(x, arr) {
							$scope.allclass.push(arr);
							$scope.$apply();
						});

						if(data.returnData.length < 20) {
							$scope.hasMore = false;
						}

						$scope.pageIndex++;
						$scope.$broadcast('scroll.infiniteScrollComplete');
						$scope.$broadcast('scroll.refreshComplete');

					}

				});
			}

			$scope.doRefresh = function() {
					$scope.allclass = [];
					$scope.hasMore = true;
					$scope.pageIndex = 0;
					$scope.requset($scope.firstID);
					$scope.$apply();

				}
				//导航栏颜色改变,导航条跟随 			 						
				//初始化获取导航信息

		});
	</script>
</block>