<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	<ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
    <button class="button icon-left ion-ios-arrow-left button-clear button-energized"
            ng-click="myGoBack()"></button>
    <h1 class="title">学校详情</h1>
</ion-header-bar>
<ion-content overflow-scroll="false" has-bouncing="true">
    <div class="scholl_details_banner">
        <img src="__STATIC__/wap/images/find/xuexiaobanner_02.png" alt="">
    </div>
    <div class="text padding">
        <p>四川大学是国家知识创新和科技创新的重要基地。拥有国家重点实验室和国家工程技术研究中心6个，国家工程实验室1个，
            国防重点学科实验室1个，国家技术转移中心1个，教育部重点实验室、工程研究中心及网上合作中心14个， 卫生部重点
            实验室3个，省级重点实验室45个,教育部哲学社会科学重点研究基地4个，国家级临床研究基地3个，医疗技术精湛的附属
            医院４所。四川大学科技园是国家最早批准的15个国家大学科技园试点之一。学校在文学、史学、宗教学、数学、材料
            、能源、化工、轻纺、生物学、口腔医学、临床医学、基础医学等方面都有雄厚的科研实力，并取得了丰硕的研究成果</p>
        <a href="" style="margin: 0 auto">查看详情<img src="__STATIC__/wap/images/find/xiajiantou_03.png"></a>
    </div>
    <div class="yuancheng padding">
        <p>创建时间：2006年</p>
        <p>隶属于：四川省教育厅</p>
        <p>学生人数：2000多名</p>
        <p>重点学科：4个</p>
        <p>博士点：50个</p>

        <div class="dingwei">
            <p>院士数：4个</p>
            <p>学校类型：财经类</p>
            <p>硕士点：75个</p>
        </div>
    </div>
    <div class="tel padding">
        <p>联系方式</p>
        <p>地址：成都市一环路，东五段牛王庙</p>
        <p>联系电话：028-8544820</p>
        <a href="line_study" class="yuanchengke_2">远程课堂</a>
    </div>
    <div class="xuefei padding">
       <span>学费信息</span>
        <p>4600元一年(普通住哪可学校)</p>
        <p>学校住宿详情学校住宿详情学校住宿详情学校住宿详情学校住宿详情学校住宿详情</p>
    </div>
    <div class="jiuye padding">
        <span>就业情况</span>
        <p>百分百安排就业</p>
    </div>
</ion-content>

</block>
 	<block name="footer_js">
 		
 	</block>
