<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/urgency.css">
	<style type="text/css">
		#destination {
			filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(true, sizingMethod=scale);
		}
		input.this{width: 100%;height: 36px;line-height: 36px;border: 1px solid #ddd;border-radius: 4px;color: #888;padding: 0px 10px;}
	</style>
</block>
<block name="content">
	<ion-view>
		<ion-content overflow-scroll="true" has-bouncing="false">

			<ion-header-bar class='bar bar-header bar-light'>
				<button class="button icon-left ion-ios-arrow-left button-clear  button-energized" ng-click='myGoBack()'></button>
				<h1 class="title">技能认证</h1>
			</ion-header-bar>
			<!--以下为技能认证的具体页面内容-->
			<div class="skill_content">
				
				<!--//职业分类-->
				<div class="p-10 ub ub-ac bg-white mb-10 mt-10">
					<div class="text-888 text-14">
						职业名称
					</div>
					<div class="ub-f1 ml-10">
						<input class="this" type="text" placeholder="技能名称" />
					</div>
				</div>
				
				<div class="item">
					<span>
							上传技能证书照片
					</span>

					<!--上传图片-->
					<!--允许file控件接受的文件类型-->
					<div class="item skill_files row">
						<span class="skill_file1 col col-50">
							<input id="imgUpload1" name="imgUpload1" type="file" class="imgUpload" draggable="true" single/>
							<div id="destination1" class="destination"  >
								<button  class="button button-light">上传正面</button>
							</div>
							
						</span>
						<span class="skill_file1 col col-50">
							<input id="imgUpload2" name="imgUpload2" type="file" class="imgUpload" draggable="true" single/>
							<div id="destination2" class="destination">
								<button  class="button button-light">上传反面</button>
							</div>
						</span>

					</div>
				</div>
				<div class="item">
					<div class="button-bar bar-stable">
						<a class="button">提交</a>
					</div>
				</div>
			</div>
		</ion-content>
	</ion-view>

</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/jQuery/urgency.js"></script>
</block>