<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	<ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
    <button class="button icon-left ion-ios-arrow-left button-clear button-energized"
            ng-click="myGoBack()"></button>
    <h1 class="title">证件</h1>
</ion-header-bar>
<ion-content class="padding">
    <h4 class="blod">办理《成都市工作居住证》（国内外埠人才）</h4>
    <span class="text-888">2015-09-22 10:31</span>
    <h5 class="blod">办理机构</h5>
    <p class="text-888">申请人暂住地所在的户籍派出所</p>
    <h5 class="blod">办理地址</h5>
    <p class="text-888">成都市公安局个分县局户籍派出所</p>
    <h5 class="blod">办理电话</h5>
    <p class="text-888">028-87680101</p>
    <h5 class="blod">办理条件</h5>
    <p>一、受理</p>
    <p class="innnit text-888">
        （一）条件：年满16岁，在本市暂住时间超过一个月，或在本事从事务工、经商等外来人员。
    </p>
    <p>(二)申领方式：</p>
    <p class="text-888">
       1、 暂住在本市的暂住在本市的暂住在，本市的暂住在本市的暂住在本市的暂住在本；市的暂住在本市的暂住在本市的暂住在本市
        的暂住在本市的暂，住在本市的
        的暂住在本市的。暂住在本市的
        的暂住在本市；的暂住在本市的
        的暂住在本市的；暂住在本市的
    </p>
    <p>(三)申领《暂住证》，应持以下证明</p>
    <p class="text-888">
        1、证明：<br>
        2、证明：
    </p>
    <h5 class="blod">办理程序</h5>
    <p class="text-888">(二)申领方式：</p>
    <h5 class="blod">办理时间</h5>
    <p class="text-888">(二)申领方式：</p>
    <h5 class="blod">办理时限</h5>
    <p class="text-888">(二)申领方式：</p>
    <h5 class="blod">收费标准</h5>
    <p class="text-888">(二)申领方式：</p>
    <h5 class="blod">办理依据</h5>
    <p class="text-888">《中华人民共和国户口登记条例》</p>

</ion-content>

</block>
 	<block name="footer_js">
 		
 	</block>