<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	<ion-header-bar align-title="center" no-tap-scroll="false" class="myHeader">
    <button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
    <h1 class="title">大学</h1>
</ion-header-bar>
<!--选项卡区域-->
<!--内容列表区-->
<ion-content overflow-scroll="false" has-bouncing="ture">
    <div class="school_list">
        <a href="xinan_air_index" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>西南航空职业技术学院</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
        <a href="" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>西南财经大学</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
        <a href="" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>电子科技大学</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
        <a href="" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>四川大学</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
        <a href="" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>西南石油大学</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
        <a href="" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>朗沃信息职业技术学院</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
        <a href="" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>朗沃信息职业技术学院</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
        <a href="#" class="school_item">
            <div class="img_inner"> <img src="__STATIC__/wap/images/find/school_list.png"></div>
            <div class="scholl_brief">
                <p>朗沃信息职业技术学院</p>
                <p>电话：&nbsp028-1345</p>
                <p>地址：成都市一环路东红瓦寺村街</p>
            </div>
        </a>
    </div>
</ion-content>

</block>
 	<block name="footer_js">
 		
 	</block>
