<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	<ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
    <button class="button icon-left ion-ios-arrow-left button-clear button-energized"
            ng-click="myGoBack()"></button>
    <h1 class="title">西南航空专修学院</h1>
</ion-header-bar>
   <ion-content>
    <div class="school_banner">
        <img src="__STATIC__/wap/images/find/bannerkong_02.jpg" alt="">
    </div>
    <div class="row myschool_row">
        <a href="air_serve" class="col myschool">
            <img src="__STATIC__/wap/images/find/zaixian2.jpg" alt="">
            <p>空乘服务</p>
        </a>
        <a href="#" class="col myschool">
            <img src="__STATIC__/wap/images/find/zaixian3.jpg" alt="">
            <p>国际空乘</p>
        </a>
        <a href="#" class="col myschool">
            <img src="__STATIC__/wap/images/find/zaixian4.jpg" alt="">
            <p>民航安全</p>
        </a>
    </div>
       <div class="row myschool_row">
           <a href="#" class="col myschool">
               <img src="__STATIC__/wap/images/find/zaixian5.jpg" alt="">
               <p>航空服务</p>
           </a>
           <a href="#" class="col myschool">
               <img src="__STATIC__/wap/images/find/zaixian6.jpg" alt="">
               <p>航空机电</p>
           </a>
           <a href="#" class="col myschool">
               <img src="__STATIC__/wap/images/find/zaixian7.jpg" alt="">
               <p>公务乘务</p>
           </a>
       </div>

   </ion-content>

</block>
 	<block name="footer_js">
 		
 	</block>
