<extend name="Public/base" />
<block name="headerCss">
	<style>
	.bar-subheader{position: relative; background: #f8f8f8;border-bottom: 0px;}
		.bar-subheader .col{text-align: center;}
		.bar-subheader .col span{display: inline-block;padding: 0px 10px;}
		.line{background: #F8BD39;height: 3px;position: absolute;bottom: -1px;}
		.subbox{opacity: 0;z-index: -1;transition: all 0.3s;-webkit-transition: all 0.3s;position: absolute;top: 0px;left: 0px;}
		.checked{opacity:1 ;z-index: 100;transition: all 0.3s;-webkit-transition: all 0.3s;}
	</style>
</block>
<block name="content">
	<div class="page-travel page-collect" ng-controller='collectCtrl'>
		<ion-header-bar class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">我的收藏</h1>
		</ion-header-bar>
		<ion-header-bar class="bar-subheader has-header">
			<div class="row">
				<div class="col">
					<span>精彩游记</span>
				</div>
				<!--<div class="col">
					<span>难忘行程</span>
				</div>
				<div class="col">
					<span>政务新闻</span>
				</div>-->
			</div>
			<div class="line">
				
			</div>
		</ion-header-bar>
		
		<ion-content overflow-scroll="false" has-bouncing="ture" class='has-subheader'>
			<!--//精彩游记-->
			<div class="travel-week bg-white pv-10 subbox">
					
					<div class="travel-con-plan">
						<a ng-repeat='item in diary | orderBy:sorterFunc ' href="/wap.php/travel/diary_detail?tripId={{item.trip_id}}" class="p-10" >
							<div class="picshow">
								<img class="showimg" ng-src="{{item.img?item.img:IMG+'/Public/static/wap/images/travel/nopix.png'}}" />
								<div class="avater">
									<img ng-src="{{(item.headerImg)?item.headerImg:IMG+'/Public/static/wap/images/portrait.jpg'}}" />
								</div>
							</div>
							<p class="text-888 pt-10 pb-5 text-12 intr m-0" ng-bind='item.trip_caption'></p>
							<div class="mb-10">
								<!--<span><i class="icon ion-eye mr-5"></i><em ng-bind='item.browse_times'></em></span>-->
								<span><i class="icon ion-android-time mr-5"></i><em  ng-bind='getLocalDate(item.trip_date)'></em></span>
							</div>

						</a>
					</div>

				</div>
			<!--//精彩行程-->
			<div class="subbox">
				<!--精彩行程-->
			</div>
			<!--//政务新闻-->
			<div class="subbox">
				<!--政务新闻-->
			</div>

		</ion-content>
	</div>
</block>

<block name="footer_js">

	<script>
		app.controller('collectCtrl', ['$scope', function(a) {
		console.log(localStorage.userId);
			a.currentCollect=0;
			if(sessionStorage.currentCollect){
				a.currentCollect=sessionStorage.currentCollect;
				
			}else{
				a.currentCollect=0;
			}
			
			
			
			
			
			
			a.line=function(){
				var currLine=$('.bar-subheader').find('.col').eq(a.currentCollect).find('span');
				var lineW=currLine.outerWidth();
				var left=currLine.offset().left;
				$('.line').animate({width:lineW,left:left},300);
				$('.subbox').eq(a.currentCollect).addClass('checked').siblings().removeClass('checked');
			}
			a.line();
			
			
			
			$('.bar-subheader').find('.col').on('click',function(){
				a.currentCollect=$(this).index();
				a.line();
				sessionStorage.currentCollect=a.currentCollect;
				
			})
			
			
				$.ajax({
					type:"post",
					url:API+"/User/usercollectionList",
					data:{
						userId:localStorage.userId,
						type:1
					},
					async:true,
					success:function(data){
						a.diary=data.returnData;
						a.$apply();
						console.log(data.returnData);
					}
				});
			
			
			
			
			
			
			

		}])
		
	</script>

</block>