<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
</block>
<block name="content">
    <div class="page-coupon" ng-controller="couponCtrl">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">优惠劵</h1>
            <!--<button class="button button-clear"><i class="add">添加</i></button>-->
        </ion-header>

        <ion-content class="has-header" zooming="true" direction="y" style="width: 100%; height:100%">
        <!--<div class="mature">
            <!--<div class="mature-block">
                <span>有<i>3</i>张优惠劵即将到期</span>
                <span class="explain">
                	<img src=" __STATIC__/wap/images/myCenter/Coupon/coupon2.png">
                <i>优惠劵说明</i>                	
                </span>
            </div>-->
      <!--  </div>-->
        <div class="discount">
            <div class="discount-block">
                <img src=" __STATIC__/wap/images/myCenter/Coupon/coupon1.png">
                <span>￥<i ng-bind="toFixed0(coupon.coupon_money)"></i></span>
                <ul>
                    <li class="title" ng-bind="coupon.coupon_name"></li>
                    <li><i ng-bind="coupon.coupon_rule"></i></li>
                    <li><i ng-bind="'有效期至'+getLocalDate(coupon.coupon_expire)"></i></li>
                </ul>
            </div>          
        </div>
        <!--<p><a href="#">查看历史优惠劵</a></p>-->
            </ion-content>
    </div>
</block>

<block name="footer_js">

	<script>
		app.controller("couponCtrl", function($scope) {

			$.ajax({
				type: "post",
				url: API+"/User/coupon",
				success: function(data) {
					$scope.coupon = data.returnData;
					$scope.$apply();
					console.log($scope.coupon)
				}
			});
			$scope.toFixed0 = function(item) {
				return Number(item).toFixed(0);
			}
		})
	</script>

</block>