<extend name="Public/base" />
<block name="headerCss">
	<style>
		.topbox{border-radius: 4px; margin: 10px;background: linear-gradient(top,#ef394d 0%,#f7b41f 100%);background: -webkit-linear-gradient(top,#ef394d 0%,#f7b41f 100%);padding:1rem 1.5rem;}
		.topbox .problem{width: 20px;height: 20px;border-radius: 50%;background: #fff;text-align: center;line-height: 20px;display: inline-block;}
		.topbox button{line-height: 24px;border-radius: 4px;background: #fff;text-align: center;width: 100%;border: 0px;height: 24px;}
		.pointlist .point:last-child{border-bottom: 0px;}
		.pointlist .point{}
	</style>
</block>
<block name="content">
	<div ng-controller="pointsCtrl">
		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">我的积分</h1>
		</ion-header>
		<ion-content class="has-header postercontent ub ub-ver" has-bouncing='true' overflow-scroll='false'>
			<div class="topbox">
				<div class="ub ub-ac mb-20 text-fff text-12">
					<div class="ub-f1">
						当前积分
					</div>
					<!--<a class="text-fff"><i class="mr-5 problem text-drak-yellow">?</i>积分说明</a>-->
				</div>
				<h2 class="text-fff" ng-bind='points[0].integral_old+"分"'></h2>
				<!--<button class="text-drak-yellow">积分兑换商品</button>-->
			</div>

			<div class="mt-10 p-10 bg-f5 text-12 text-888">
				近30天积分消费情况
			</div>
			<div class="pointlist">
				<div class="point bb-1 ph-10" ng-repeat='point in points'>
					<div class="ub ub-ac pv-10 text-444">
						<div class="ub-f1">
							签到
						</div>
						<span ng-bind='getLocalDate(point.integral_date)'></span>
					</div>
					<div class="ub ub-ac pb-10">
						<div class="ub-f1 text-888 text-12" ng-bind='"剩余积分 "+point.integral_old'>
							
						</div>
						<span class="text-drak-yellow" ng-bind='(point.integral_way==1)?(" - "+point.integral):(" + "+point.integral)'></span>
					</div>
				</div>
			</div>
		</ion-content>
	</div>
</block>

<block name="footer_js">
	<script>
		app.controller('pointsCtrl', ['$scope', function(a) {
			$.ajax({
				type:"post",
				url:API+"/User/integralInfo",
				async:true,
				data:{userId:localStorage.userId},
				success:function(data){
					console.log(data.returnData);
					a.points=data.returnData;
					a.$apply();
				}
				
			});
		}])
	</script>

</block>