<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="bg-white" ng-controller='diaryCtrl'>
		<ion-header class='bar bar-header bar-light littleBtn'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">游记</h1>
				<a class="button button-energized button-outline" ng-click='newdiary()'>写游记</a>
			</ion-header>
			<ion-content has-bouncing='ture' overflow-scroll='false' class='has-header'>
				<!--游记列表开始-->
				<div class="travel-week bg-white pv-10">
					
					<div class="travel-con-plan">
						<a ng-repeat='item in diary | orderBy:sorterFunc ' href="diary_detail?tripId={{item.trip_id}}" class="p-10" >
							<div class="picshow">
								<img class="showimg" ng-src="{{item.img_url?item.img_url:IMG+'/Public/static/wap/images/travel/nopix.png'}}" />
								<div class="avater">
									<img ng-src="{{(item.headerImg)?item.headerImg:IMG+'/Public/static/wap/images/portrait.jpg'}}" />
								</div>
							</div>
							<p class="text-888 pt-10 pb-5 text-12 intr m-0" ng-bind='item.trip_caption'></p>
							<div class="mb-10">
								<!--<span><i class="icon ion-eye mr-5"></i><em ng-bind='item.browse_times'></em></span>-->
								<span><i class="icon ion-android-time mr-5"></i><em  ng-bind='getLocalDate(item.trip_date)'></em></span>
							</div>

						</a>
					</div>

				</div>
				<!--游记列表结束-->
			</ion-content>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('diaryCtrl',['$scope','$ionicLoading',function(a, loading){
			
			//首页主要信息
			console.log(localStorage.townId);
			$.ajax({
				type: "post",
				url: API+"/Trip/tripNotes",
				dataType: 'json',
				data:{sys_town_id: localStorage.townId},
				success: function(data) {
					
					
					a.diary = data.returnData;
					console.log(a.diary);
					//					console.log(a.trip);
					a.$apply();
				}
			});
			
			//排序问题
			a.sorterFunc = function(item){
			    return parseInt(-item.trip_id);
			};
			
			a.newdiary=function(){
				if(localStorage.userId){
					window.location='newdiary';
				}else{
					a.alert('用户请先登录！');
					setTimeout(function(){
						window.location='/wap.php/index/';
					},1500)
				}
			}
		}])
	</script>	
</block>
