<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="bg-f5" ng-controller='twonlistCtrl'>
		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">全部小镇</h1>
		</ion-header>
		<ion-content has-bouncing='true' overflow-scroll='false' class='has-header'>
			<div class="">

				<div class="travel-week bg-white pv-10">
					

					<div class="row row-wrap list-img-top">
						<div class="col col-25" ng-repeat='twon in allTwon'>
							<a href="index?townId={{twon.sys_town_id}}&bgurl={{twon.img_url}}">
								<div class="imgbox" style="background: url({{(twon.img_url)?twon.img_url:'/Public/static/wap/images/nopix.png'}});background-size:cover ;"></div>
							    <span class="text-888" ng-bind='twon.town_name'></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('twonlistCtrl',['$scope','$ionicLoading',function(a,loading){
			$.ajax({
				type:"post",
				url:API+"/Trip/townList",
				beforeSend:function(){
					loading.show();
				},
				complete:function(){
					loading.hide();
				},
				success:function(data){
					a.allTwon=data.returnData;
					console.log(a.allTwon);
				}
			});
		}])
	</script>
	
</block>
