<extend name="Public/base" />
<block name="headerCss">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
	<style>

	</style>
</block>
<block name="content">

	<div class="bg-f5" ng-controller='voiceCtrl'>
		<ion-content has-bouncing='false' overflow-scroll='true'>
			<!--顶部图片部分-->
			<div class="intr-head ub-img1 mb-10">
				<img class="bgimg" src="__STATIC__/wap/images/travel/voicebg.png" />
				<div class="ub-f1 ub p-10 top_icons">
					<div class="ub-f1 top-icon">
						<a ng-click='javascript:history.back(-1)'><img class="w-35" src="__STATIC__/wap/images/travel/dt_back.png" /></a>
					</div>
				</div>
				<div class="bot_inf" style="bottom: 0px;">

					<div id="player">
						<p ng-bind='currentAudio.speech_title' style="color: #fff; font-size: 12px; padding: 10px 20px;"></p>
						<div class="play-box">
							<div class="play">
								<i class="ion-play" ng-click="play()"></i>
							</div>
							<div class="zujian">
								<div class="progress">
									<div class="true"></div>
								</div>
								<div class="time" ></div>
							</div>
						</div>
						<audio id="audio" src=""></audio>
					</div>

				</div>
			</div>
			<!--底部景点列表-->
			<div class="voicelist">
				<ion-scroll zooming="true" direction="x" scrollbar-x='false' has-bouncing='true'>
					<ul>
						<li ng-repeat='audio in allAudio' ng-click='changeAudio({{audio.audio[0]}})'>
							<img ng-src="{{audio.tourism_img_url}}" />
							<p ng-bind="($index+1)+' . '+audio.spots_name"></p>
						</li>
					</ul>

				</ion-scroll>

			</div>
		</ion-content>
	</div>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/wap/js/audio.js" ></script>
</block>