.list_item{display: block;position: relative;}
        .list_item span{font-size: 1.2rem;}
        .list_item .question_title{color: #414141;font-weight:500;max-width: 20%;display: inline-block;vertical-align: middle;font-size: 1.4rem;}
        .first_row>span{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

        .question{padding-left: 6%;color: #666666;max-width: 58%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;  display: inline-block;vertical-align: middle;}
        .done{background:orange;color: #fff;border-radius: 5px;padding:0 0.6rem;position: absolute;top:1px;right: 0;}
        .first_row{position: relative;font-size: 1.4rem;}
        .second_row{line-height: 4rem;}
        .second_row>span{color: #666666;}
        .ask_name{padding-left: 8.5%;}
        .ask_time{position: absolute;right: 22%;}
        .date{float: right;}
        .list_item .back{padding-left: 10px;border-left: 2px solid orange;}
        .list_item p{margin:15px 0 15px;font-size: 1.2rem;}
        .last_p{background: #f6f6f6;}
         @media only screen and (max-width:320px) {
        	.ask_time{right: 35%;}
        }