<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
	<style>
		.bot {
			position: relative;
		}
		
		.commentList {}
		
		.commentList img:first-child {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			overflow: hidden;
		}
		.commentList .comment{max-height: 36px;overflow: hidden;min-height: 18px;}
		.commentbox{}
		.commentbox input{height: 34px; width: 100%; padding: 5px; line-height: 24px; background: #f5f5f5;border-radius: 4px;}
	</style>
</block>
<block name="content">
	<div class="bg-white tripDetail ub up ub-ver" ng-controller='commentCtrl'>
		<div class="h-44">
			<ion-header class='bar bar-header bar-light littleBtn'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">评论</h1>
			</ion-header>
		</div>
		<div class="ub-f1 ub ub-ver">
			<div class="ub-f1">
				<ion-content has-bouncing='true' overflow-scroll='false'>
					 <ion-refresher
				    pulling-text="下拉刷新..."
				    on-refresh="doRefresh()">
				 </ion-refresher>
				 
					<div class="commentList">
						<div class="p-10 bb-1 mb-10" ng-repeat='item in hotels' >
							<div class="ub ub-ac mb-10">
								<img class="mr-5" ng-src="{{(item.userInfo.header_img)?item.userInfo.header_img:IMG+'/Public/static/wap/images/portrait.jpg'}}" />
								<div class="ub-f1 text-444" ng-bind='item.userInfo.real_name'>user name</div>
								<div class="text-888" ng-bind='getLocalDate(item.comment_addtime)'>user name</div>
							</div>
							<div class="comment text-12 text-888" ng-bind='item.comment_content'></div>
						</div>

					</div>
					<div class="p-15 text-center text-14 text-444" ng-show='!hasMore'>数据已经加载完了</div>
				<ion-infinite-scroll
				  ng-if="hasMore"
				  on-infinite="getHotel()">
				</ion-infinite-scroll>
				</ion-content>
			</div>
			<div class="h-44">
				<div class="p-5 commentbox ub ub-ac">
					<div class="ub-f1 mr-5">
						<input type="text" name="" rows="" cols="" placeholder="请填写评论内容" ng-model='newComment.comment_content' />
					</div>
					<button class="button  button-small button-energized ml-5" ng-click='submitNewComment()'>发送</button>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('commentCtrl', ['$scope', '$ionicLoading',"$ionicScrollDelegate", function(a, loading, c) {
			var objId=getQueryString('objId');
			
			//获取评论列表
			a.pageIndex = 0;
			a.pagSize = 20;
			
			a.hasMore = true;
			
			a.hotels = [];

			//酒店数据
			a.getHotel = function(){
				$.ajax({
					type: "post",
					url: API+"/User/userCommentsList",
					dataType: 'json',
					data: {
						type: 1,
						objId:objId,
						offset: a.pageIndex
					},
					success: function(data) {
						
						$.each(data.returnData,function(i,row){
							a.hotels.push(row);
						})
						console.log(a.hotels);
						if(data.returnData.length<a.pagSize){
							a.hasMore=false;
						}
						
						a.pageIndex++;
						a.$broadcast('scroll.infiniteScrollComplete');
						a.$broadcast('scroll.refreshComplete');
					}
				});
			}
			
			
			a.doRefresh = function(){
				a.hotels = [];
				a.pageIndex = 0;
				a.hasMore = true;
				a.$apply();
				a.getHotel();
			}
			
			
			
			//新评论
			a.newComment={};
			a.newComment.userId=localStorage.userId;
			a.newComment.objId=objId;
			a.newComment.comment_obj_type=1;
			a.submitNewComment=function(){
				if(!a.newComment.comment_content){
					a.alert('请填写评论内容');
					return false;
				}
				
				$.ajax({
					type:"post",
					url:API+"/User/userComments",
					async:true,
					data:a.newComment,
					success:function(data){
						console.log(data);
						if(data.status==1){
							a.newComment.comment_content='';
							
							$.ajax({
								type:"post",
								url:API+"/User/userCommentsList",
								async:true,
								data:{
									type: 1,
									objId:objId,
									offset: 0
								},
								success:function(data){
									console.log(data);
									a.hotels=data.returnData;
									a.$apply();
								}
								
							});
							
							a.alert('评论成功');
							
						}else{
							a.alert('对不起，您的评论失败')
						}
					}
				});
				
				
			}
			
			
		}])
	</script>
</block>