<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
	<style>
		.bot{position: relative;}
	</style>
</block>
<block name="content">
	<div class="bg-white tripDetail" ng-controller='diaryDetailCtrl'>
		<ion-header class='bar bar-header bar-light littleBtn'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">游记详情</h1>
			<a href="#" class="button button-energized button-outline" ng-click='usercollection(userId,tripDetail.trip_id,1)'>收藏</a>
		</ion-header>
		<ion-content has-bouncing='true' overflow-scroll='false' class='has-header'>
			<div class="citilist">
				<div class="city_item">
					<img class="w-1" ng-src="{{tripDetail.imgUrl[0]}}" />
					<div class="intr ub ub-ac">
						<div class="ub-f1 text-center text-fff">
							<div class="mb-5 text-16" ng-bind='tripDetail.trip_caption'></div>
							<span class="has-line" ng-bind='tripDetail.trip_address'></span>
							<div class="mt-10 text-12" ng-bind='tripDetail.userInfo.user_name'></div>
						</div>
					</div>
				</div>
				
			</div>
			<div>
				<div class="p-10">
					<article>
						<div ng-bind-html='tripDetail.trip_content'></div>
						
						<img class="w-1" ng-src="{{tripDetail.imgUrl[1]}}" />
					</article>
					
				</div>
				<!--<p class="p-10 text-888 text-right text-12" ng-bind='getLocalDate(tripDetail.trip_date)+"@"+tripDetail.trip_address'></p>
				<div class="m-10 pv-10 bb-1">
					<span class="mark text-12">游记 @ 成都</span>
				</div>
				<div class="p-10 ub ub-ac text-12 text-888">
					<div class="ub-f1" ng-bind='getLocalDate(tripDetail.trip_date)+"发布"'></div>
					<div ng-bind='"来自行程 "+tripDetail.trip_address+"之旅"'>
						
					</div>
				</div>-->
				<div class="pv-15">
					<div class="p-10">
						<a href="comment?objId={{tripDetail.trip_id}}" class="button button-block button-energized">评论</a>
					</div>
				</div>

				
			</div>
			
		</ion-content>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('diaryDetailCtrl', ['$scope', '$ionicLoading', function(a, loading) {
			a.tripDetail={};
			//获取游记id
			a.tripDetail.tripId=getQueryString('tripId');
			if(typeof(localStorage.userId)!=undefined){
				a.userId=localStorage.userId;
			}
			$.ajax({
				type:"post",
				url:API+"/Trip/noteInfo",
				async:true,
				data:{tripId:a.tripDetail.tripId},
				success:function(data){
					a.tripDetail=data.returnData;
					a.$apply();
					console.log(data);
				}
			});
			

		}])
	</script>
</block>