<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">

	<div class="bg-f5" ng-controller='introductionCtrl'>
		<ion-header class='bar bar-header bar-light'>
			<a class="button button-clear" href='javascript:history.back(-1)' ><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">黄龙溪古镇</h1>
			<button class="button button-clear"><img class="header-r-img" src="__STATIC__/wap/images/travel/jiankong.png"/></button>
		</ion-header>
		<ion-content has-bouncing='ture' overflow-scroll='false' class='has-header'>
			<!--顶部图片部分-->
			<div class="intr-head ub-img1 ">
				<img class="bgimg" src="__STATIC__/wap/images/travel/intr-head-pic.png"/>
				<div class="hd-inf ub ub-ac pt-5 pb-5 pl-10 pr-10 bot_inf">
					<div class="ub-f1">
						<span class="text-red"><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i><i class="icon ion-star"></i></span>
						<p class="text-14 text-fff">总体印象：超赞</p>
					</div>
					<a class="write-note text-12">写游记</a>
				</div>
			</div>
			<!--文字部分-->
			<div class="padding travel-int-p bg-white">
				<h5>概况</h5>
				<div class="pv-10 text-888">
					<!--简介-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/t-intr-book.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>黄龙溪镇是十大水乡古镇之一，有着2100余年的历史，位于成都平原南部，是成都市双流区辖下的一个古镇，历来就是重要的军事重镇，距成都市区40公里，位于双流区东南部边缘，距双流区35公里，距华阳街道28公里，还位于成都乐山黄金旅游线上，南距乐山90km。</p>
						</div>
					</div>
					<!--地址-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/add2.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>地址：成都市双流区黄龙溪站</p>
						</div>
						<div class="text-drak-yellow">
							导航
						</div>
					</div>
					<!--汽车-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/bus2.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>汽车：</p>
							<p class='p-0 text-12'>1.在汽车东站在汽车东站在汽车东站在汽车东站在汽车东站在汽车东站；</p>
							<p class='p-0 text-12'>2.红牌楼发策划红牌楼发策划红牌楼发策划红牌楼发策划</p>
						</div>
					</div>

					<!--时间-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/time.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>全天</p>
						</div>
					</div>
					<!--价格-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/price.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>免费</p>
						</div>
					</div>

					<!--游玩时间-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/time2.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>建议游玩时间：2~4小时</p>
						</div>
					</div>
					<!--游玩时间-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/time.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>建议游玩时间：2~4小时</p>
						</div>
					</div>
					<!--官方网站-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/web.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>官方网站</p>
						</div>
						<i class="icon ion-ios-arrow-right"></i>
					</div>

					<!--百科-->
					<div class="ub ub-ac pv-5 bb-1">
						<i><img src="__STATIC__/wap/images/travel/baidu.png"/></i>
						<div class="ub-f1">
							<p class='p-0 text-12'>百度百科</p>
						</div>
						<i class="icon ion-ios-arrow-right"></i>
					</div>

					<!--贴士-->
					<div class="pv-10">
						<h5 class="mb-20">贴士：</h5>
						<span class="text-444 text-14">#建议时长#</span>
						<p class="mb-20">2~4小时</p>
						<span class="text-444 text-14">#小吃#</span>
						<p class="mb-20">胶皮周子、珍珠豆花、红烧黄辣丁</p>
						<span class="text-444 text-14">#游玩方式#</span>
						<p class="mb-20">1.租借自行车租借自行车租借自行车租借自行车租借自行车租借自行车租借自行车</p>
						<p class="mb-20">2.租借自行车租借自行车租借自行车租借自行车租借自行车租借自行车租借自行车</p>
					</div>
				</div>
			</div>
		</ion-content>
	</div>
</block>
<block name="footer_js">
<script>
	app.controller('introductionCtrl',['$scope','$ionicLoading',function(a,loading){
		//
	}])
</script>
</block>