<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">

	<link rel="stylesheet" href="__STATIC__/webuploader/css/webuploader.css">
	<style>
		.uploader-list {
			display: inline-block;
		}
		
		.uploader-list .info {
			width: 100px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 12px;
			color: #888;
		}
		
		.webuploader-pick {
			background: #F8BD39;
		}
		
		input {
			color: #888;
		}
		.toggle input:checked+.track{    
			border-color: #F8BD39;
    		background-color: #F8BD39;
    }
    .item{border: none;border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding: 16px 10px;}
    input{color: #888;}
	</style>
</block>
<block name="content">
	<div class="bg-f5" ng-controller='newDiaryCtrl'>
		<ion-header class='bar bar-header bar-light littleBtn'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">写游记</h1>
			<button href="newdiary" class="button button-energized button-outline" id="ctlBtn" ng-click='submit()'>发布</button>
		</ion-header>
		<ion-content has-bouncing='ture' overflow-scroll='false' class='has-header'>
			<div class="newdiary">
				<div class="starbox ub ub-ac">
					<div class="text-888 mr-10">评星</div>
					<div class="ub-f1 star text-888">
						<i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i>
					</div>
				</div>
				<div class="comment">
					<textarea name="" placeholder="来都来了，简单说两句..." rows="" cols="" id='trip_content'></textarea>
				</div>
				<div class="picPreview p-10">

					<!--dom结构部分-->
					<div id="uploader-demo">
						<!--用来存放item-->
						<div id="fileList" class="uploader-list"></div>
						<div id="filePicker">选择图片</div>
					</div>
				</div>
			</div>
			<div class="diaryDetail text-444">
				<div class="ub ub-ac p-10 bb-1">
					<span>旅行地点</span>
					<div class="ub-f1" onclick='getTown()'>
						<div type="text" class="ph-10 text-888 " id="townName" >必填</div>
					</div>
				</div>
				<div class="ub ub-ac p-10 bb-1">
					<span>旅行时间</span>
					<div class="ub-f1">
						<div type="text" class="ph-10 text-888 "  id="startDate" onclick="startDate()" >必填</div>
					</div>
				</div>
				<div class="ub ub-ac p-10 bb-1">
					<span>旅行标题</span>
					<div class="ub-f1">
						<input type="text" placeholder="必填" id="diaryTitle" />
					</div>
				</div>
				<!--<ion-toggle ng-model="multiPic.checked" ng-change="pushNotificationChange()" class="toggle-energized text-14">
					拼图模式<span class="text-12 text-888">(至少上传三张图片)</span>
				</ion-toggle>-->

				<!--<ion-toggle ng-model="isPrivate.checked" ng-change="pushNotificationChange()" class="toggle-energized text-14">
					是否所有人可见<span class="text-12 text-888">(关闭后仅自己可见)</span>
				</ion-toggle>-->

			</div>
		</ion-content>
		<div class="alltown">
			<ion-header class='bar bar-header bar-light'>
				<button class="button button-clear close"><i class="icon ion-ios-close-empty text-drak-yellow text-20"></i></button>
				<h1 class="title">全部小镇</h1>
			</ion-header>
			<ion-content has-bouncing='false' overflow-scroll='true' class='has-header'>
				<div class="">

					<div class="travel-week bg-white pv-10">

						<div class="row row-wrap list-img-top">
							<div class="col col-25" ng-repeat='twon in allTwon' ng-click='choseTown(twon.town_name,twon.sys_town_id)'>
								<a>
									<div class="imgbox" style="background: url({{(twon.img_url)?twon.img_url:'/Public/static/wap/images/nopix.png'}});background-size:cover ;"></div>
									<span class="text-888" ng-bind='twon.town_name'></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</ion-content>
		</div>
	</div>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/core.js"></script>
	<script src="__STATIC__/webuploader/js/webuploader.js"></script>
	<script src="__STATIC__/wap/js/newDiary.js"></script>
</block>