<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="bg-white preference ub ub-ver up" ng-controller='preferenceCtrl'>
		<div class="h-44">
			<ion-header-bar class='bar bar-header bar-light littleBtn'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">偏好设置</h1>
			</ion-header-bar>
		</div>

		<div class="ub-f1">
			<div class="p-10">
				<div class="ub mb-10">
					<div class="text-888 text-16 mr-10">
						旅行主题
					</div>
					<div class="ub-f1 bb-dotid ml-10">
						<span class="bb-dotid"></span>
					</div>
				</div>
				<div class="prebox clearfix theme">
					<div class="con checked">
						<div class="btn" rel='1'>
							美食
						</div>
					</div>
					<div class="con">
						<div class="btn" rel='2'>
							亲子
						</div>
					</div>
					<div class="con">
						<div class="btn" rel='3'>
							购物
						</div>
					</div>
				</div>
			</div>
			<div class="p-10">
				<div class="ub mb-10">
					<div class="text-888 text-16 mr-10">
						行程紧凑程度
					</div>
					<div class="ub-f1 bb-dotid ml-10">
						<span class="bb-dotid"></span>
					</div>
				</div>
				<div class="prebox clearfix compact">
					<div class="con checked">
						<div class="btn" rel='1'>
							宽松
						</div>
					</div>
					<div class="con">
						<div class="btn" rel='2'>
							正常
						</div>
					</div>
					<div class="con">
						<div class="btn" rel='3'>
							紧凑
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-10">
			<a href="#" class="button button-block button-energized" ng-click='next()'>出发</a>
		</div>

	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('preferenceCtrl', ['$scope', '$ionicLoading', function(a, loading) {
			
				
			a.newPlan=JSON.parse(localStorage.newPlan);
			console.log(a.newPlan);
			
			
			
			a.next=function(){
				
				var theme=$('.theme .checked .btn').attr('rel');
				var compact=$('.compact .checked .btn').attr('rel');
				
				
				a.newPlan.theme=theme;
				a.newPlan.compact=compact;
				console.log(a.newPlan);
				localStorage.newPlan = JSON.stringify(a.newPlan);
				window.location='/wap.php/travel/planLook'
			}
			
		}])
		
		$('.prebox .con').click(function(){
			$(this).addClass('checked').siblings().removeClass('checked');
		})
	</script>
</block>