<extend name="Public/base" />
<block name="headerCss">

</block>
<block name="content">

	<div class="ub up ub-ver login-box-body" ng-controller='newPassCtrl'>

		<div class="bar bar-assertive bar-header" style="background: none;">
			<div class="buttons">
				<a href="/wap.php/" class="button button-clear button-small"><i class="icon ion-ios-close-empty"></i></a>
			</div>
			<h1 class="title">注册</h1>
		</div>

		<div class="ub-f1 ub ub-ac ub-pc uinn2">
			<div class="loginbox">
				<div class="form">
					<div class="list list-inset">
						<div class="item item-input">
							<i class="icon ion-android-person placeholder-icon"></i>
							<input type="tel" placeholder="请输入手机号" ng-model='tel'>
						</div>
						<div class="item item-input">
							<i class="icon ion-ios-checkmark-outline placeholder-icon"></i>
							<input type="number" placeholder="请输入验证码" ng-model='testCode'>
							<button class="button button-small button-dark mr-10" name='testCode' ng-click='getCode()' ng-disabled='isDis' ng-class='(tel)?"isDis":""'>{{second}}</button>
						</div>
						<div class="item item-input">
							<i class="icon ion-ios-locked placeholder-icon"></i>
							<input type="password" placeholder="输入新密码" ng-model='password'>
						</div>
					</div>
				</div>
				<div class="submit">
					<button class="button button-block button-energized" ng-click='newPass()'>确定</button>

				</div>

			</div>

		</div>
	</div>
</block>
<block name="footer_js">
	<script src="__STATIC__/js/md5-min.js"></script>
	<script>
		app.controller('newPassCtrl', ['$scope', 'verify', '$interval', '$ionicLoading', function(a, verify, interval, loading) {
			

			a.tel = '';
			a.testCode = '';
			a.second = '获取验证码';
			a.isDis = true;

			$('input[type=tel]').bind('input propertychange', function() {
				if(!a.tel) {
					a.isDis = true;
				} else {
					a.isDis = false;
				}
			});

			//	localStorage.removeItem('userInfo');
			//获取验证码
			a.getCode = function() {

					$('input[type=tel]').attr('disabled', 'true');

					if(!a.tel) {

						a.alert('请输入手机号');
						return false;
					}
					//判断是否正确的输入手机号
					if(!verify.tel(a.tel)) {
						$('input[type=tel]').removeAttr('disabled');
						a.alert('请输入正确的手机号');

						return false;
					}
					console.log(a.tel);
					$('button[name=testCode]').attr('disabled', 'true');
					console.log($('button[name=testCode]').attr('disabled'));
					//请求验证码
					$.ajax({
						type: "post",
						url: API+"/Common/getCheckCode",
						dataType: 'json',
						data: {
							phone: a.tel,
							regedit: 'regedit',
							message_type: 2
						},
						success: function(data) {
							console.log(data);
							if(data.status == 1) {
								a.alert('验证码已发送，请注意查收！');

								//获取验证码倒计时
								//a.second=10;
								var lastTime = 60;
								var times = interval(function() {
									a.isDis = true;
									if(lastTime == 1) {
										a.second = '获取验证码';
										a.isDis = false;
										interval.cancel(times); //清除interval
										return false;
									}
									lastTime--;
									a.second = lastTime + '秒后重新发送';
								}, 1000)
							} else {
								a.alert('验证码发送失败,请重新请求验证码');
							}
							$('input[type=tel]').removeAttr('disabled');
							$('button[name=testCode]').removeAttr('disabled');
							console.log($('button[name=testCode]').attr('disabled'));
						}
					});

				},
				a.newPass = function() {
					if(!a.testCode) {
						a.alert('请输入验证码！');
						return false;
					}

					if(!a.password) {
						a.alert('请输入密码！');
						return false;
					}

					if(!verify.pass(a.password)) {
						a.alert('请输入密码6到16位数字或字母！');
						return false;
					}

					
					var registerdata = {
						phone: a.tel,
						password: a.password,
						checkCode: a.testCode
					}

					$.ajax({
						type: "post",
						url: API+"/user/findPassword",
						dataType: "json",
						data: registerdata,
						beforeSend: function() {
							loading.show();
						},
						success: function(data) {
							console.log(data);
							if(data.status == 1) {
								window.location = '/wap.php/';
							} else {
								a.alert(data.message);
							}
						},
						error: function(error) {
							console.log(error);
						}
					});

				}

		}])
	</script>
</block>