<extend name="Public/base" />
<block name="headerCss">

	<style>

	</style>
</block>
<block name="content">
	<div class="um-vp">

		<div class="ub up ub-ver login-box-body" ng-controller='loginCtrl'>

			<div class="bar bar-assertive bar-header" style="background: none;">
				<button class="button button-clear" ng-click='myGoBack()'><i class="icon ion-ios-arrow-left text-fff text-20"></i></button>
				<h1 class="title">登录</h1>
			</div>

			<div class="ub-f1 ub ub-ac ub-pc uinn2">
				<div class="loginbox">
					<div class="form">
						<div class="list list-inset">
							<div class="item item-input">
								<i class="icon ion-android-person placeholder-icon"></i>
								<input type="text" placeholder="手机号/昵称/邮箱" ng-model='loginName'>
							</div>
							<div class="item item-input">
								<i class="icon ion-ios-locked placeholder-icon"></i>
								<input type="password" placeholder="密码" ng-model='password'>
							</div>
						</div>
					</div>
					<div class="submit">
						<button class="button button-block button-energized" ng-click='login()'>登录</button>
						<div class="new_account text-jus">
							<a href="/wap.php/index/register" class="text-fff">注册新账号</a>
							<a href="/wap.php/index/forget_password" class="text-fff" style="float: right;">找回密码</a>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</block>
<block name="footer_js">
	<script src="__STATIC__/js/md5-min.js"></script>
	<script>
		app.controller('loginCtrl', ['$scope', 'verify', '$ionicLoading', function(a, verify, loading) {
//			localStorage.removeItem('userInfo');
			//代开应用请求一个townId
			$.ajax({
				type: "post",
				url: API+"/Trip/randTown",
				dataType: "json",
				success: function(data) {
					localStorage.townId = data.returnData.sys_town_id;
//					console.log(localStorage.townId);
					//						alert('没有手动获取小镇id');
				}
			});
			
			var  shoplogin = function (_url) {
				//console.log(_url);
				window.location = _url;
				//$.get(_url,function (data) {
//                    console.log(data);
					//window.location = '/wap.php/Essence/index';
				//})
			}
//			alert(localStorage.userInfo);
			//用户登陆后
			if(!localStorage.userId) {
				
				a.login = function() {
					if(!a.loginName) {
						a.alert('请输入登录名');
						return false;
					}

					if(!a.password) {
						a.alert('请输入密码');
						return false;
					}
					//			发送请求
					var device_identifier = hex_md5(a.loginName);
					var device_name = checkPhone();

					function checkPhone() {
						var phone = 0;
						var u = navigator.userAgent;
						if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {
							phone = 1;
						} else if(u.indexOf('iPhone') > -1) {
							phone = 2;
						}
						return phone;
					}
					var logindata = {
						user_name: a.loginName,
						user_passwd: a.password,
						device_identifier: device_identifier,
						device_name: device_name
					};

					$.ajax({
						type: "post",
						url: API+"/user/userLogin",
						dataType: "json",
						data: logindata,
						beforeSend: function() {
							loading.show();
						},
						success: function(data) {
							console.log(data);
							if(data.status == 1) {
								localStorage.userId = data.returnData.user_id;
								localStorage.userInfo = JSON.stringify(data.returnData);
								//登录商城
								shoplogin(data.returnData.shopLoginUrl);
//								window.location = '/wap.php/Essence/index';

							} else {
								a.alert(data.message);
							}
						},
						error: function(error) {

							console.log(error.message);

						}

					})

				}
				
			} else {
				
				window.location = '/wap.php/Essence/index';
			}

			

		}])
	</script>

</block>