<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	<ion-view>
    <ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
        <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
        <h1 class="title">中学</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false" has-bouncing="true" class="padding-left padding-right">
        <h4 class="kongcheng_title ">中学语文</h4>
        <p class="kongcheng_jieshao ">包括口头语言和书面语言，口头语言较随意，直接易懂，而书面语言讲究准确和语法；文学包括古今中外古诗文等。</p>
        <h4 class="major_title">课程</h4>
        <div class="major_list">
            <div class="major_item padding-right">
                <span>七年级语文（上）</span>
                   <a href="#"> 去听课</a>
            </div>
            <div class="major_item padding-right">
                <span>七年级语文（下）</span>
                   <a href="#"> 去听课</a>
            </div>
            <div class="major_item padding-right">
                <span>八年级语文（上）</span>
                <a href="#"> 去听课</a>
            </div>
            <div class="major_item padding-right">
                <span>八年级语文（下）</span>
                <a href="#"> 去听课</a>
            </div>
            <div class="major_item padding-right">
                <span>九年级语文（上）</span>
                <a href="#"> 去听课</a>
            </div> <div class="major_item padding-right">
            <span>九年级语文（下）</span>
            <a href="#"> 去听课</a>
        </div>
            <div class="major_item padding-right">
            <span>高一语文（上）</span>
            <a href="#"> 去听课</a>
           </div>
            <div class="major_item padding-right">
            <span>高一语文（下）</span>
            <a href="#"> 去听课</a>
           </div>
        </div>
    </ion-content>



</block>
 	<block name="footer_js">
 		
 	</block>
