<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">

</block>
<block name="content">
    <div class="double_team_details">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">团队详情</h1>
        </ion-header>


        <ion-content overflow-scroll="true" has-bouncing="false">

            <div class="content">

                <!-----     团队部分    ----->
            <div class="list list1">
                <a class="item item-thumbnail-left" href="#">
                    <img src="__STATIC__/wap/images/find/team1.png">
                    <h2>猿团</h2>
                    <p class="block"><i class="ion-ios-flag-outline"></i>社交网络</p>
                    <p><i class="icon ion-pinpoint">2015年</i><i class="icon ion-location">四川省</i><i class="icon ion-eye">3716</i></p>
                </a>
                <div class="row">
                    <div class="col col-100"><p>让创业更简单</p></div>
                </div>
            </div>

                <!-----     融资详情    ----->
                <div class="details">
                    <div class="title"><h5>融资详情</h5></div>
                    <div>
                        <p>当前公司的市场规模、业务数据、项目优势、竞品情况、未来规划等融资信息，仅专业投资人可见。</p>
                        <h5>产品介绍</h5>
                    </div>
                </div>

                <!------     产品优势   ----->
                <div class="information">
                    <div class="row">
                        <div class="col col-20"><img src="__STATIC__/wap/images/find/team_details1.png"></div>
                        <div class="col col-80">
                            <h4>我们的产品和优势</h4>
                            <p>新一代的互联网云外包交易服务社区，聚合程序员的业余生活和各类云服务的资源，帮助缺乏技术的创业者高效、高质量地市县互联网产品开发和运营。通过平台外包需求，
                            帮助SDK企业将产品直接垂直输出到项目当中，同时提供企业产品免费服务教育，帮助开发者习惯性高效率、高质量地实现外包项目，并通过外包雇主所提供的股权加相加现金方式让所有的开发者变成天使投资人。</p>
                        </div>
                    </div>

                    <div class="row row2">
                        <div class="col col-20"><img src="__STATIC__/wap/images/find/team_details2.png"></div>
                        <div class="col col-80">
                            <h4>我们的用户</h4>
                            <p>企业：新一代的互联网云外包交易服务社区，聚合程序员的业余生活和各类云服务的资源，帮助SDK企业将产品直接垂直输出到项目。</p>
                            <p>雇主：新一代的互联网云外包交易服务社区，聚合程序员的业余生活和各类云服务的资源，帮助SDK企业将产品直接垂直输出到项目。</p>
                            <p>开发者：新一代的互联网云外包交易服务社区，聚合程序员的业余生活和各类云服务的资源，帮助SDK企业将产品直接垂直输出到项目。</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-20"><img src="__STATIC__/wap/images/find/team_details3.png"></div>
                        <div class="col col-80">
                            <h4>未来的我们</h4>
                            <p>新一代的互联网云外包交易服务社区，聚合程序员的业余生活和各类云服务的资源，帮助缺乏技术的创业者高效、高质量地市县互联网产品开发和运营。通过平台外包需求，并通过外包雇主所提供的股权加相加现金方式让所有的开发者变成天使投资人。</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-20"><img src="__STATIC__/wap/images/find/team_details4.png"></div>
                        <div class="col col-80">
                            <h4>与我们相似的产品</h4>
                            <p>新一代的互联网云外包交易服务社区，聚合程序员的业余生活和各类云服务的资源，帮助缺乏技术的创业者高效、高质量地市县互联网产品开发和运营。并通过外包雇主所提供的股权加相加现金方式让所有的开发者变成天使投资人。</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-20"><img src="__STATIC__/wap/images/find/team_details5.png"></div>
                        <div class="col col-80">
                            <h4>其他</h4>
                            <p>新一代的互联网云外包交易服务社区，聚合程序员的业余生活和各类云服务的资源，帮助缺乏技术的创业者高效、高质量地市县互联网产品开发和运营。并通过外包雇主所提供的股权加相加现金方式让所有的开发者变成天使投资人。</p>
                        </div>
                    </div>

                </div>

                <!--------------      项目动态      ------------->
                <div class="dynamic">
                    <div class="row row1">
                        <div class="col col-50 col-left"><p>项目动态</p></div>
                        <div class="col col-50 col-right"><p>(6)<i class="icon ion-chevron-right"></i></p></div>
                    </div>
                    <div class="block">
                        <p><div class="round"></div><i class="time">2016.07</i></p>
                        <p>猿团"0HICN猿团"变更公司名称为："猿团"</p>
                    </div>
                    <div class="block">
                        <p><div class="round"></div><i class="time">2016.07</i></p>
                        <p>猿团"0HICN猿团"变更公司名称为："猿团"</p>
                    </div>
                    <div class="block">
                        <p><div class="round"></div><i class="time">2016.07</i></p>
                        <p>猿团"0HICN猿团"变更公司名称为："猿团"</p>
                    </div>
                </div>

                  <!---------      创始团队        --------->
                    <div class="advantage">
                        <div class="team"><i>创始团队</i></div>
                        <div class="list">
                            <div class="item item-avatar">
                                <img src="__STATIC__/wap/images/find/portrait.png">
                                <h2>谢恩明</h2>
                                <p>创始人，CEO</p>
                                <p>世界上没有卖不出的产品</p>
                            </div>
                        </div>
                        <div class="team-ad">
                            <div class="good"><i>团队优势</i></div>
                            <p><div class="buddy buddy1"><i>BAT在职</i></div><div class="buddy"><i>小米</i></div><div class="buddy"><i>腾讯</i></div></p>
                            <p>团队主要来自金山，腾讯，moto，小米，大可乐，爱奇艺，APPCAN明星开发，51CTO特聘讲师，91手机等国内知名企业，具备丰富移动互联网开发经验</p>
                        </div>
                        <div class="through">
                            <div class="row">
                                <div class="col col-50 col-left">融资经历</div>
                                <div class="col col-50 col-right"><p>(2)<i class="icon ion-chevron-right"></i></p></div>
                            </div>
                            <div class="time">
                                <p class="date"><div class="round"></div><i>2016.3</i></p>
                                <p class="title">Pre-A轮</p>
                                <p><i>融资：￥500万</i><i>估值：￥8000万</i></p>
                            </div>
                        </div>

                    </div>

            </div>
        </ion-content>
    </div>
</block>

<block name="footer_js">

</block>