<extend name="Public/base" />
<block name="headerCss">
	<style>
		.demand input[type=text] {width: 100%;height: 20px;line-height: 20px;color: #888;}
		.demand textarea {width: 100%;padding: 0.8rem;line-height: 1.8rem;font-size: 1.2rem;color: #888; height: 9rem;box-sizing: border-box;}
		.demand .testCode {line-height: 28px;background: #F8BD39;padding: 0px 10px;border-radius: 1rem;color: #fff;display: inline-block;border: 0px;}
		.demand select {border: none;width: 100%;-webkit-appearance: none;appearance: none;color: #888;background: #fff;}
		.demand button[name='date']{background: none;border: none;color: #888;}
	</style>
</block>
<block name="content">
	<div class="bg-white" ng-controller='demandCtrl'>

		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">发布需求</h1>
		</ion-header>

		<ion-content class='has-header bg-f5 ' has-bouncing='true' overflow-scroll='false'>

			<div class="demand">
				<div class="ub ub-ac p-10 bb-1 bg-white">
					<i class="icon ion-android-add-circle text-drak-yellow mr-10"></i>
					<div class="ub-f1 text-14 text-888">
						<select id="category_id" ng-model='demand.selectedDemandType' rel='{{demand.selectedDemandType.category_id}}' ng-options='item.category_name for item in demand.demandType'>

						</select>
						
					</div>
					<i class="icon ion-ios-arrow-right ml-10 text-888"></i>
				</div>
				<div class="ub ub-ac p-10 bb-1 bg-white mb-10">
					<i class="icon ion-android-add-circle text-drak-yellow mr-10"></i>
					<div class="ub-f1 text-14 text-888">
						需求地区: <span>成都</span>
					</div>
					<i class="icon ion-ios-arrow-right ml-10 text-888"></i>
				</div>
				<div class="ub ub-ac p-10 bb-1 bg-white">
					<i class="icon ion-android-add-circle text-drak-yellow mr-10"></i>
					<div class="ub-f1 text-14 text-888">
						<input type="text" placeholder="输入需求名称" ng-model='demand.demand_name'  id="demand_name"/>
					</div>

				</div>
				<div class="ub ub-ac p-10 bb-1 bg-white">
					<i class="icon ion-android-add-circle text-drak-yellow mr-10"></i>
					<div class="ub-f1 text-14 text-888">
						需求描述
					</div>
				</div>
				<textarea id="demand_describe" name="" cols="" placeholder="请输入需求描述" class="mb-10" ng-model='demand.demand_describe'></textarea>
				<div class="ub ub-ac p-10 bb-1 bg-white">
					<i class="icon ion-android-add-circle text-drak-yellow mr-10"></i>
					<div class="ub-f1 text-14 text-888">
						<input placeholder="选择需求有效期" type="text" name='date' id="endDate" onclick="endDate()" ng-bind='demand.demand_expire'/>
					</div>
					<i class="icon ion-ios-arrow-right ml-10 text-888"></i>
				</div>
				<div class="ub ub-ac p-10 bb-1 bg-white">
					<i class="icon ion-android-add-circle text-drak-yellow mr-10"></i>
					<div class="ub-f1 text-14 text-888">
						<input type="tel" placeholder="输入手机号码" ng-model='demand.tel' />
					</div>

				</div>
				<div class="ub ub-ac p-10 bb-1 bg-white mb-20">
					<i class="icon ion-android-add-circle text-drak-yellow mr-10"></i>
					<div class="ub-f1 text-14 text-888">
						<input type="number" placeholder="输入验证码" ng-model='demand.testCode' />
					</div>
					<button class="testCode"  ng-disabled='isDis' ng-click='getCode()' ng-bind='second'></button>
				</div>
				<div class="mt-10 p-10">
					<button class="button button-block button-energized" ng-click='submitBtn()'>发布需求</button>
				</div>
			</div>

		</ion-content>

	</div>
</block>

<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/core.js"></script>
	<script>
		app.controller('demandCtrl', ['$scope', '$ionicLoading', 'verify', '$interval', function(a, loading, verify, interval) {

			//获取需求分类列表
			$.ajax({
				type: "post",
				url: API+"/Double/investPartner",
				dataType: 'json',
				success: function(data) {
					if(data.status == 1) {
						a.demand.demandType = data.returnData;
						a.demand.selectedDemandType = a.demand.demandType[0];
						a.$apply();
						console.log(a.demand.demandType);
					}
				}
			});
			a.demand = {};
			a.demand.demand_expire = '选择需求有效期';
			
			//获取验证码
			a.second = '获取验证码';
			a.getCode = function() {

				if(!a.demand.tel) {
					a.alert('请输入手机号');
					return false;
				}
				//判断是否正确的输入手机号
				if(!verify.tel(a.demand.tel)) {
					a.alert('请输入正确的手机号');
					return false;
				}
				console.log(a.demand.tel);

				//请求验证码
				$.ajax({
					type: "post",
					url: API+"/Common/getCheckCode",
					dataType: 'json',
					data: {
						phone: a.demand.tel,
						message_type:3
					},
					success: function(data) {
						console.log(data);
						if(data.status == 1) {
							a.alert('验证码已发送，请注意查收！');
							//获取验证码倒计时
							//a.second=10;
							var lastTime = 60;
							var times = interval(function() {
								a.isDis = true;
								if(lastTime == 1) {
									a.second = '获取验证码';
									a.isDis = false;
									interval.cancel(times); //清除interval
									return false;
								}
								lastTime--;
								a.second = lastTime + '秒后重新发送';
							}, 1000)
						} else {
							a.alert('验证码发送失败,请重新请求验证码');
						}
					}
				});

			};

			//提交数据
			a.submitBtn = function() {
				var category_id = $('#category_id').attr('rel');
				var dateTime = $('#endDate').val();
				var demand_expire = getTime(dateTime);

				//验证判断
				if(!a.demand.demand_name){
					a.alert('请输入需求名称');
					return false;
				}
				if(!a.demand.demand_describe){
					a.alert('请输入需求描述');
					return false;
				}
				if(!demand_expire){
					a.alert('请选择需求有效期');
					return false;
				}
					
				var demaData = {
					category_id: category_id,
					demand_name: a.demand.demand_name,
					demand_describe: a.demand.demand_describe,
					demand_expire: demand_expire,
					demand_user: localStorage.userId,
					checkCode:a.demand.testCode,
					phone:a.demand.tel
				};
				console.log(demaData);
				$.ajax({
					type:"post",
					url:API+"/Double/investPartnerRelease",
					data:demaData,
					success:function(data){
						if(data.status==1){
							a.alert('您的需求发布成功！');
							setTimeout(function(){window.history.back(-1)},1500);
						}else{
							console.log(data);
							a.alert('发布失败，请重新发布！');
						}
					}
				});
			}

		}])

		//需求有效期的日期值
		function endDate() {
			new yxCalendar({
				date: $('#endDate').html(),
				callback: function(date) {
					$('#endDate').val(date)
					$("input[name=time]").val(date);

				}
			});
		}

		//获取两个日期的时间差开始
		var v = new Date();
		var getDateCha = function(beginDate, endDate) {
			var res = {
				D: 0,
				H: 0,
				M: 0,
				S: 0,
				abs: true,
				error: false
			};
			//属性形式验证：第一次参数必须是Date类型，第二个参数可以为空，默认为new Date()
			if(typeof(endDate) == "undefined" || null == endDate || "" == endDate) {
				endDate = new Date();
			}
			if(!(beginDate instanceof(Date)) || !(endDate instanceof(Date))) {
				res.error = true; //"非法时间字符串";
				return res;
			}

			//比较大小，保证差值一定是正数。
			if(beginDate > endDate) {
				var tempDate = beginDate;
				beginDate = endDate;
				endDate = tempDate;
				res.abs = false; //表示beginDate大于endDate
			}
			var chaTime = (endDate.getTime() - beginDate.getTime());

			var Day_Param = 1000 * 60 * 60 * 24; //一天等于毫秒数
			var Hour_Param = 1000 * 60 * 60; //一小时等于毫秒数
			res.D = Math.floor(chaTime / (Day_Param)); //

			chaTime = chaTime - res.D * Day_Param; //减去天的毫秒数。再求小时个数
			res.H = Math.floor(chaTime / (Hour_Param));
			chaTime = chaTime - res.H * Hour_Param; //减去小时的毫秒数。再求分钟个数
			res.M = Math.floor(chaTime / (1000 * 60));
			res.S = (chaTime - res.M * 1000 * 60) / 1000; //减去分钟的毫秒数。再求秒的个数
			//alert(res.S);

			res.toString = function() {
				return this.D;
				//           + "日" + this.H + "小时" + this.M + "分钟"
			};
			return res;

		}

		function getTime(time) {
			var times = time.split('-');
			v.setFullYear(times[0]);
			v.setMonth(times[1] - 1);
			v.setDate(times[2]);

			var now = new Date();
			var ressult = getDateCha(v, now).toString();
			return ressult;
		}
		//获取两个日期的时间差结束
		
		
	</script>
</block>