<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">

</block>
<block name="content">
    <div class="double_details">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">政策详情</h1>
        </ion-header>


        <ion-content overflow-scroll="true" has-bouncing="false">
            <div class="content">
            <p class="change">1、资助内容</p>
            <p class="indent">符合国家，省及我市经济社会发展战略和相关产业政策，主要包括城乡发展、智慧城市、人口健康、生态环境、公共安全等与经济社会发展相关的邻域</p>
                <p class="block">(1)科技慧民技术研发项目。开展适用新技术研发，能有效促进社会发展邻域的技术创新及转化应用项目</p>
                <p class="block">(2)科技慧民应用示范项目。通过示范应用一批综合集成技术，推动一批先进适用技术成果的推广普及，提升科技促进社会管理创新、提升城乡居民生活能力。支持经费不超过100万元。</p>
            <p class="change">2、资助资金</p>
                <p class="block">(1)科技慧民技术研发项目：不超过20万元</p>
                <p class="block">(2)科技慧民技术研发项目：不超过100万元</p>
            <p class="change">3、申报主体</p>
                <p class="indent">注册地在成都并且在成都有独立法人资格的事业单位，其中应用示范项目申报单位为应用单位。</p>
            <p class="change">4、申报条件</p>
                <p class="block">(1)在相关专业邻域具有一定技术优势，技术提供方应当长期从事本领域业务或研究工作，具有与项目相关的研究经历和成果累积。</p>
                <p class="block">(2)联合承担单位构成合理、能够充分发挥产学联合的优势，突出用户在项目设施过程中的作用。</p>
                <p class="block">(3)具有良好的项目实施条件、项目示范明确，具有完成项目必备的人才技术和技术装备、课程组成员结构合理。</p>
                <p class="block">(4)具有完成项目所需的组织管理和协调能力，能够调动相关资源开展工作，并具有行之有效的技术成果展示和推广条件。</p>
                <p class="block">(5)同一申报单位只能选择支撑项目或应用示范项目两类其一申报。</p>
            <p class="change">5、联系方式</p>
                <p>受理部门：成都科技创新服务窗口</p>
                <p>受理部门：成都高新区锦城大道539号盈创动力大厦A座2楼</p>
                <p>咨询电话：<i>85104750、85104759</i></p>
            <p class="change">6、申报地址</p>
                <i>http://kjxm.cdst.gov.cn/egrantweb</i>
            </div>
        </ion-content>
    </div>
</block>

<block name="footer_js">

</block>