<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
	<style type="text/css">
		.block{padding: 1rem;border-bottom: 1px solid #ddd;}
		.block h5{line-height: 2rem;margin: 0;}
		.font1{padding-bottom: 0.5rem;}
	</style>
</block>
<block name="content">
   <ion-view ng-controller="doubleCtrl">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">双创政策</h1>
        </ion-header>


        <ion-content overflow-scroll="true" has-bouncing="false" class="has-header">
       				
       				<ion-refresher
				    pulling-text="正在刷新"
				    on-refresh="doRefresh()">
				 </ion-refresher>
           
                <div class="block" ng-repeat="item in list">
                    <a href="{{API}}/Double/investPolicyInfo?policyId={{item.service_policy_id}}">
                        <h5 ng-bind="item.service_policy_title"></h5>
                        <p class="font1" ng-bind="item.service_policy_company_name"></p>
                        <p ng-bind="item.service_policy_address"></p>
                        <p ng-bind="item.service_policy_telephone"></p>
                    </a>
                </div>

           <ion-infinite-scroll distance="1%" on-infinite="initial()" ng-if="hasMore">
            </ion-infinite-scroll>
            <div style="line-height: 3rem;text-align: center;color: orange;" ng-if="!hasMore3">没有更多数据</div>
       
            </ion-content>
   </ion-view>
</block>

<block name="footer_js">

    <script type="text/javascript">
       app.controller("doubleCtrl",function($scope, $ionicLoading){
       	 		$scope.list = [];
       	 		$scope.pageIndex = 0;
       	 		$scope.hasMore = true;
       	 		
       	
       	
       	$scope.initial=function(){
       		$.ajax({
       		type:"post",
       		url:API+"/Double/investPolicy",     
       		data:{offset:$scope.pageIndex},
       		success:function(data){       			
       			
       		console.log(data.returnData)
       		$.each(data.returnData, function(i,arr) {
       			$scope.list.push(arr);
       			$scope.$apply();       			       			       				
       		});
       		if(data.returnData.length<20){
       				$scope.hasMore = false;
       		};
       	   			$scope.pageIndex++;
						$scope.$broadcast("scroll.infiniteScrollComplete");
						$scope.$broadcast('scroll.refreshComplete');
       		}
       	});
       	}
         
       	
       	$scope.doRefresh = function(){
       		$scope.list = [];
       		$scope.pageIndex = 0;
       		$scope.hasMore = true;
       		$scope.initial();
       		
       		
       	}
       	
       })
       
       
       
    </script>

</block>