<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
</block>
<block name="content">
<div  ng-controller="govermentIndexCtrl">

	<ion-view>
		<ion-header-bar align-title="center" no-tap-scroll="false">
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">政府机构</h1>
		</ion-header-bar>
		<ion-content class="bg_f2f2" overflow-scroll="false" has-bouncing="true">
			<div class="row row-wrap">
				<a ng-repeat="item in zhengfu" class="col col-50" 
					href="{{API+'/Gov/govMechInfo'+'?mechId='+item.gove_affairs_mechanism_id}}">
					<div class="left ub ub-ac">
						<p class="ub-f1 text-center" ng-bind="item.mechanism_name"></p>
					</div>
				</a>
			</div>
		</ion-content>
	</ion-view>
</div>
</block>
<block name="footer_js">
	<script>
		app.controller("govermentIndexCtrl", function($scope) {
			$.ajax({
				type: "post",
				url: API+"/Gov/govMechRecord",
				async: true,
				dataType: "json",
				success: function(data) {
					$scope.zhengfu = data.returnData;
					$scope.$apply();
					console.log($scope.zhengfu);
					
				}
			});
		})
	</script>
</block>