<extend name="Public/base" />
<block name="headerCss">
	<style>
		html {
			font-size: 20px;
		}
		
		.sall_banner {
			height: auto;
			width: 100%;
		}
		
		.sall_banner img {
			height: auto;
			width: 100%;
		}
		
		.four-Diamonds {
			display: block;
			line-height: 9rem;
			text-align: center;
		}
		
		.four-Diamonds>span {
			vertical-align: middle;
			color: #333333
		}
		
		.four-Diamonds>img {
			vertical-align: middle;
		}
		.four-Diamonds{border-bottom: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;}
		.four-Diamonds:last-child{border-right: none;}
	</style>
</block>

<block name="content">
	<ion-view>
		<ion-header-bar align-title="center" no-tap-scroll="false">
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">医疗保健</h1>
		</ion-header-bar>
		<ion-content style="padding: 0">
			<div class="sall_banner">
				<img src="__STATIC__/wap/images/find/banner.png" />
			</div>
			<div class="row row-no-padding">
				<a class="col-50 four-Diamonds" href="#"><img src="__STATIC__/wap/images/find/guahao.png"><span>预约挂号</span></a>
				<a class="col-50 four-Diamonds" href="#"><img src="__STATIC__/wap/images/find/lineCheck.png"><span>在线诊断</span></a>

			</div>
			<div class="row row-no-padding">
				<a class="col-50 four-Diamonds" href="#"><img src="__STATIC__/wap/images/find/line_hospital.png"><span>在线医院</span></a>
				<a class="col-50 four-Diamonds" href="#"><img src="__STATIC__/wap/images/find/yiliaochangshi.png"><span>医疗常识</span></a>
			</div>
		</ion-content>
	</ion-view>
</block>
<block name="footer_js">
	<!--<script>
		angular.module("app", ['ionic']).controller("myCtrl", function($scope) {})
	</script>-->
</block>