<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/hold_power/hold_power.css">
 </block>
<block name="content">	
	<ion-view ng-controller="newsIndexCtrl">
    <ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
        <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
        <h1 class="title">消费维权</h1>
        <button class="icon-right button right_btn" ng-click='goPowerDetails()'>我要维权</button>


    </ion-header-bar>
    <!--民情列表区-->
    <ion-content>
    	 <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">
		 </ion-refresher>
		 
        <div class="list">
          <a class="list_item padding" ng-repeat="item in allclass" href="right_detail?exciseId={{item.guide_rights_id}}">
                <ul>
                    <li class="first_row"><span class="question_title">维权内容</span>
                    	<span class="question" ng-bind="item.guide_rights_problem"></span>
                    	<span class="done" ng-if="item.guide_rights_status==2">已解决</span>
                    	<span class="done" ng-if="item.guide_rights_status==1">未解决</span>
                    </li>
                    <li class="second_row"><span class="ask_question">提问人</span>
                        <span class="ask_name" ng-bind="item.guide_rights_name"></span>
                        <span class="ask_time">提问时间</span>
                        <span style="float: right;" ng-bind="getLocalDate(item.guide_rights_date)"></span></li>
                </ul>
            </a>
           
        </div>
         <ion-infinite-scroll distance="1%" on-infinite="request()" ng-if="hasMore">
            </ion-infinite-scroll>
            <div style="line-height: 3rem;text-align: center;color:orange;" ng-if="!hasMore">没有更多数据</div>
    </ion-content>
</ion-view>
	
</block>
 	<block name="footer_js">
 		<script type="text/javascript">
		//消费维权  列表获取
		app.controller("newsIndexCtrl",function($scope,$ionicLoading){ 	
 		 	
 		 	$scope.goPowerDetails=function(){
 		 		if(localStorage.userId){
 		 			window.location=IMG+'/wap.php/find/power_details';
 		 		}else{
 		 			$scope.alert('用户请先登录');
 		 			setTimeout(function(){
 		 				window.location=IMG+'/wap.php/';
 		 			},500);
 		 		}
 		 	}
 		 	
 		 	//加载数据等待动画 		 	 		 	
 		 	$scope.pageIndex=0; 		 	
 		 	$scope.hasMore=true;
 		 	$scope.allclass=[];
 		 	
 		 	$scope.request=function(){
 		 		
 		 	$.ajax({
 		 		type:"post",
 		 		url: API+"/Gov/govExcise", 		 		
 		 		dataType:"json",
 		 		data: {
						
						offset:$scope.pageIndex
					},
 		 		success:function(data){
 		 			console.log(data.returnData)
 		 			
 		 			$.each(data.returnData, function(i,dom) {
 		 				
 		 				$scope.allclass.push(dom);
 		 				$scope.$apply();
 		 			});
 		 			if(data.returnData.length<20){
 		 				$scope.hasMore=false;
 		 			} 		 				
 		 			    $scope.pageIndex++;
 		 			    $scope.$broadcast('scroll.infiniteScrollComplete');
					    $scope.$broadcast('scroll.refreshComplete');
 		 		}
 		 	});	
 		 	}
 		 	
 		 	//下拉刷新数据
 		 	$scope.doRefresh=function(){
 		 		$scope.allclass=[];
 		 		$scope.pageIndex=0;
 		 		$scope.hasMore=true;
 		 		$scope.request();
 		 		$scope.$apply();
 		 	}
 		 })
	</script>
 	</block>