<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='hotelOrderCtrl'>
		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">订单填写</h1>
			</ion-header>
		</div>
		<div class="bg-white f1-hid ub-f1" style="overflow-y:scroll;">

			<ion-content has-bouncing='true'>
			<div class="p-10  text-888 text-12">
				<h4>黄龙溪大酒店</h4>
				<div class="ub">
					<div class="ub-f1">
						<p><span class="mr-10">入住：07月18日</span> <span>离店：07y月19日</span></p>
						<p>房型：高级房</p>
						<p>宽带：免费宽带</p>
					</div>
					<div class="">
						共：<span class="text-red">1</span>晚
					</div>
				</div>
			</div>
			<div class="warning">
				订单确认后无法操作变更，预定人非法原因取消，将扣除预付款额作为违约金。订单确认后无法操作变更，预定人非法原因取消，将扣除预付款额作为违约金。订单确认后无法操作变更，预定人非法原因取消，将扣除预付款额作为违约金。订单确认后无法操作变更，预定人非法原因取消，将扣除预付款额作为违约金。
			</div>
			<!--房间信息-->
			<div class="m-10 b-1 p-10 text-888 hotelOrderInf">
				<div class="ub ub-ac bb-1">
					<div class="ub-f1 row">
						<div class="col col-33">
							房间数
						</div>
						<div class="col col-66 text-444">
							1间
						</div>
					</div>
					<i class="icon ion-ios-arrow-right"></i>
				</div>
				<div class="ub ub-ac">
					<div class="ub-f1 row">
						<div class="col col-33">
							房间保留至
						</div>
						<div class="col col-66 text-444">
							次日01:00之前
						</div>
					</div>
					<i class="icon ion-ios-arrow-right"></i>
				</div>
			</div>
			<!--联系人信息-->
			<div class="m-10 b-1 p-10 text-888 hotelOrderInf">
				<div class="ub ub-ac bb-1">
					<div class="ub-f1 row ub ub-ac">
						<div class="col col-33">
							入住人姓名
						</div>
						<div class="col col-66 text-444">
							<input type="text" placeholder="每间填写一人：如李伟" ng-model="post.name1" />
						</div>
					</div>
					<i class="icon ion-ios-person-outline text-20"></i>
				</div>
				<div class="ub ub-ac bb-1">
					<div class="ub-f1 row  ub ub-ac">
						<div class="col col-33">
							联系人
						</div>
						<div class="col col-66 text-444">
							<input type="text" placeholder="联系人姓名" ng-model='post.name2' />
						</div>
					</div>
					<i class="icon ion-ios-person-outline text-20"></i>
				</div>
				<div class="ub ub-ac">
					<div class="ub-f1 row  ub ub-ac">
						<div class="col col-33">
							联系人手机
						</div>
						<div class="col col-66 text-444">
							<input type="tel" placeholder="11位手机号" ng-model='post.tel' />
						</div>
					</div>
					<i class="icon ion-ios-arrow-right"></i>
				</div>
			</div>
			<!--发票-->
			<div class="m-10 b-1 p-10 text-888 hotelOrderInf">
				<div class="ub ub-ac">
					<div class="ub-f1">
						是否需要发票
					</div>
					<label class="toggle toggle-energized">
						       <input type="checkbox">
						       <div class="track">
						         <div class="handle"></div>
						       </div>
						     </label>
				</div>
			</div>
			<p class="p-10 text-12 text-888">代理商：去哪儿网酒店直销</p>
			<div class="h-44 ub ub-ac ph-10 bt-1" style="width: 100%;">
				<div class="ub-f1 text-16 t-yellow-red">
					在线支付：￥433
				</div>
				<button class="Submit" ng-click='orderSubmit()'>提交订单</button>
			</div>
			</ion-content>
		</div>
	</div>

</block>
<block name="footer_js">
	<script>
		app.controller('hotelOrderCtrl', ['$scope', 'verify', function(a, verify) {
			
			var roomId = <?php echo $_GET["roomId"]; ?>
			
//			alert(roomId)
			
			a.post = {};
			
			a.orderSubmit = function() {
				
				
				if(!a.post.name1) {
					a.alert('请输入入住人名字');
					return false;
				}
				if(!a.post.name2) {
					a.alert('请输入联系人名字');
					return false;
				}
				if(!a.post.tel) {
					a.alert('请输入联系电话');
					return false;
				}
				if(!verify.tel(a.post.tel)) {
					a.alert('请输入正确的电话号码');
					return false;
				}
				a.alert('成功');
			}

		}])
	</script>
</block>