<extend name="Public/base" />
<block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/mycenter.css">
</block>
<block name="content">
    <div class="double-invest">
        <ion-header class='bar bar-header bar-light'>
            <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
            <h1 class="title">双创投资</h1>
        </ion-header>

        <ion-content overflow-scroll="true" has-bouncing="false">
            <!-------   内容部分   ------>
            <div class="content">

            <div class="plate">
                <a href="double_invest_details.html">
                <div class="list">
                        <div class="item item-thumbnail-left">
                            <img src="__STATIC__/wap/images/find/capital1.png" class="bg">
                            <p class="title">旺家投资</p>
                            <p>投资阶段：种子天使轮/Pre-A轮/A轮</p>
                        </div>
                </div>
                <div class="name"><p>#孙继军</p></div>
                </a>
            </div>

            <div class="plate plate1">
                <div class="list">
                    <div class="item item-thumbnail-left" >
                        <img src="__STATIC__/wap/images/find/capital2.png" class="bg">
                        <p class="title">明盛资本</p>
                        <p>投资阶段：种子天使轮/Pre-A轮</p>
                    </div>
                </div>
                <div class="name"><p>#候景超</p></div>
            </div>

            <div class="plate plate1">
                <div class="list">
                    <div class="item item-thumbnail-left">
                        <img src="__STATIC__/wap/images/find/capital3.png" class="bg">
                        <p class="title">火山石资本</p>
                        <p>投资阶段：Pre-A轮/Pre-B轮/B轮</p>
                    </div>
                </div>
                <div class="name"><p>#章孙阳</p></div>
            </div>

            <div class="plate plate1">
                <div class="list">
                    <div class="item item-thumbnail-left">
                        <img src="__STATIC__/wap/images/find/capital4.png" class="bg">
                        <p class="title">新动金鼎体育基金</p>
                        <p>投资阶段：种子天使轮/Pre-A轮/A轮/收购/战略投资</p>
                    </div>
                </div>
                <div class="name"><p>#去滑雪</p></div>
            </div>

            <div class="plate plate1">
                <div class="list">
                    <div class="item item-thumbnail-left">
                        <img src="__STATIC__/wap/images/find/capital5.png" class="bg">
                        <p class="title">新动金鼎体育基金</p>
                        <p>投资阶段：种子天使轮/Pre-A轮/A轮/收购/战略投资</p>
                    </div>
                </div>
                <div class="name"><p>#去滑雪</p></div>
            </div>


            </div>
        </ion-content>
    </div>
</block>

<block name="footer_js">

    <script type="text/javascript">
        $.ajax({
            type:"post",
            url:API+"/Double/invest",
            dataType:'json',
            success:function(data){
                console.log(data);
                var invest = data.returnData;
                console.log(invest);
                var investData = invest[0];
                var investName = invest[0].investment_name;
                console.log(invest[0]);

                for (var i = 0;i<invest.length;i++) {
                    var investImg = document.getElementsByClassName("bg").src = invest[i].investment_logo;
                    var invest1 = "<div class='plate'><a href='double_invest_details.html'><div class='list'><div class='item item-thumbnail-left'><img src='"+
                            investImg+"'/><p class='title'>" +invest[i].investment_name +
                            "</p><p>" +invest[i].investment_label+ "</p></div></div><div class='name'><p>"+invest[i].create_user+"</p></div></a></div>";
                    $(".content").append(invest1);

                }
            }
        });
    </script>
</block>