<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
</block>
<block name="content">
	<ion-view>
		<ion-header-bar align-title="center" no-tap-scroll="false">
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">政治法规</h1>
		</ion-header-bar>
		<ion-content>
			<div class="yellow_P"><span>常用法律法规</span></div>
			<div class="list laws_list">
				<!--<a class="list-item padding" href="laws_Details">
					<p class="list_title_p">中华人民共和国宪法(2004修正)</p>
					<p class="time">2004-3-14</p>
				</a>
				<a class="list-item padding" href="laws_Details">
					<p class="list_title_p">中华人民共和国宪法(2004修正)</p>
					<p class="time">2004-3-14</p>
				</a>
				<a class="list-item padding" href="laws_Details">
					<p class="list_title_p">中华人民共和国宪法(2004修正)</p>
					<p class="time">2004-3-14</p>
				</a>
				<a class="list-item padding" href="laws_Details">
					<p class="list_title_p">中华人民共和国宪法(2004修正)</p>
					<p class="time">2004-3-14</p>
				</a>
				<a class="list-item padding" href="laws_Details">
					<p class="list_title_p">中华人民共和国宪法(2004修正)</p>
					<p class="time">2004-3-14</p>
				</a>
				<a class="list-item padding" href="laws_Details">
					<p class="list_title_p">中华人民共和国宪法(2004修正)</p>
					<p class="time">2004-3-14</p>
				</a>
				<a class="list-item padding" href="laws_Details">
					<p class="list_title_p">中华人民共和国宪法(2004修正)</p>
					<p class="time">2004-3-14</p>
				</a>
				-->
			</div>
		</ion-content>
	</ion-view>
</block>
<block name="footer_js">
	<script type="text/javascript">
		//政务法规  列表获取
		$.ajax({
			type: "post",
			url: API+"/Gov/govPolicyList",
			dataType: 'json',
			success: function(data) {
				//获取服务器完整数据
				console.log(data);
				var policy = data.returnData;
				console.log("政务法规  列表的回调数据：" + policy);
				//数据写入页面
				for(var i = 0; i < policy.length; i++) {
					var policyDate = new Date(parseInt(policy[i].gove_affairs_policy_date) * 1000).toLocaleDateString().replace(/:\d{1,2}$/, " ");
					console.log(policyDate);
		
					var policy1 = "<a class='list_item padding' href='"+API+"/Gov/govPolicyInfo?policyId=" + policy[i].gove_affairs_policy_id 
					+ "'><p class='list_title_p'>" + policy[i].gove_affairs_policy_title + "</p><p class='time'>"
					+ policyDate + "</p><a>";
					$(".laws_list").append(policy1);
				}
			}
		});
	</script>
</block>