<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	<ion-view ng-controller="kechengCtrl">
    <ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
        <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
        <h1 class="title" ng-bind="categoryName"></h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false" has-bouncing="true" class="padding-left padding-right">
        <!--<h4 class="shichang_title" ng-bind="header.major_name"></h4>
        <div class="two_span">
            <span class="span_left" ng-bind="'就业排名:'+header.major_employment_rank">
                
            </span>
            <span class="span_right" ng-bind="'平均薪酬:'+header.major_average_salary"></span>
            <div class="clear"></div>
        </div>
        <p class="xuewei" ng-bind="'学位:'+header.major_degree+'&nbsp'+'&nbsp'+'&nbsp'+'年限:'+header.major_years"></p>
        <p class="shichangjiuye" ng-bind="header.major_intro"></p>
        <h4 class="major_title">专业</h4>-->
        <div class="major_list">
            <div class="major_item padding-right" ng-repeat="item in kecheng.course">
                <span ng-bind="item.course_name"></span>
                   <!--<a href="line_study?courseId={{item.course_id}}">去听课</a>-->
                    <a href="line_study?courseId={{item.course_id}}">去听课</a>
            </div>
          </div>
    </ion-content>
</ion-view>

</block>
 	<block name="footer_js">
 		<script>
 			app.controller("kechengCtrl",function($scope){
 				var majorId=getQueryString('majorId');
 				console.log(majorId)
 				$scope.categoryName=getQueryString('title');
 				console.log($scope.categoryName);
 				$.ajax({
 					type:"post",
 					url:API+"/Edu/eduMajorCourse", 					
 					data:{majorId:majorId},
 					dataType:'json',
 					success:function(data){
 						$scope.kecheng=data.returnData;
 						$scope.header=data.returnData.category;
 						$scope.$apply();
 						console.log($scope.kecheng)
 						console.log("123")
 					}
 				})
 			})
 		</script>
 		
 	</block>