<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/medical.css">
</block>
<block name="content">
	<ion-content overflow-scroll="true" has-bouncing="false">
		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">在线咨询</h1>
			<a href="medical_record.html" class="button button-clear" id="submit1">提交</a>
		</ion-header>
		<!--以下为在线咨询的具体页面内容-->
		<div class="list_online1">
			<div id="submit2">
				<p>填写病情，我们为您匹配对症医生</p>
			</div>
			<div id="submit3">
				<h4>患病多久了？</h4>
				<span id="submit4">
					<span id="halfyear">大于半年</span>
					<span class="ion-chevron-right"></span>
				</span>
			</div>

			<ul class="list">
				<li class="item" id="online1">
					<div class="medical_li online1">
						<h4>患者是否去医院就诊过？</h4>
						<p class="submit5 row">
							<a class="button active col-50">没有</a>
							<a class="button none">就诊过</a>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="medical_li online1">
						<h4>您要为哪位患者咨询？</h4>
						<p class="submit5 row">
							<a class="active button col-50">陈鹏伟</a>
							<a class="button none" href="#">
								<i  class="ion-plus-circled"></i>
								<span>添加新患者</span>
							</a>
						</p>
					</div>
				</li>
			</ul>
			<h4 class="item">疾病/症状:气虚 胸口汗多</h4>
			<h4 class="item_online1">病情描述</h4>
			<div class="item">
				<div id="discrible1" class="row">
					<span class="col-90 ask_online1">经常胸口痛一下 偶尔会呼吸也疼 请问是什么症状啊 在家该如何治疗</span>
					<span class="voice icon ion-ios-mic"></span>
				</div>
				<img class="upload_online1" src="__STATIC__/wap/images/medical/upload_img.png" />
				<p id="discrible2">皮肤疾病可上传外观照片，检查资料不在这里上传！</p>
			</div>
			<h4 class="item_online1">使用过药物吗？若有请填写</h4>
			<div class="item">
				<div id="discrible3" class="row">
					<input type="text" class="col col-90" id="discrible4" placeholder="如：阿司匹林 75mg 1次/日..." />
					<span class="voice icon ion-ios-mic"></span>
				</div>
				<img class="upload_online1" src="__STATIC__/wap/images/medical/upload_img.png" />
				<p id="discrible5">可上传药盒或处方的照片</p>
			</div>
			<h4 class="item_online1">希望获得医生什么帮助</h4>
			<p id="help1">2-20字，以便医生给出您针对性解答</p>
			<div class="item row" id="help3">
				<input class="col col-90" type="text" />
				<span class="voice icon ion-ios-mic"></span>
			</div>
			<h4 class="item_online1">为您的咨询写个简单的标题</h4>
			<p id="help2">5-10字，方便让医生注意到</p>
			<div class="item row" id="help4">
				<input  class="col col-90" type="text"/>
				<span class="voice icon ion-ios-mic"></span>
			</div>
		</div>
	</ion-content>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>

</block>