<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/medical.css">
</block>

<block name="content">
	<ion-header class='bar bar-header bar-light'>
		<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
		<h1 class="title">在线医院</h1>
		<a href="medical_record.html" id="record_od" class="button button-clear pull-right">&nbsp;问诊记录&nbsp;</a>
	</ion-header>
	<!--以下为在线医院的具体页面内容-->
	<ion-content overflow-scroll="true" has-bouncing="false">
		<div>
			<ul class="list list_hospital1">
				<li class="item" id="hospital1">
					<a href="medical_huaxi.html">
						<div class="img_mark_h1">
							<img src="__STATIC__/wap/images/medical/huaxi.png" />
						</div>
						<div class="medical_li_h1">
							<label>四川大学华西医院</label>
							<p class="img_mark_h2">
								<span>三甲</span>
								<span>医保</span>
							</p>
							<p class="img_mark_h3">
								<span class="medical_li_h2"><label>415位</label>优质医生</span>
								<span class="img_praise">
									<i class="icon ion-ios-location-outline"></i>11km
								</span>
							</p>
						</div>
					</a>
				</li>
				<li class="item">
					<div class="img_mark_h1">
						<img src="__STATIC__/wap/images/medical/huaxi2.png" />
					</div>
					<div class="medical_li_h1">
						<label>四川大学华西第二医院</label>
						<p class="img_mark_h2">
							<span>三甲</span>
								<span>医保</span>
						</p>
						<p class="img_mark_h3">
							<span class="medical_li_h2"><label>90位</label>优质医生</span>
							<span class="img_praise">
							<i class="icon ion-ios-location-outline"></i>
							11km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark_h1">
						<img src="__STATIC__/wap/images/medical/people.png" />
					</div>
					<div class="medical_li_h1">
						<label>四川省人民医院</label>
						<p class="img_mark_h2">
							<span>三甲</span>
							<span>医保</span>
						</p>
						<p class="img_mark_h3">
							<span class="medical_li_h2"><label>1951位</label>优质医生</span>
							<span class="img_praise">
							<i class="icon ion-ios-location-outline"></i>
							14km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark_h1">
						<img src="__STATIC__/wap/images/medical/huaxi_mouth.png" />
					</div>
					<div class="medical_li_h1">
						<label>四川大学华西口腔医院</label>
						<p class="img_mark_h2">
							<span>三甲</span>
							<span>医保</span>
						</p>
						<p class="img_mark_h3">
							<span class="medical_li_h2"><label>116位</label>优质医生</span>
							<span class="img_praise">
							<i class="icon ion-ios-location-outline"></i>
							13km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark_h1">
						<img src="__STATIC__/wap/images/medical/zhongyi.png" />
					</div>
					<div class="medical_li_h1">
						<label>成都中医药附属医院</label>
						<p class="img_mark_h2">
							<span>三甲</span>
							<span>医保</span>
						</p>
						<p class="img_mark_h3">
							<span class="medical_li_h2"><label>622位</label>优质医生</span>
							<span class="img_praise">
							<i class="icon ion-ios-location-outline"></i>
							14km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark_h1">
						<img src="__STATIC__/wap/images/medical/women.png" />
					</div>
					<div class="medical_li_h1">
						<label>成都市妇女儿童中心医院</label>
						<p class="img_mark_h2">
							<span>三甲</span>
							<span>医保</span>
						</p>
						<p class="img_mark_h3">
							<span class="medical_li_h2"><label>99位</label>优质医生</span>
							<span class="img_praise">
							<i class="icon ion-ios-location-outline"></i>
							18km
						</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img_mark_h1">
						<img src="__STATIC__/wap/images/medical/area.png" />
					</div>
					<div class="medical_li_h1">
						<label>成都军区总医院</label>
						<p class="img_mark_h2">
							<span>三甲</span>
							<span>医保</span>
						</p>
						<p class="img_mark_h3">
							<span class="medical_li_h2"><label>167位</label>优质医生</span>
							<span class="img_praise">
							<i class="icon ion-ios-location-outline"></i>
							23km
						</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</ion-content>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
</block>