<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
	<style>
		.header-img{width: 40px;height: 40px;border-radius: 50%;margin-right: 10px;}
		.type:{background: #F8BD39;border-radius: 4px;line-height: 24px;color: #fff;margin-left: 10px;display: inline-block;}
	</style>
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='needDetailCtrl'>

		<ion-header class='bar bar-header bar-light'>
			<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
			<h1 class="title">需求详情</h1>
		</ion-header>

		<div class="ub-f1 has-header bg-white">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="mt-10 bg-white p-10">
					<div class="ub ub-ac">
						<img class="header-img" ng-src="{{data.img}}"/>
						<div class="ub-f1 text-888 text-12" ng-bind='data.time'>
							
						</div>
						<span class="type" ng-bind='data.category'>找人擦</span>
					</div>
					<div class="p-10" ng-bind='data.demand_name'>
						公司名称
					</div>
					<div class="text-888 ph-10" ng-bind='data.demand_describe'>
						安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect安静；的两个加快速度；affect
					</div>
				</div>
			</ion-content>
		</div>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('needDetailCtrl', ['$scope', "$ionicPosition", "$timeout", function(a, b, c) {
			a.data={};
			a.data.img=getQueryString('headerImg');
			a.data.time=getQueryString('time');
			a.data.category=getQueryString('category');
			a.data.demand_name=getQueryString('demand_name');
			a.data.demand_describe=getQueryString('demand_describe');
		}])
		
	</script>
</block>