<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='airCtrl'>

		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">话费充值</h1>
			</ion-header>
		</div>

		<div class="ub-f1 bg-white">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="telrecharge">
					<div class="ub ub-ac p-10">
						<div class="ub-f1">
							<input type="tel" placeholder="请输入手机号" />
						</div>
						<a href="cardlist"><img class="w-35" src="__STATIC__/wap/images/travel/ph_person.png" /></a>
					</div>
					<p class="text-888  ph-10">账户绑定号码(四川移动)</p>
					<div class="ph-10 pakage row row-wrap">
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
						<div class="col col-33">
							<span>10元<i>售价：9.98元</i></span>
						</div>
					</div>
				</div>
			</ion-content>
		</div>
		<div class="h-44 text-center text-888 bg-white text-12 index_footer">
			<a href="ph_record">充值记录</a>
		</div>
	</div>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/core.js"></script>
	<script>
		app.controller('airCtrl', ['$scope', "$ionicPosition", "$timeout", function(a, b, c) {

			$('.type').click(function() {
				$(this).addClass('checked').siblings().removeClass('checked');
				a.state = $('.checked').attr('rel');
			})

			//行程时间
			a.startDate = new Date().toLocaleDateString();
			a.endDate = new Date().toLocaleDateString();

			//地区
			a.getCity();

		}])

		function startDate() {
			new yxCalendar({
				date: $('#startDate').html(),
				callback: function(date) {
					$('#startDate').html(date)
					$("input[name=time]").val(date);
				}
			});
		}

		function endDate() {
			new yxCalendar({
				date: $('#endDate').html(),
				callback: function(date) {
					$('#endDate').html(date)
					$("input[name=time]").val(date);
				}
			});
		}
	</script>
</block>