<extend name="Public/base" />
 <block name="headerCss">
 	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
 	</block>
<block name="content">
	
	<ion-view>
    <ion-header-bar align-title="center" no-tap-scroll="false">
        <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
        <h1 class="title">成绩</h1>
    </ion-header-bar>
 <ion-content  class="f12">
       <div class="grade_banner">
           <img src="__STATIC__/wap/images/find/chengjibanner.png" alt="">
       </div>
      <div class="row padding-top">
          <a class="img_l" href="input_message">
              <img src="__STATIC__/wap/images/find/gaokao.png" alt="">
              <div class="checkout">
                  <p>2016</p>
                  <p>高考成绩</p>
              </div>
          </a>
          <a class="img_r">
              <img src="__STATIC__/wap/images/find/zhongkao.png" alt="">
              <div class="checkout">
                  <p>2016</p>
                  <p>高考成绩</p>
          </div>
      </a>
          </div>

</block>
 	<block name="footer_js">
 		
 	</block>
