<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
	<style>
		.searchBar{position: relative; padding: 5px;}
		.searchBar input{width: 100%;line-height: 34px;height: 34px;border-radius: 4px;padding-right: 0rem 5rem 0rem 1rem;}
		.bar{margin-left: -5px;}
		.item-input-wrapper{margin-left: 5px;}
		.searchBar button{position: absolute;top: -1px;width: 34px;height: 34px;padding: 5px;border:0px;background: none;right:5px;}
	</style>
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='locaoNewsCtrl'>

		<!--<div class="h-44">
			<div class="searchBar">
				 <button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
				 <input type="text" placeholder="请输入搜索关键词" id='search'/>
				<button ng-click='getnews()'><i class="icon ion-ios-search-strong text-26 text-888"></i></button>
			</div>
		</div>-->
		<div class="bar bar-header item-input-inset">
		 <button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>	
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon" style="font-size: 20px; vertical-align: ]middle;"></i>
    <input type="search" placeholder="请输入关键词" id="search" ng-model="value.content">
  </label>
  <button class="button button-energized" ng-click='getnews()'>
    搜索
  </button>
</div>

		<div class="ub-f1 bg-white">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
				</ion-refresher>
				
				<div class="p-10 newslist">
					<a ng-repeat='news in hotels' href="{{API+'/Local/localNewsInfo?newsId='+news.news_id}}" class="news mb-10">
						<div class="newsImgBg" style="background-image:url({{(news.img_url)?news.img_url:IMG+'/Public/static/wap/images/nopix.png'}}) ;background-size: cover;">

						</div>

						<p ng-bind='news.news_title'></p>
						<div class="botbox">
							<span class="mr-10" ng-bind='getLocalDate(news.news_addtime)'></span><span ng-bind='"来源： "+news.gove_affairs_news_author'></span>
						</div>
					</a>

				</div>			
				<ion-infinite-scroll on-infinite="getHotel()" ng-if="hasMore">
				</ion-infinite-scroll>
				<!--<div style="line-height: 3rem;color: orange;font-size: 14px;text-align: center;" ng-if="!hasMore">没有更多相关数据</div>-->
			</ion-content>
		</div>
	</div>
</block>
<block name="footer_js">
	<script>	
		app.controller('locaoNewsCtrl', ['$scope', '$ionicLoading', function(a, loading) {
			
			
			
			
			a.value = {};									
			//获取本地新闻
			a.pageIndex = 0;
			a.pagSize = 20;

			a.hasMore = true;

			a.hotels = [];
			var search='asgjfds';
			console.log(search);
			//酒店数据
			a.getHotel = function() {
				if(sessionStorage.value){
//				search=$('#search').val();
					search=sessionStorage.value;
					
				}else{
					search='asgjfds';
				}
				
				console.log(search+' , '+a.pagSize);
				$.ajax({
					type: "post",
					url: API+"/Local/localNews",
					dataType: 'json',
					data: {
						town_id: localStorage.townId,
						offset: a.pageIndex,
						serach:search
					},
					success: function(data) {						
						$.each(data.returnData, function(i, row) {
							a.hotels.push(row);
						})
						console.log(a.hotels);
						if(data.returnData.length < a.pagSize) {
							a.hasMore = false;
						}else{
							a.hasMore=true;
						}

						a.pageIndex++;
						a.$broadcast('scroll.infiniteScrollComplete');
						a.$broadcast('scroll.refreshComplete');
					}
				});
			}
			a.getHotel();
			a.doRefresh = function() {
				a.hotels = [];
				a.pageIndex = 0;
				a.hasMore = true;
				a.$apply();
				a.getHotel();				
			}			
			a.getnews=function(){
				if($('#search').val()!=''){
					search=$('#search').val();
					sessionStorage.value = $("#search").val();
				}else{
					search='';
					a.alert("请输入搜索关键词")
					return false;
				}
				$.ajax({
					type: "post",
					url: API+"/Local/localNews",
					dataType: 'json',
					data: {
						town_id: localStorage.townId,
						offset: 0,
						serach:search
					},
					success: function(data) {
						console.log(data);
						a.hotels=data.returnData;
						a.$apply();						
						if(data.returnData.length < a.pagSize) {
							a.hasMore = false;
						}
						a.pagSize++;
					}
				});
			}
			
			a.hotels = [];
		}])
		
	</script>
</block>