<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/find_zm.css">
</block>
<block name="content">
	<ion-view ng-controller="viewCtrl">
	<ion-header-bar align-title="center" no-tap-scroll="false" class="no_bg">
		<button class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click="myGoBack()"></button>
		<h1 class="title">走访记录</h1>
	</ion-header-bar>
	<ion-content overflow-scroll="false" has-bouncing="ture">
		<!--图表-->
		<div class="envir-chartbox">
			<div class="p-10 text-16">
				走访统计图表于最近走访详情
			</div>
			<div class="chart">
				<ion-scroll zooming="ture" direction="x" scrollbar-x='false' has-bouncing='true' style="overflow-x: hidden">
					<ul>
						<li class="checked">
							<div class="chartbox">
								53
							</div>
							<div class="date">
								<span>今天</span>
							</div>
						</li>
						<li>
							<div class="chartbox">
								53
							</div>
							<div class="date">
								<span>明天</span>
							</div>
						</li>
						<li>
							<div class="chartbox">
								53
							</div>
							<div class="date">
								<span>7/22</span>
							</div>
						</li>
						<li>
							<div class="chartbox">
								53
							</div>
							<div class="date">
								<span>7/23</span>
							</div>
						</li>
						<li>
							<div class="chartbox">
								53
							</div>
							<div class="date">
								<span>7/24</span>
							</div>
						</li>
						<li>
							<div class="chartbox">
								53
							</div>
							<div class="date">
								<span>7/25</span>
							</div>
						</li>
						<li>
							<div class="chartbox">
								53
							</div>
							<div class="date">
								<span>7/26</span>
							</div>
						</li>
					</ul>
				</ion-scroll>
			</div>
		</div>
		<!--走访列表区-->
		<div class="site_list" >

			<div class="site_item padding-left padding-right padding-top" ng-repeat="item in allclass">
				<p class="time_P">签到<span ng-bind="getLocalDate(item.affairs_visited_date)"></span></p>
				<p class="view_P">{{item.affairs_visit_address}}<span>+1</span></p>
			</div>
		
		
		 <ion-infinite-scroll distance="1%" on-infinite="request()" ng-if="hasMore">
            </ion-infinite-scroll>
            <div style="line-height: 3rem;text-align: center;color:orange;" ng-if="!hasMore">没有更多数据</div>
        </div>
	</ion-content>
	</ion-view>

</block>
<block name="footer_js">
	<script>
		app.controller("viewCtrl", function($scope,$ionicLoading) {
			
				$('.chart ul li').click(function() {
			$(this).addClass('checked').siblings().removeClass('checked');
		})
            
			$scope.pageIndex = 0;
			$scope.hasMore = true;
			$scope.allclass = [];

			$scope.request = function() {
                   
				    $.ajax({
					type: "post",
					url: API+"/Gov/govVistRecord",
					dataType: "json",
					
					data: {						
						offset: $scope.pageIndex
					},
					
					success: function(data) {
						
						console.log(data.returnData.visit)

						$.each(data.returnData.visit, function(i, dom) {

							$scope.allclass.push(dom);
							$scope.$apply();
						});
						if(data.returnData.visit.length < 20) {
							$scope.hasMore = false;
						}
						$scope.pageIndex++;
						$scope.$broadcast('scroll.infiniteScrollComplete');
						$scope.$broadcast('scroll.refreshComplete');
					}
				});
			}

		})
	</script>
</block>