<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<script src="__STATIC__/js/md5-min.js"></script>
		<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
		<title>Title</title>
	</head>

	<body>
		<input type="button" value="登陆" style="width: 200px;height: 200px" id="login">
	</body>

	<script>
		$(document).ready(function() {
			var checkPhone = function() {
				var phone = 0;
				var u = navigator.userAgent;
				if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {
					alert('aa');
					phone = 1;
				} else if(u.indexOf('iPhone') > -1) {
					phone = 2;
				}
				return phone;
			}
			$('#login').click(function() {
				var phone = checkPhone();
				var tel = hex_md5('12345678991');
				console.log(tel);
				var obj = {
					user_name: '12345678991',
					user_passwd: '123',
					device_identifier: tel,
					device_name: phone,
					user_group_id: 1
				};
				$.post(API+'/user/userRegister', obj, function(data) {
					console.log(data);
				});
			});
		});
	</script>

</html>