<extend name="Public/base" />
   <block name="headerCss">
    <link rel="stylesheet" href="__STATIC__/wap/find_zm.css"> 	
    </block> 

<block name="content">
<ion-view ng-controller="idnexCtrl">
    <ion-header-bar align-title="center" no-tap-scroll="false">
        <a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
        <h1 class="title">办事指南</h1>
    </ion-header-bar>
    <ion-content>
    					<ion-slide-box auto-play="true" slide-interval="2500" show-pager="true" does-continue="true" ng-if="banner" delegate-handle="image-viewer">
					<ion-slide ng-repeat=" item in banner">
						<a href="#" class="box"><img ng-src="{{item.advertise_photo}}" class="pic" />
						</a>

					</ion-slide>
					
					
				</ion-slide-box>
	
    	
    	
    <div class="row outrow">
        <div class="col four_one">
            <a href="made_ID"><img src="__STATIC__/wap/images/find/guid1.png">
                <p>证件办理</p>
            </a>
        </div>
        <div class="col four_one">
            <a href="entryList"><img src="__STATIC__/wap/images/find/guid2.png">
                <p>出境入境</p>
            </a>
        </div>

        <div class="col four_one">
            <a href="HouseList"><img src="__STATIC__/wap/images/find/guid3.png">
                <p>房产土地</p>
            </a>
        </div>
    </div>
    <div class="row outrow">
        <div class="col four_one">
            <a href="lawList"><img src="__STATIC__/wap/images/find/guid4.png">
                <p>法律援助</p>
            </a>
        </div>
        <div class="col four_one">
            <a href="invalidList"><img src="__STATIC__/wap/images/find/guid5.png">
                <p>残疾人服务</p>
            </a>
        </div>

        <div class="col four_one">
            <a href="#" ng-click='alert("敬请期待")'><img src="__STATIC__/wap/images/find/guid6.png">
                <p>物价查询</p>
            </a>
        </div>
    </div>
    <div class="row outrow">
        <div class="col col-33 four_one">
            <a href="equityList"><img src="__STATIC__/wap/images/find/guid7.png">
                <p>知识产权</p>
            </a>
        </div>
        <div class="col col-33 four_one">
            <a href="labourList"><img src="__STATIC__/wap/images/find/guid8.png">
                <p>劳动保障</p>
            </a>
        </div>
    </div>
    </ion-content>>
</ion-view>
</block>
<block name="footer_js">
<script>
			app.controller("idnexCtrl",["$scope","$ionicSlideBoxDelegate","$ionicLoading",function(a,b,c){
				
				$.ajax({
					type:"post",
					url:API+"/Common/getBanner",
					async:true,
					data:{category:16},
					success:function(data){
						a.banner = data.returnData;
						a.$apply();
						b.update();b.$getByHandle('image-viewer').update();
					}
				});
			}])
		

</script>
</block>
