<extend name="Public/base" />
    <block name="headerCss">
    
    <style>
        .sall_banner {
            height: auto;
            width: 100%;
            margin-top: 44px;
        }
        .sall_banner img {
            height: auto;
            width: 100%;
        }
        /*content區域樣式*/
        .pic_chunk img{width: 100%; height: auto;}
        .pic_chunk>a{display: block;position: relative;}
        .pic_chunk>a>p{position: absolute;width:100%;top: 50%;text-align: center;left: 0;color:#FFFFFF;
            line-height: 2rem;font-size:1.4rem;margin-top: -0.5rem;font-weight: 500;}
            .slider-pager{bottom: 10px;}  
		.box img{height: 200px;width: 100%;display: block;}
    </style>
</block>
<block name="content">
<div class="bar bar-header">
    <a class="button icon-left ion-ios-arrow-left button-clear button-energized" ng-click='myGoBack()'></a>
    <div class="h1 title">教育培训</div>
</div>
<!--banner大图区-->
<ion-content over-scroll="false" class="has-header" ng-controller="indexCtrl">
	
						<ion-slide-box auto-play="true" slide-interval="2500" show-pager="true" does-continue="true" ng-if="banner" delegate-handle="image-viewer">
					<ion-slide ng-repeat=" item in banner">
						<a href="#" class="box"><img ng-src="{{item.advertise_photo}}" class="pic" />
						</a>
					</ion-slide>										
				</ion-slide-box>
<!--content區域-->
<div class="row">
    <div class="col pic_chunk col-50S"><a href="train_class"><img src="__STATIC__/wap/images/find/peixun.png"><p class="P_title">培训机构</p></a></div>
    <div class="col col-50 pic_chunk"><a href="school_view"><img src="__STATIC__/wap/images/find/xuexiao.png"><p class="P_title">学校一览</p></a></div>

</div>
<div class="row">
    <div class="col pic_chunk col-50S"><a href="school_view_2"><img src="__STATIC__/wap/images/find/zaixianketang.png"><p class="P_title">在线课堂</p></a></div>
    <div class="col col-50 pic_chunk"><a ng-click='alert("敬请期待")'><img src="__STATIC__/wap/images/find/chegji.png"><p class="P_title">成绩查询</p></a></div><!--href="score_search_index"-->

</div>
<div class="row">
    <div class="col pic_chunk col-50S"><a href="education_newsIndex"><img src="__STATIC__/wap/images/find/xinwen.png"><p class="P_title">教育新闻</p></a></div>
    <div class="col col-50 pic_chunk"><a href="#" ng-click='alert("敬请期待")' ><img src="__STATIC__/wap/images/find/more.png"><p class="P_title">查看更多</p></a></div>

</div>
</ion-content>
</block>
<block name="footer_js">	
	<script>
		
		app.controller("indexCtrl",['$scope','$ionicSlideBoxDelegate','$ionicLoading',function(a,b,c){
			$.ajax({
				type:"post",
				url:API+"/Common/getBanner",
				data:{
					category:17
				},
				async:true,
				success:function(data){
					a.banner = data.returnData;
					a.$apply();
					b.update();
					b.$getByHandle('image-viewer').update();
					
				}
			});
			
			
			
		}])
		
	</script>
	
	
	
	
</block>