<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/urgency.css">
	<style type="text/css">
		.ion-ios-telephone-outline{color: orange;}
	</style>
</block>
<block name="content">
	<ion-view ng-controller="idnexCtrl">
		<ion-content overflow-scroll="true" has-bouncing="false">

			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">紧急救助</h1>
				<a href="urgency_skill" class="button button-clear button-small button-energized"><span class="text-14 mr-10">技能认证</span></a>
			</ion-header>
			
			<!--以下为紧急救助的具体页面内容-->
			<div class="urgency_content">
				
								<ion-slide-box auto-play="true" slide-interval="2500" show-pager="true" does-continue="true" ng-if="banner" delegate-handle="image-viewer">
					<ion-slide ng-repeat=" item in banner">
						<a href="#" class="box"><img ng-src="{{item.advertise_photo}}" class="pic" />
						</a>

					</ion-slide>
					
					
				</ion-slide-box>

				
				<div class="row">
					<div class="col col-50">
						<a href="urgency_help.html">
							<div class="ur_select">
								<img src="__STATIC__/wap/images/urgency/hand.png" />
								<p>紧急救助</p>
							</div>
						</a>
					</div>
					<div class="col col-50">
						<a href="urgency_service.html">
							<div class="ur_select">
								<img src="__STATIC__/wap/images/urgency/service.png" />
								<p>生活服务</p>
							</div>
						</a>
					</div>
				</div>
				<div class="ur_bg">
					<div class="row ur_tel item">
						<div class="col col-50 ur_tel1">
							<button class="ur_tel2 button button-light active">紧急救助电话</button>
						</div>
						<div class="col col-50 ur_tel3">
							<button class="ur_tel4 button button-light">生活服务电话</button>
						</div>
					</div>
					<div class="item ur_lists1">
						<div class="ur_list item">
							<span class="ur_right">
								<p class="list_tel1">报警电话</p>
								<a href="tel:110"><p class="list_tel2">110</p></a>
							</span>
							<span class="list_tel3"> <a href="tel:110"><i class="icon ion-ios-telephone-outline"></i></a></span>
						</div>
						<div class="ur_list item">
							<span class="ur_right">
								<p class="list_tel1">火警电话</p>
								<a href="tel:119"><p class="list_tel2">119</p></a>
							</span>
							<span class="list_tel3"> <a href="tel:119"><i class="icon ion-ios-telephone-outline"></i></a></span>
						</div>
						<div class="ur_list item">
							<span class="ur_right">
							<p class="list_tel1">救护电话</p>
							<a href="tel:120"><p class="list_tel2">120</p></a>
						</span>
							<span class="list_tel3"><i class="icon ion-ios-telephone-outline"></i></span>
						</div>
					</div>
					<div class="item ur_lists2 hide">
						<div class="ur_list item">
							<span class="ur_right">
								<p class="list_tel1">电话号码查询</p>
								<p class="list_tel2">114</p>
							</span>
							<span class="list_tel3"><i class="icon ion-ios-telephone-outline"></i></span>
						</div>
						<div class="ur_list item">
							<span class="ur_right">
								<p class="list_tel1">天气预报电话</p>
								<p class="list_tel2">121</p>
							</span>
							<span class="list_tel3"><i class="icon ion-ios-telephone-outline"></i></span>
						</div>
						<div class="ur_list item">
							<span class="ur_right">
								<p class="list_tel1">报时电话</p>
								<p class="list_tel2">117</p>
							</span>
							<span class="list_tel3"><i class="icon ion-ios-telephone-outline"></i></span>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	</ion-view>
</block>
<block name="footer_js">
	<script type="text/javascript" src="__STATIC__/js/jQuery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript">
		$(function() {
			telUpload(1,".ur_lists1");
			$(".ur_tel2").on("click", function() {
				$(".ur_lists1").show();
				$(".ur_lists2").hide();
				$(".ur_lists1").removeClass("hidden");
				$(".ur_tel4").removeClass("active");
				$(".ur_tel2").addClass("active");
				telUpload(1,".ur_lists1");
			});
			$(".ur_tel4").on("click", function() {
				$(".ur_lists1").removeClass("hidden");
				$(".ur_tel4").addClass("active");
				$(".ur_tel2").removeClass("active");
				$(".ur_lists2").show();
				$(".ur_lists1").hide();
				telUpload(2,".ur_lists2");
			});

		});
		//紧急救助获取
		function telUpload(cateGory,address){
			$(".ur_list").remove();
			$.ajax({
			type: "post",
			url: API+"/Rescue/rescueTel",
			dataType: 'json',
			data:{
				category:cateGory
			},
			success: function(data) {
				//获取服务器完整数据
				console.log(data);
				var bailout = data.returnData;
				console.log("紧急救助的完整数据：" + bailout);
				//数据写入页面
				for(var i = 0; i < bailout.length; i++) {
					console.log(bailout[i].bailout_name);
					var ur1 = "<div class='ur_list item'><span class='ur_right'><p class='list_tel1'>" +
						bailout[i].bailout_name + "</p><p class='list_tel2'>" + bailout[i].bailout_tel 
						+ "</p></span><span class='list_tel3'><a href='tel:"+bailout[i].bailout_tel+"'><i class='icon ion-ios-telephone-outline'></i></a></span></div>";
					$(address).append(ur1);
				}
			}
		});
		}		
		app.controller("idnexCtrl",["$scope","$ionicSlideBoxDelegate","$ionicLoading",function(a,b,c){				
				$.ajax({
					type:"post",
					url:API+"/Common/getBanner",
					async:true,
					data:{category:23},
					success:function(data){
						a.banner = data.returnData;
						a.$apply();
						b.update();b.$getByHandle('image-viewer').update();
					}
				});
			}])
	
	</script>
</block>