<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='weatherCtrl'>

		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title" id="address"><span >黄龙溪</span><i class="icon ion-ios-location-outline text-20 ml-5"></i></h1>
			</ion-header>
		</div>

		<div class="ub-f1 weather">
			<ion-content has-bouncing='true' overflow-scroll='false'>
			<div class="p-15 text-fff temperature">
				<div class="bot">
					25°<span class="text-14">小雨</span><i class="icon ion-ios-arrow-right ml-10 text-14"></i>
				</div>
			</div>
			<div class="text-fff more-info">
				<div class="weather-info opcity-8">
					<div class="date row opcity-6 pv-10">
						<div class="col">
							<i>昨天</i>
							<span>7/19</span>
						</div>
						<div class="col">
							<i>今天</i>
							<span>7/20</span>
						</div>
						<div class="col">
							<i>周四</i>
							<span>7/21</span>
						</div>
						<div class="col">
							<i>周五</i>
							<span>7/22</span>
						</div>
						<div class="col">
							<i>周六</i>
							<span>7/23</span>
						</div>
					</div>
					<div class="weather-icons row text-center">
						<canvas height="200"  id="canvas-weather"></canvas>
						<div class="col col-20">
							<div class="sun">
								<i class="icon ion-ios-sunny-outline"></i>
								<span>晴</span>
							</div>
							<div class="wind">
								<i>东北风</i>
								<span>三级</span>
							</div>
						</div>
						<div class="col col-20">
							<div class="sun">
								<i class="icon ion-ios-partlysunny-outline"></i>
								<span>多云</span>
							</div>
							<div class="wind">
								<i>东北风</i>
								<span>三级</span>
							</div>
						</div>
						<div class="col col-20">
							<div class="sun">
								<i class="icon ion-ios-cloudy-outline"></i>
								<span>阴</span>
							</div>
							<div class="wind">
								<i>东北风</i>
								<span>三级</span>
							</div>
						</div>
						<div class="col col-20">
							<div class="sun">
								<i class="icon ion-ios-rainy-outline"></i>
								<span>中雨</span>
							</div>
							<div class="wind">
								<i>东北风</i>
								<span>三级</span>
							</div>
						</div>
						<div class="col col-20">
						<div class="sun">
								<i class="icon ion-ios-thunderstorm-outline"></i>
								<span>雷雨</span>
							</div>
							<div class="wind">
								<i>东北风</i>
								<span>三级</span>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="bot-a p-10 text-center opcity-8">
					查看15日天气
				</a>
			</div>
			</ion-content>
		</div>
	</div>
</block>
<block name="footer_js">
	<script src="http://api.map.baidu.com/api?v=1.2" type="text/javascript"></script>
	<script>
		app.controller('weatherCtrl', ['$scope', function(a) {
			$('#canvas-weather').attr("width",$('body').width());
			var	w = $('body').width()/5;

			window.onresize = function() {
				$('#canvas-weather').attr("width",$('body').width());
				w = $('body').width()/5;
			}
			
			var canvas = document.getElementById('canvas-weather');
			var canvasTop = canvas.offsetTop;
			var ctx = canvas.getContext('2d');
			var sixdayHighTemperature = [32, 29, 32, 28, 31];
			var sixdayLowTemperature = [20, 24, 22, 9, 20];
			var picHeight = 100;
			var maxHighTemp = maxNum(sixdayHighTemperature);
			var minLowTemp = minNum(sixdayLowTemperature);
			var maxRange = maxHighTemp - minLowTemp;
			ctx.fillStyle='white'
			function maxNum(arr) {
				var maxNum = 0;
				if(arr.length) {
					for(var i = 0, len = arr.length; i < len; i++) {
						if(i == 0) {
							maxNum = arr[0];
						} else if(maxNum < arr[i]) {
							maxNum = arr[i];
						}
					}
				}
				return maxNum;
			}

			function minNum(arr) {
				var minNum = 0;
				if(arr.length) {
					for(var i = 0, len = arr.length; i < len; i++) {
						if(i == 0) {
							minNum = arr[0];
						} else if(minNum > arr[i]) {
							minNum = arr[i];
						}
					}
				}
				return minNum;
			}
			ctx.strokeStyle = "#fff";
			ctx.lineWidth = 1;
			ctx.lineCap='round';
			ctx.lineJoin='round';
			
			(function drawHighTemp(temps) {
				var drawX = 0,
					drawY = 0;
				var distance = Math.floor(picHeight / maxRange);
				for(var i = 0, len = temps.length; i < len; i++) {
					
					drawX = (i +0.5)*w;
					drawY = (maxHighTemp - temps[i]) * distance+40;
					if(i == 0) {
						ctx.moveTo(drawX, drawY);
//						ctx.arc(drawX, drawY,2,0,Math.PI*0.2,true);
						
						ctx.fillText(temps[i]+'°', drawX-10, drawY-10);
					} else {
						ctx.lineTo(drawX, drawY);
//						ctx.arc(drawX, drawY,2,0,Math.PI*0.2,true);
						
						ctx.fillText(temps[i]+'°', drawX-10, drawY-10);
					}
				}
				ctx.stroke();
			})(sixdayHighTemperature);
			(function drawHighTemp(temps) {
				var drawX = 0,
					drawY = 0;
				var distance = Math.floor(picHeight / maxRange);
				for(var i = 0, len = temps.length; i < len; i++) {
					drawX = (i +0.5)*w;
					drawY = picHeight - ((temps[i] - minLowTemp) * distance)+40;
					if(i == 0) {
						ctx.moveTo(drawX, drawY);
//						ctx.arc(drawX, drawY,2,0,Math.PI*0.2,true);
						ctx.fillText(temps[i]+'°', drawX-10, drawY+20);
					} else {
						ctx.lineTo(drawX, drawY);
//						ctx.arc(drawX, drawY,2,0,Math.PI*0.2,true);
						ctx.fillText(temps[i]+'°', drawX-10, drawY+20);
					}
				}
				ctx.stroke();
			})(sixdayLowTemperature)
			
			

			/*//获取当前位置
			function getLocation() {
			var options = {
				enableHighAccuracy: true,
				maximumAge: 1000
			}
			if(navigator.geolocation) {
				//浏览器支持geolocation
				navigator.geolocation.getCurrentPosition(onSuccess, onError, options);
			} else {
				//浏览器不支持geolocation
				alert('您的浏览器不支持地理位置定位');
			}
		}
		//成功时
		function onSuccess(position) {
			//返回用户位置
			//经度
			var longitude = position.coords.longitude;
			//纬度
			var latitude = position.coords.latitude;
//			alert('经度' + longitude + '，纬度' + latitude);

			//根据经纬度获取地理位置，不太准确，获取城市区域还是可以的
			var map = new BMap.Map("allmap");
			var point = new BMap.Point(longitude, latitude);
			var gc = new BMap.Geocoder();
			gc.getLocation(point, function(rs) {
				var addComp = rs.addressComponents;
				a.address=addComp.district;
//				alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
			});
		}
		//失败时
		function onError(error) {
			switch(error.code) {
				case 1:
					alert("位置服务被拒绝");
					break;
				case 2:
					alert("暂时获取不到位置信息");
					break;
				case 3:
					alert("获取信息超时");
					break;
				case 4:
					alert("未知错误");
					break;
			}
		}
		getLocation();*/
		}])
	</script>
</block>