<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
</block>
<block name="content">
	<div class="um-vp up ub ub-ver bg-f5" ng-controller='welfareCtrl'>

		<div class="h-44">
			<ion-header class='bar bar-header bar-light'>
				<a href="javascript:history.back(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left text-drak-yellow text-20"></i></a>
				<h1 class="title">详情</h1>
			</ion-header>
		</div>

		<div class="ub-f1 bg-white">
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="p-10">
					<h4>用绘本带留守儿童看世界</h4>
					<p class="text-888 text-12">日期：[2016年06月01日]</p>
					<img class="w-1" src="__STATIC__/wap/images/travel/welfaredtpic.png">
					<article>
						<p>捐出闲置的书籍就能获得百元厂购抵用券”4月17日，顾家家居启动了“顾家关爱儿童读书公益计划”，活动现场得到了众多消费者支持。</p>
						<p>“4月17日顾家家居超级品牌日”活动，也是“顾家家居”34周年生日，“顾家家居”不仅在活动当天推出回馈消费者的六项优惠活动，还推出了两款家居新品，更是邀请消费者一起开启“关爱儿童读书公益计划”。</p>
						<p>“4月17日顾家家居超级品牌日”活动，也是“顾家家居”34周年生日，“顾家家居”不仅在活动当天推出回馈消费者的六项优惠活动，还推出了两款家居新品，更是邀请消费者一起开启“关爱儿童读书公益计划”。</p>
						<p>“我们希望能将书本化作一份爱心，捐赠给乡村小学的小朋友们，让知识流动起来。”顾家家居的工作人员告诉记者，借着品牌日及34周年生日之际，联合顾客一起捐赠自己搁置不用的儿童课外读物，只要捐书即可获得100元厂购抵用券，让消费者参与公益活动的同时，获得顾家家居额外的权益。“希望通过‘顾家关爱儿童读书公益计划’可以让孩子们的‘看书看到世界’让他们的世界更加丰富多彩。”工作人员说。(实习记者肖鹏)</p>
					</article>
				</div>
			</ion-content>
		</div>
	</div>
</block>
<block name="footer_js">
	<script>
		app.controller('welfareCtrl', ['$scope', "$ionicPosition", "$timeout", function(a, b, c) {

		}])
	</script>
</block>