<extend name="Public/base" />
<block name="headerCss">
	<link rel="stylesheet" href="__STATIC__/wap/travel.css">
	<link rel="stylesheet" href="__STATIC__/swiper/css/swiper.min.css">

</block>
<block name="content">
	<div class="ub ub-ver up bg-f5" ng-controller='essenceCtrl'>
		<div class="ub-f1">
			<ion-header-bar align-title="center" no-tap-scroll="false">
				<h1 class="title">精选</h1>
				<button class="button button-clear button-energized">
				<!--<i class="icon ion-android-wifi text-16"></i>-->
			</button>
			</ion-header-bar>
			<ion-content has-bouncing='true' overflow-scroll='false'>
				<div class="banner mb-10">
					<img class="w-1" src="__STATIC__/wap/images/essence/bannerindex.png" />
					<a href="" class="userNum text-fff" ng-bind="option.totalUser"></a>
					<a href="{{BASE}}/Travel/twonlist" class="townNum text-fff" ng-bind="option.totalTown"></a>
					<a href="{{SHOP}}/Mobile/Index" class="productNum text-fff" ng-bind="option.totalGoods"></a>
					<a href="{{BASE}}/Travel/diary" class="tripNum text-fff" ng-bind="option.totalTrip"></a>
					<a href="{{BASE}}/Travel/science" class="attractionsNum text-fff" ng-bind="option.totalAttractions"></a>
					<a href="{{SHOP}}/Mobile/Business/index/town_id/-1.html" class="businessNum text-fff" ng-bind="option.totalBusiness"></a>
				</div>
				
				<div class="travel-week bg-white pv-10">
					<a href="#" class="ub ub-ac title">
						<i><img src="__STATIC__/wap/images/essence/jingpinicon.png"/></i>
						<div class="ub-f1">
							<p class="text-444 pv-5 m-0 text-12 p-0">精品应用</p>
						</div>
						
					</a>

					<div class="row row-wrap list-img-top">
						<div class="col col-33">
							<a href="{{IMG}}/wap.php/Find/double">
								<img class="w-1 mb-5" src="__STATIC__/wap/images/essence/double.png" />
								<span class="text-888">双创服务</span>
							</a>
						</div>
						<div class="col col-33">
							<a href="{{IMG}}/wap.php/Find/train">
								<img class="w-1 mb-5" src="__STATIC__/wap/images/essence/education.png" />
								<span class="text-888">教育培训</span>
							</a>
						</div>
						<div class="col col-33">
							<a href="{{IMG}}/wap.php/Find/medical_index">
								<img class="w-1 mb-5" src="__STATIC__/wap/images/essence/docter.png" />
								<span class="text-888">医疗保健</span>
							</a>
						</div>
						<div class="col col-33">
							<a href="{{IMG}}/wap.php/Find/gover_salle">
								<img class="w-1 mb-5" src="__STATIC__/wap/images/essence/goverment.png" />
								<span class="text-888">政务大厅</span>
							</a>
						</div>
						<div class="col col-33">
							<a href="{{IMG}}/wap.php/Find/traffic">
								<img class="w-1 mb-5" src="__STATIC__/wap/images/essence/traffic.png" />
								<span class="text-888">交通出行</span>
							</a>
						</div>
						<div class="col col-33">
							<a href="{{IMG}}/wap.php/Find/culture">
								<img class="w-1 mb-5" src="__STATIC__/wap/images/essence/culture.png" />
								<span class="text-888">文化推广</span>
							</a>

						</div>
					</div>
				</div>
				
				<!--推荐商品开始-->
				<div class="travel-week bg-white pv-10 mb-0">
					<a href="#" class="ub ub-ac title">
						<i><img src="__STATIC__/wap/images/travel/travel-goods.png"/></i>
						<div class="ub-f1">
							<p class="text-444 pv-5 m-0 text-14 p-0">小镇特产</p>
						</div>
						<!--<i class="icon ion-ios-arrow-right mr-10"></i>-->
					</a>
					<!--ionic sliderbox-->
					<ion-slide-box on-slide-changed="slideHasChanged($index)">
						<ion-slide>
							<div class="box blue">
								<div class="row row-wrap list-img-top mb-20">
									<div class="col col-33" ng-repeat='item in goods1'>
										<a href="{{SHOP}}Mobile/Goods/goodsInfo/id/{{item.goods_id}}.html" class="text-left">
											<div class="goodpic">
												<img class="mb-5" ng-src="{{(item.original_img)?item.original_img:IMG+'/Public/static/wap/images/nopix.png'}}">
											</div>
											<span class="text-888 mb-5" ng-bind='item.goods_name'></span>
											
										</a><div class="ub ub-ac bt-1 mt-5 pv-5 text-red">
												<div class="ub-f1" ng-bind='"￥"+item.shop_price'></div>
												<i class="icon ion-ios-cart text-20"></i>
											</div>
									</div>
								</div>
							</div>
						</ion-slide>
						<ion-slide>
							<div class="box yellow">
								<div class="row row-wrap list-img-top mb-20">
									<div class="col col-33" ng-repeat='item in goods2'>
										<a href="{{SHOP}}Mobile/Goods/goodsInfo/id/{{item.goods_id}}.html" class="text-left">
											<div class="goodpic">
												<img class="mb-5" ng-src="{{(item.original_img)?item.original_img:IMG+'/Public/static/wap/images/nopix.png'}}">
											</div>
											<span class="text-888 mb-5" ng-bind='item.goods_name'></span>
											
										</a><div class="ub ub-ac bt-1 mt-5 pv-5 text-red">
												<div class="ub-f1" ng-bind='"￥"+item.shop_price'></div>
												<i class="icon ion-ios-cart text-20"></i>
											</div>
									</div>
								</div>	
							</div>
						</ion-slide>
						<ion-slide>
							<div class="box pink">
								<div class="row row-wrap list-img-top mb-20">
									<div class="col col-33" ng-repeat='item in goods3'>
										<a href="{{SHOP}}Mobile/Goods/goodsInfo/id/{{item.goods_id}}.html" class="text-left">
											<div class="goodpic">
												<img class="mb-5" ng-src="{{(item.original_img)?item.original_img:IMG+'/Public/static/wap/images/nopix.png'}}">
											</div>
											<span class="text-888 mb-5" ng-bind='item.goods_name'></span>
											
										</a><div class="ub ub-ac bt-1 mt-5 pv-5 text-red">
												<div class="ub-f1" ng-bind='"￥"+item.shop_price'></div>
												<i class="icon ion-ios-cart text-20"></i>
											</div>
									</div>
								</div>
							</div>
						</ion-slide>
					</ion-slide-box>
					<!--ionic sliderbox-->
					<!-- Swiper -->
					<!--<div class="swiper-container bg-white">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="row row-wrap list-img-top mb-20">
									<div class="col col-33" ng-repeat='item in goods1'>
										<a href="{{SHOP}}Mobile/Goods/goodsInfo/id/{{item.goods_id}}.html" class="text-left">
											<div class="goodpic">
												<img class="mb-5" ng-src="{{(item.original_img)?item.original_img:IMG+'/Public/static/wap/images/nopix.png'}}">
											</div>
											<span class="text-888 mb-5" ng-bind='item.goods_name'></span>
											
										</a><div class="ub ub-ac bt-1 mt-5 pv-5 text-red">
												<div class="ub-f1" ng-bind='"￥"+item.shop_price'></div>
												<i class="icon ion-ios-cart text-20"></i>
											</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="row row-wrap list-img-top mb-20">
									<div class="col col-33" ng-repeat='item in goods2'>
										<a href="{{SHOP}}Mobile/Goods/goodsInfo/id/{{item.goods_id}}.html" class="text-left">
											<div class="goodpic">
												<img class="mb-5" ng-src="{{(item.original_img)?item.original_img:IMG+'/Public/static/wap/images/nopix.png'}}">
											</div>
											<span class="text-888 mb-5" ng-bind='item.goods_name'></span>
											
										</a><div class="ub ub-ac bt-1 mt-5 pv-5 text-red">
												<div class="ub-f1" ng-bind='"￥"+item.shop_price'></div>
												<i class="icon ion-ios-cart text-20"></i>
											</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="row row-wrap list-img-top mb-20">
									<div class="col col-33" ng-repeat='item in goods3'>
										<a href="{{SHOP}}Mobile/Goods/goodsInfo/id/{{item.goods_id}}.html" class="text-left">
											<div class="goodpic">
												<img class="mb-5" ng-src="{{(item.original_img)?item.original_img:IMG+'/Public/static/wap/images/nopix.png'}}">
											</div>
											<span class="text-888 mb-5" ng-bind='item.goods_name'></span>
											
										</a><div class="ub ub-ac bt-1 mt-5 pv-5 text-red">
												<div class="ub-f1" ng-bind='"￥"+item.shop_price'></div>
												<i class="icon ion-ios-cart text-20"></i>
											</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="swiper-pagination"></div>
					</div>-->

				</div>
				<!--推荐商品结束-->

				<!--推荐行程开始-->
				<!--<div class="travel-week bg-white pv-10">
					<a href="#" class="ub ub-ac title">
						<i><img src="__STATIC__/wap/images/travel/travel-recom.png"/></i>
						<div class="ub-f1">
							<p class="text-444 pv-5 m-0 text-14 p-0">行程推荐</p>
						</div>
					</a>

					<div class="tourlist">
						<div class="tour mb-10" ng-repeat='item in tour'>
							<a href="{{API}}/Trip/tourInfo?tourId={{item.tour_id}}" class="ub p-10 pb-5">
								<div class="imgbox mr-10" style="background-image: url({{(item.img)?item.img:IMG+'/Public/static/wap/images/travel/nopix.png'}});background-size: cover; width: 8rem;"></div>
								<div class="ub-f1">
									<div class="text-444"><em ng-bind='item.tour_title'></em><span class="boutique ml-10 text-10">精</span></div>
									<div class="text-888 text-12" ng-bind='item.createUser+"为我打造"'></div>
								</div>
							</a>
							<div class="text-12 ph-10 text-888" ng-bind='item.tour_area'></div>
						</div>

					</div>

				</div>-->
				<!--推荐行程结束-->
				<!--推荐游记开始-->
				<div class="travel-week bg-white pv-10">
					<a href="#" class="ub ub-ac title">
						<i><img src="__STATIC__/wap/images/travel/travel-not.png"/></i>
						<div class="ub-f1">
							<p class="text-444 pv-5 m-0 text-14 p-0">小镇游记</p>
						</div>
						<!--<i class="icon ion-ios-arrow-right mr-10"></i>-->
					</a>

					<div class="travel-con-plan">
						<a class="p-10" ng-repeat='item in trip' href="/wap.php/travel/diary_detail?tripId={{item.trip_id}}">
							<div class="picshow">
								<img class="showimg" ng-src="{{item.img?item.img:IMG+'/Public/static/wap/images/travel/nopix.png'}}" />
								<div class="avater">
									<img ng-src="{{(item.headerImg)?item.headerImg:IMG+'/Public/static/wap/images/portrait.jpg'}}" />
								</div>
							</div>
							<p class="text-888 pt-10 pb-5 text-12 intr m-0" ng-bind='item.trip_caption'></p>
							<div class="mb-10">
								<!--<span><i class="icon ion-eye mr-5"></i><em ng-bind='item.browse_times'></em></span>-->
								<span><i class="icon ion-android-time mr-5"></i><em  ng-bind='getLocalDate(item.trip_date)'></em></span>
							</div>

						</a>
					</div>

				</div>
				<!--推荐游记结束-->
			</ion-content>

		</div>
		<div class="row footer-bar index_footer">
			<a href="/wap.php/Essence/index" class="col col-20 checked">
				<!--<i class="icon ion-ios-color-filter-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/jing2.png" />
				<span>精选</span>
			</a>
			<a href="/wap.php/Travel/index" class="col col-20">
				<!--<i class="icon ion-earth"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/travel1.png" />
				<span>文旅</span>
			</a>
			<a href="/wap.php/Find/index" class="col col-20">
				<!--<i class="icon ion-ios-eye-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/find1.png" />
				<span>发现</span>
			</a>
			<a href="http://s.xlufei.com/index.php/" class="col col-20">
				<!--<i class="icon ion-ios-cart-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/shop1.png" />
				<span>购物</span>
			</a>
			<a href="/wap.php/Center/index" class="col col-20">
				<!--<i class="icon ion-ios-person-outline"></i>-->
				<img src="__STATIC__/wap/images/footerIcon/mine1.png" />
				<span>我的</span>
			</a>
		</div>
	</div>
</block>
<block name="footer_js">
	<script src="__STATIC__/swiper/js/swiper.min.js"></script>
	<script>
		app.controller('essenceCtrl', ['$scope', '$ionicLoading', function(a, loading) {
			//			localStorage.removeItem('townId');

			$.ajax({
				type: "post",
				url: API+"/Trip/sysCount",
				async: true,
				success: function(data) {
					a.option = data.returnData;
					a.$apply();
					console.log(a.option)
				}
			});
			

			if(typeof(localStorage.townId) != undefined) {
				var oldTownId = localStorage.townId;
				console.log(localStorage.townId);
			} else {
				$.ajax({
					type: "post",
					url: API+"/Trip/randTown",
					async: true,
					success: function(data) {
						//						a.townInfo=data.returnData;
						localStorage.townId = data.returnData.sys_town_id;
						console.log(localStorage);
					}
				});
			}
			//首页主要信息
			$.ajax({
				type: "post",
				url: API+"/Trip/tripIndex",
				dataType: 'json',
				data: {
					town_id: localStorage.townId
				},
				success: function(data) {
					console.log(data.returnData);
					a.tour = data.returnData.tour;
					//					console.log(a.tour);
					a.town = data.returnData.town;
					//					console.log(a.town);
					a.trip = data.returnData.trip;
					//					console.log(a.trip);
					a.goods1 = data.returnData.goods.slice(0, 3);
					a.goods2 = data.returnData.goods.slice(3, 6);
					a.goods3 = data.returnData.goods.slice(6, 9);

					a.$apply();
				}
			});
			console.log(localStorage.townId);
		}])

		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true
		});
	</script>
</block>