       /*train_class*/
        
        /*轮播公共样式*/
        .slider-pager{bottom: 10px;}  
		.box img{height: 200px;width: 100%;display: block;}
        
        
        html p,span,h1,h2,h3,h4,h5, h6,input,div {font-family: "微软雅黑";}
        
        p {
        	margin-top: 1rem;
        }
        
        html {
        	font-size: 62.5%;
        }
        
        * {
        	margin: 0;
        	padding: 0;
        }
        
        p {
        	margin: 0;
        	font-family: "微软雅黑"
        }
        
        ul li {
        	list-style: none;
        }
        
       /*各类学校列表样式*/
         .school_list {
        	overflow-y: scroll;
        	overflow-x: hidden;
        	background: #fff
        }
        
        .school_list>a {
        	display: block;
        	border-bottom: 1px solid #e0e0e0;
        }
        
        .img_inner {
        	width: 18.1%;
        	text-align: center;
        	line-height: 8rem;
        	display: inline-block;
        	vertical-align: middle;
        }
        
        .img_inner>img {
        	width: 4.2rem;
        	height: 4.2rem;
        	vertical-align: middle;
        	border-radius: 50%;
        }
        
        .scholl_brief {
        	display: inline-block;
        	width: 75%;
        	vertical-align: middle;
        	color: #666666;
        	margin-right: 1rem;
        	overflow: hidden;
        }
        
        .scholl_brief p:nth-of-type(1) {
        	color: #333333;
        	font-weight: 600;
        }
        
        .scholl_brief p {
        	line-height: 2rem;
        }
     
        /*民情事物（people_Things）样式*/
        
        #minqing .right_btn {
        	border: 1px solid orange;
        	color: orange;
        	background: none;
        }
        
        #minqing .list_item {
        	display: block;
        	border-bottom: 1px solid #ddd;
        	position: relative;
        }
        
        #minqing .question_title {
        	color: #414141;
        	font-weight: 600;
        	max-width: 20%;
        	display: inline-block;
        	vertical-align: middle;
        }
        
        #minqing .first_row>span {
        	overflow: hidden;
        	white-space: nowrap;
        	text-overflow: ellipsis;
        }
        
        #minqing .question {
        	padding-left: 6%;
        	color: #666666;
        	max-width: 58%;
        	white-space: nowrap;
        	text-overflow: ellipsis;
        	overflow: hidden;
        	display: inline-block;
        	vertical-align: middle;
        }
        
        #minqing .done {
        	background: orange;
        	color: #fff;
        	border-radius: 5px;
        	padding: 0 0.6rem;
        	position: absolute;
        	top: 1px;
        	right: 0;
        }
        
        #minqing .first_row {
        	position: relative;
        	font-size: 1.4rem;
        }
        
        #minqing .second_row {
        	line-height: 4rem;
        }
        
        #minqing .second_row>span {
        	color: #666666;
        }
        
        #minqing .ask_name {
        	padding-left: 8.5%;
        }
        
        #minqing .ask_time {
        	position: absolute;
        	right: 24%;
        	top: auto;
        }
        /*interview样式*/
        
        .timer {
        	padding: 0 4.2%;
        	margin-top: 1rem;
        	display: block;
        	color: #080808;
        	position: relative;
        }
        
        .addressList {
        	background: #f2f2f2;
        }
        
        .zhenzhangbanbao {
        	color: orange;
        	border: 1px solid orange;
        	border-radius: 4px;
        }
        
        .addressList> a {
        	display: block;
        	height: 5rem;
        	line-height: 5rem;
        	padding: 0 4.2%;
        	background: #FFFFFF;
        	color: #080808;
        }
        
        .addressList> a> img {
        	height: 2rem;
        	width: 2rem;
        	vertical-align: middle;
        }
        
        .addressList {
        	margin-bottom: 0;
        }
        
        .addressList span {
        	display: inline-block;
        	vertical-align: middle;
        }
        
        .timer span:first-child {
        	padding-left: 4.2%;
        	vertical-align: middle;
        }
        
        .timer> img {
        	vertical-align: middle;
        	width: 4rem;
        	height: 4rem;
        }
        
        .span_2 {
        	position: absolute;
        	left: 40%;
        	color: #888;
        }
        
        .arrows {
        	line-height: 5rem;
        	float: right;
        	color: #dbdde2;
        	font-size: 2rem;
        }
        
        .addressList .agin {
        	text-align: right;
        	background: #f2f2f2;
        	color: #1a78e0;
        	padding: 0 4.2%;
        	line-height: 4.8rem;
        }
        
        .agin img,
        .agin span {
        	vertical-align: middle;
        }
        
        .agin span {
        	font-size: 1.2rem;
        }
        
        .agin img {
        	width: 4rem;
        	height: 4rem;
        }
        
        .line_bottom {
        	border-bottom: 1px solid #dedede;
        }
        
        .leave_message {
        	width: 100%;
        	height: 10rem;
        	overflow: hidden;
        	margin-top: 1rem;
        	padding: 10px;
        }
        
        .map {
        	background: #2186ef;
        	width: 100%;
        }
        
        .map .col>a {
        	display: inline-block;
        }
        
        .col_left>a>img {
        	height: 3.4rem;
        	width: 3.4rem;
        }
        
        .col_right>a>img {
        	height: 3.4rem;
        	width: 3.4rem;
        }
        
        .col-33.col_center>a {
        	position: relative;
        }
        
        @media (min-width: 376px) {
        	.col_center>a>img {
        		width: 10rem;
        		height: 10rem;
        	}
        }
        
        @media (max-width: 375px) {
        	.col_center>a>img {
        		width: 8rem;
        		height: 8rem;
        	}
        	.col_left a,
        	.col_right a {
        		margin-top: 2.2rem;
        	}
        	.col_center a>p {
        		margin-top: -1.5rem;
        	}
        }
        
        .map .col.col-33 {
        	text-align: center;
        }
        
        .col_center>a {
        	margin-left: -0.4rem
        }
        
        .col_left a,
        .col_right a {
        	margin-top: 2.8rem;
        }
        
        .map p {
        	color: #fff;
        }
        
        .col_center a>p {
        	position: absolute;
        	height: 2rem;
        	line-height: 2rem;
        	width: 4rem;
        	top: 50%;
        	left: 50%;
        	margin-top: -1rem;
        	margin-left: -2rem;
        }
        
      
       }
       /*made_ID样式*/
       .zhengjian_list {
       	background: #f2f2f1;
       	height: 100%;
       }
       .zhengjian_item {
       	border-radius: 5px;
       	box-shadow: 0 0 2px 2px #f2ede2;
       	margin-bottom: 15px;
       	background: #FFFFFF url("__STATIC__/wap/images/find/arrows_03.jpg") no-repeat 93%;
       	;
       	background-size: 1rem 1rem;
       }
       /*temporary_ID样式*/
       .blod {
       	font-weight: bold;
       	margin-top: 2rem
       }
       .text-888 {
       	color: #888888;
       }
       p {
       	font-family: "微软雅黑"
       }
       /*work_ID样式*/
       .blod {
       	font-weight: bold;
       	margin-top: 2rem
       }
       .text-888 {
       	color: #888888;
       }
       p {
       	font-family: "微软雅黑"
       }
       /*things_Guid样式*/
       .outrow {
       	padding: 0;
       	margin: 0;
       }
       .outrow .four_one {
       	box-sizing: border-box;
       	text-align: center;
       	border-right: 1px solid #e0e0e0;
       	margin: 0;
       	border-bottom: 1px solid #e0e0e0;
       }
       .outrow .four_one a {
       	width: 100%;
       	text-align: center;
       	display: block;
       	padding-bottom: 0.8rem;
       	padding-top: 0.8rem;
       	box-sizing: border-box;
       	text-decoration: none;
       }
       .outrow .four_one a img {
       	vertical-align: bottom;
       	width: 2.7rem;
       	height: 2.7rem;
       }
       .outrow .four_one a p {
       	color: #333;
       	font-size: 1.4rem;
       	margin: 0;
       }
       .things_guid_banner {
       	height: auto;
       }
       .things_guid_banner>img {
       	width: 30rem;
       	width: 100%;
       }
       /*call_board样式*/
       a {
       	text-decoration: none;
       }
       p {
       	margin: 0;
       }
       .gong_gao_item {
       	border-bottom: 1px solid #e9e9e9;
       	display: block;
       }
       .gong_gao_item>h5 {
       	overflow: hidden;
       	/*white-space: nowrap;*/
       	height: 3rem;
       	/*text-overflow: ellipsis;*/
       	line-height: 3rem;
       	margin: 10px 0 0 0;
       	font-family: "微软雅黑"
       }
       .gong_gao_item>p {
       	color: #888;
       	line-height: 3.6rem;
       }
       /*call_board_details*/
       p {
       	font-family: "微软雅黑"
       }
       .lifa_title {
       	text-align: center;
       }
       .text-888 {
       	color: #888;
       }
       .text_12 {
       	font-size: 1.2rem;
       	text-align: center;
       	padding-bottom: 10px;
       }
       .first_row {
       	text-indent: 30px;
       }
       .second_row {
       	text-indent: 30px;
       }
       /*民情提问*/
       .peopleask-list {
       	background: #f6f6f6;
       	margin-bottom: 0;
       }
       .peopleask-list>input {
       	margin-bottom: 1rem;
       	width: 100%;
       	padding-left: 3%;
       	background: #FFFFFF url("images/find/bgorang_03.jpg") no-repeat left center;
       	background-size: 3px 0.8rem;
       }
       .xiangxineirong {
       	width: 100%;
       	height: 22rem;
       }
       .wenzi {
       	margin-bottom: 1rem;
       	width: 100%;
       	padding-left: 3%;
       	background: #FFFFFF url("images/find/bgorang_03.jpg") no-repeat left center;
       	background-size: 3px 0.8rem;
       	border-bottom: 1px solid #e0e0e0;
       	line-height: 3.4rem;
       }
       .wenben {
       	width: 100%;
       	height: 20rem;
       	background: #f6f6f6;
       }
       .pull {
       	border-radius: 8px;
       	background: orange;
       	color: #fff;
       }
       /*power_details样式*/
       .wenti_list {
       	border-bottom: 1px solid #e0e0e0;
       	
       }
       .wenti_list> input {
       	border: none;
       	display: inline-block;
       	padding: 0;
       	padding-left: 1rem;
       }
       .wenti_list>label{
       	vertical-align: middle;
       }
       .xiangxi_detial>p {
       	padding-bottom: 10px;
       }
       .wenbenqu {
       	width: 100%;
       	height: 13rem;
       	background: #f6f6f6;
       }
       .pic_list>img {
       	height: 43px;
       	width: 44px;
       	margin-right: 5.7%;
       	border: 1px solid #e0e0e0;
       	display: block;
       }
       /*图片文件上传*/

.skill_files{
	margin-top: 15px;
	border: 0;
	padding: 0;
}
.skill_files input{
	width: 45%;
	height: 100px;
}

.imgUpload{
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 100;
}
span.skill_file1.col.col-50{
	text-align: center;
	background-color: #f7f7f7;
	height: 100px;
}
.destination> .button.button-light{
	border-radius: 15px;
	line-height: 11px;
	min-height: 33px;
	margin-top: 30px;
	color: #a0a0a0;
	font-size: 1.2rem;
}
.skill_files>span:nth-of-type(1){
	border-right: 10px solid white;
}
.skill_files>span:nth-of-type(2){
	border-left: 10px solid white;
}
/*提交按钮*/
a.button.button-full.pull{
	margin: 50px 30px;
	border-top: 0;
	border-bottom: 0;
}
       /*school_view样式*/
       .school_banner {
       	height: auto;
       }
       .myschool_row {
       	padding: 0;
       }
       .school_banner>img {
       	height: 100%;
       	width: 100%;
       }
       .myschool {
       	text-align: center;
       	color: #444;
       	text-decoration: none;
       	box-sizing: border-box;
       	border-right: 1px solid #dbdde2;
       	padding: 2.5rem 0 2.5rem 0;
       	border-bottom: 1px solid #dbdde2;
       }
       .myschool>img {
       	width: 2.4rem;
       	height: 2.4rem;
       }
      
       /*govermentIndex样式*/
       .bg_f2f2 a {
       	text-decoration: none;
       }
       p {
       	margin-bottom: 0;
       }
       .bg_f2f2 {
       	background: #f2f2f2;
       }
       .left,
       .right {
       	width: 100%;
       	height: 6.4rem;
       	background: #FFFFFF;
       	text-align: center;
       	box-sizing: border-box;
       	text-align: center;
       	color: #444;
       	vertical-align: middle;
       	padding: 0 10%;
       }
       /*monad_details*/
       .first_title {
       	font-size: 16px;
       	border-left: 3px solid orange;
       	padding-left: 4%;
       	margin-bottom: 1rem;
       }
       .zhengwen {
       	text-indent: 24px;
       	line-height: 2.4rem;
       	font-family: "微软雅黑";
       	color: #333333;
       	font-size: 1.4rem;
       }
       .zhengwen:nth-of-type(1) {
       	margin-top: 10px;
       }
       /*xinancaida*/
       .school_banner {
       	height: 20rem;
       }
       .school_banner>img {
       	height: 100%;
       	width: 100%;
       }
       /*.myschool_row{border-bottom: 1px solid #dbdde2;padding: 0;}*/
       .marjor {
       	text-align: center;
       	text-decoration: none;
       	color: #444;
       	padding-top: 1.3rem;
       	padding-bottom: 1.5rem;
       	;
       	border-right: 1px solid #dbdde2;
       	border-bottom: 1px solid #dbdde2;
       }
       /*.myschool_row .marjor:last-child{border: none;}*/
       .marjor>img {
       	height: 2.7rem;
       	width: 2.7rem;
       }
       /*marketing样式*/
       .clear {
       	clear: both;
       }
       .shichang_title {
       	color: #10a7fd;
       	line-height: 4rem;
       	margin-bottom: 0;
       }
       .two_span {
       	border-bottom: 1px solid #eeeef0;
       	padding-bottom: 0.5rem;
       }
       .span_right,
       .span_left {
       	color: #4c71a3;
       	font-size: 1.6rem;
       	font-family: "微软雅黑"
       }
       .span_left {
       	float: left;
       }
       .span_right {
       	float: right;
       	margin-right: 16%;
       }
       .xuewei {
       	line-height: 3.5rem;
       	color: #728495;
       	font-size: 1.4rem
       }
       .shichangjiuye {
       	line-height: 2.2rem;
       	color: #728495;
       	font-size: 1.4rem;
       }
       .major_title {
       	line-height: 5rem;
       	background: #f7f7f7;
       	margin: 0;
       }
       .major_item {
       	border-bottom: 1px solid #e0e0e0;
       	line-height: 5rem;
       	height: 5rem;
       	position: relative;
       }
       .major_item>span {
       	display: inline-block;
       }
       .major_item>a {
       	color: #fff;
       	text-decoration: none;
       	background: orange;
       	display: inline-block;
       	height: 2rem;
       	line-height: 2rem;
       	border-radius: 4px;
       	padding: 0 5px;
       	text-align: center;
       	position: absolute;
       	right: 10px;
       	top: 1.5rem;
       }
       /*highscoll_ddetails*/
       .school_banner {
       	height: auto;
       }
       /*.myschool_row{border-bottom: 1px solid #dbdde2;padding: 0;}*/
       .school_banner>img {
       	height: 100%;
       	width: 100%;
       }
       .myschool {
       	text-align: center;
       	color: #444;
       	text-decoration: none;
       	box-sizing: border-box;
       	border-right: 1px solid #dbdde2;
       	padding: 1.5rem 0;
       }
       .myschool>p {
       	padding-top: 5px;
       }
       /*.myschool_row .myschool:last-child{border: none;}*/
       .myschool>img {
       	width: 2.4rem;
       	height: 2.4rem;
       }
       /*chinese_class（语文课）*/
       .kongcheng_title {
       	line-height: 4rem;
       	margin-bottom: 0;
       }
       .kongcheng_jieshao {
       	line-height: 2.2rem;
       	color: #728495;
       	font-size: 1.4rem;
       	text-indent: 24px;
       }
       /*university_details*/
       p {
       	margin: 0;
       	font-family: "微软雅黑"
       }
       .yuancheng p {
       	line-height: 2.2rem;
       }
       .scholl_details_banner>img {
       	height: 160px;
       	width: 100%;
       }
       .text {
       	border-bottom: solid 1px #e9e9e9;
       }
       .text>p {
       	color: #000000;
       	line-height: 2rem;
       	font-weight: 500;
       	font-family: "微软雅黑";
       	font-size: 1.2rem;
       	text-indent: 24px;
       }
       .text>a {
       	width: 25%;
       	margin: 0 auto;
       	display: block;
       	text-align: center;
       	text-decoration: none;
       	line-height: 3.5rem;
       	color: orange;
       }
       .text>a>img {
       	width: 1.2rem;
       	height: 0.6rem;
       	padding-left: 4px;
       }
       .yuancheng {
       	position: relative;
       	border-bottom: 1px solid #e9e9e9;
       }
       .yuancheng>p {
       	line-height: 2rem;
       }
       .yuancheng p:first-child {
       	padding-bottom: 0.7rem;
       }
       .yuanchengke_2 {
       	display: block;
       	position: absolute;
       	line-height: 2.4rem;
       	background: orange;
       	color: #fff;
       	border-radius: 4px;
       	text-decoration: none;
       	width: 20%;
       	text-align: center;
       	right: 6%;
       	bottom: 2.5rem;
       }
       .yuanchengke {
       	display: block;
       	position: absolute;
       	line-height: 2.4rem;
       	background: orange;
       	color: #fff;
       	border-radius: 4px;
       	text-decoration: none;
       	width: 20%;
       	text-align: center;
       	right: 6%;
       	bottom: 2.5rem;
       }
       .tel {
       	position: relative;
       	border-bottom: 1px solid #ebebeb;
       }
       .tel p:first-child {
       	color: orange;
       	padding-bottom: 0.9rem;
       }
       .tel p {
       	line-height: 2rem;
       	margin-right: 27%;
       }
       .dingwei {
       	position: absolute;
       	top: 4rem;
       	right: 20%;
       }
       .dingwei p:nth-of-type(1) {
       	padding: 0;
       }
       .xuefei>span {
       	color: orange;
       	line-height: 4rem;
       }
       .xuefei {
       	border-bottom: 1px solid #ebebeb;
       }
       .xuefei p {
       	text-indent: 24px;
       	line-height: 2rem;
       }
       .jiuye span {
       	color: orange;
       	line-height: 3rem;
       }
       .jiuye p {
       	text-indent: 24px;
       	line-height: 2rem;
       }
       /*@media (min-width: 320px) and (max-width:374px) {
            .dingwei{right: 7%;}
            .yuanchengke_2{bottom: 5.5rem;}
        }*/
       /*score_seach_index*/
       .f12 {
       	background: #f2f2f2;
       }
       .img_r,
       .img_l {
       	background: #fff;
       	border-radius: 5px;
       	padding-top: 1rem;
       	padding-bottom: 1rem;
       }
       .img_l {
       	float: left;
       	width: 46%;
       	margin-right: 3%;
       	margin-left: 2.5%;
       }
       .img_l>img {
       	width: 3rem;
       	width: 3rem;
       	margin: 0 15% 0 9%;
       	vertical-align: middle;
       }
       .img_r {
       	float: right;
       	width: 46%;
       }
       .img_r>img {
       	width: 3rem;
       	width: 3rem;
       	margin: 0 11% 0 9%;
       	vertical-align: middle;
       }
       .checkout {
       	display: inline-block;
       	vertical-align: middle;
       	text-align: center;
       }
       .checkout>p {
       	color: #888888;
       	margin-bottom: 0px;
       }
       /*input_search*/
       .f2f2f2 {
       	background: #f2f2f2;
       }
       .put_in {
       	border-bottom: 1px solid #f2f2f2;
       	background: #fff;
       }
       .put_in>span {
       	padding-right: 2%;
       	color: #444;
       }
       .put_in>input {
       	display: inline-block;
       }
       .login_ {
       	width: 97%;
       	background: orange;
       	color: #fff;
       	margin: 1.5rem 1.5%;
       	border: none;
       }
       /*score_result*/
       .chaxunbanner {
       	height: 19rem;
       	background: #fc6a5b;
       	text-align: center;
       	box-sizing: border-box;
       	padding-top: 2rem;
       }
       .personal_details {
       	background: #f25546;
       	text-align: center;
       	border-radius: 5px;
       	width: 50%;
       	margin: 0 auto;
       	color: #fff;
       	line-height: 3rem;
       	font-size: 1.6rem;
       	overflow: hidden;
       }
       .all_result {
       	position: relative;
       	height: 8rem;
       	width: 8rem;
       	background: url("images/find/score_box_03.jpg") no-repeat;
       	background-size: cover;
       	margin: 2rem auto;
       	color: #fff;
       	box-sizing: border-box;
       	padding-top: 2rem;
       }
       .all_result>p {
       	margin: 0;
       	font-size: 2rem;
       }
       .my_cj_row {
       	padding: 0 10px;
       }
       .my_cj_row .col {
       	margin-top: 1rem;
       }
       .chinese {
       	border: 1px solid #e0e0e0;
       	padding-left: 5%;
       	box-sizing: border-box;
       	border-radius: 5px;
       	text-decoration: none;
       	line-height: 5rem;
       	display: block;
       }
       .chinese span {
       	vertical-align: middle;
       }
       .chinese span:nth-of-type(1) {
       	color: #888;
       	padding-left: 5%;
       }
       .chinese span:nth-of-type(2) {
       	color: #333;
       	padding-left: 25%;
       }
       .chinese>img {
       	width: 2.7rem;
       	height: 2.7rem;
       	vertical-align: middle;
       }
       .point>p {
       	width: 100%;
       }
       @media only screen and (max-width: 374px) {
       	.personal_details {
       		width: 65%;
       	}
       	
       	.chinese span:nth-of-type(2) {
       		color: #333;
       		padding-left: 15%;
       	}
       }
       /*education_newsIndex*/
       .news_list {
       	background: #f1f1f1;
       }
       .news_item {
       	display: block;
       	margin-bottom: 10px;
       	background: #fff
       }
       .img_wrap {
       	width: 30%;
       	height: auto;
       	display: inline-block;
       	vertical-align: middle;
       }
       .img_wrap>img {
       	width: 100%;
       	height: 6rem;
       	display: block;
       }
       .news_item .news_brief>p {
       	color: #444;
       	line-height: 1.6rem;
       	height: 3.2rem;
       	overflow: hidden;
       	font-family: "微软雅黑";
       	font-size: 1.4rem;
       	margin: 5px 0 5px;
       }
       .news_item .news_brief>span {
       	color: #131313;
       }
       .news_brief {
       	display: inline-block;
       	width: 65%;
       	padding-left: 4%;
       	background: #fff;
       	vertical-align: middle;
       	height: 6rem;
       	box-sizing: border-box;
       	overflow: hidden;
       }
       /*education_news_details*/
       .jiaoyu_title {
       	font-family: "微软雅黑";
       	margin-bottom: 3rem;
       	color: #1f1f1f;
       }
       .date_publish {
       	padding-left: 1rem;
       	border-left: 3px solid orange;
       	color: #888;
       	font-size: 0.6rem;
       	margin-top: 3rem;
       }
       .zhengwen {
       	line-height: 2rem;
       	margin-top: 1rem;
       	color: #888;
       	margin-bottom: 10px;
       }
       .ask_title {
       	font-weight: 600;
       	margin-bottom: 1.5rem;
       	color: #444;
       }
       .answer {
       	text-indent: 24px;
       	color: #888;
       	padding-bottom: 10px;
       }
       .footerNews {
       	box-sizing: border-box;
       	background: #f5f5f5
       }
       .footerNav {
       	color: #f7b41f;
       	border-top: 3px solid #f7b41f;
       	line-height: 4rem;
       	padding-left: 20px;
       }
       .a-auto {
       	min-height: auto;
       	border: none;
       	margin-top: 0.6rem;
       }
       .a-auto> img:first-child {
       	height: auto;
       }
       .footer_p {
       	padding-top: 1rem;
       }
       .footerShare {
       	background: #f2f2f2;
       	padding: 0;
       	height: 44px;
       }
       .footerCol {
       	text-align: center;
       	padding: 0;
       	line-height: 44px;
       }
       .footerCol i {
       	font-size: 2.4rem;
       	vertical-align: middle;
       	color: #888;
       }
       .zanNumber {
       	vertical-align: middle;
       	padding-left: 5px;
       	color: orange;
       }
       .footerCol>span {
       	padding-left: 5px;
       	vertical-align: middle;
       }
       /*newSpecail样式*/
       .newsTitle> span {
       	padding-left: 10px;
       	color: #4d4d4d;
       	box-sizing: border-box;
       	border-left: 2px solid orange;
       }
       .newsTitle> h3 {
       	font-size: 2rem;
       	color: #222222;
       	font-weight: 500;
       }
       .img_text>img {
       	width: 100%;
       }
       .img_text>p {
       	margin-bottom: 10px;
       }
       .newContent_p1 {
       	width: 100%;
       	box-sizing: border-box;
       	padding: 0 4%;
       	color: #333333;
       	font-size: 1.4rem;
       }
       .footerNews {
       	box-sizing: border-box;
       	background: #f5f5f5
       }
       .footerNav {
       	color: #f7b41f;
       	border-top: 3px solid #f7b41f;
       	line-height: 4rem;
       	padding-left: 20px;
       	padding-bottom: 1rem;
       }
       .a-auto {
       	min-height: auto;
       	border: none;
       	margin-top: 0.6rem;
       }
       .a-auto> img:first-child {
       	height: auto;
       }
       .footer_p {
       	padding-top: 1rem;
       }
       .footerShare {
       	background: #f2f2f2;
       	padding: 0;
       	height: 44px;
       }
       .footerCol {
       	text-align: center;
       	padding: 0;
       	line-height: 44px;
       }
       .footerCol i {
       	font-size: 2.4rem;
       	vertical-align: middle;
       	color: #888;
       }
       .zanNumber {
       	vertical-align: middle;
       	padding-left: 5px;
       }
       .footerCol>span {
       	padding-left: 5px;
       	vertical-align: middle;
       }
       /*govermentNews*/
			.nav_li{margin-top: 44px;width: 100%;border-bottom: 1px solid #dedede;}
			.nav_li>ul{position: relative;}
			.clear{clear: both;}
			.nav_li ul li{line-height: 35px;text-align: center;margin: 0;padding: 0;float: left;height: 35px;}			
			.nav_li ul li.on{color: orange;}
			.line{height: 3px;background: orange;position: absolute;bottom: 0;left: 0;width:50px;}
			ion-slide{width: 100%;}
			ion-slide>img{width: 100%;}
			.top_cont{top: 80px;display: none;}
			.line{transition: all .3s;}
			.content_top{top:80px;height: 0;overflow: hidden;transition: all .3s;}
			.content_top.show{height: auto;}
			.content_top ion-slide>img{display: block;}
			/*分页点*/
			.slider-pager{text-align: right;padding-right: 0;color: orange;bottom: 10px;}
			.ion-record:before{color: orange;font-size: 0.8rem;}
			.news-banner-pic{position: relative;}
			.news-banner-pic a{display: block;}
			.news-banner-pic img{height: 210px;width: 100%;display: block;}
			.bottom-brief{line-height:2.5rem;font-size: 1.4rem;background: rgba(0,0,0,0.4);position: absolute;bottom: 0;left: 0;color: #fff;
			padding-left: 1rem;padding-right:32%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;}

			/*文字滚动*/
			#scrollobj{line-height: 3rem; white-space:nowrap;overflow:hidden;margin: 0 2rem;}
              /*内容列表区*/
			.news-List{background: #efeeee;padding: 1rem 1rem 0.5rem 0;}
			.news-item{color: #555;display: block;text-decoration: none;margin-bottom: 1rem;background: #fff;height: 6rem;padding-left: 1rem;}
			.news-item>img{width:8.5rem;height:5.5rem;float: left;margin-right: 1rem;margin-top: 0.25rem;}
			.news-item .news-overview{height: 3.7rem;overflow: hidden;font-size: 1.4rem;line-height: 1.6rem;padding-top: 0.5rem;}
			.news-time{font-size: 1.2rem;color: #888;margin-bottom: 0.5rem;}
			/*部门*/
			.branchBanner{padding-bottom: 1rem;display: block;}
			.branchBanner h5,.branchBanner span{padding: 0 1rem;}
			.branchBanner>img{height: 210px;width: 100%;}
			.branchBanner span{color: #ccc;font-size: 1.2rem;}
			



            /*专题*/
			.specialDetails {
				height: auto;
				width: 100%;
				text-decoration: none;
				display: block;
			}
			.specialDetails>img{width: 100%;height: auto;}
			.specialDetails>p{color: #444;padding:1rem;}
			.zhuanti_list{padding-top: 0;}
			
			/*special_Details*/
			
			.myself {
            height: auto;           
            box-sizing: border-box;
            padding: 0;
        }
        .sub-pic {
            height: auto;
            width: 100%;
            display: block;
        }
       
        .sub-pic>img{max-height: 200px;width: 100%;}
        .sub_p {
            width: 100%;
        }
       .myContent_44{top:44px;}
       
       
       /*lawsIndex*/
       .yellow_P {
       	background: #ebebeb;
       	line-height: 3rem;
       	padding-left: 1rem
       }
       .yellow_P>span {
       	border-left: 3px solid orange;
       	padding-left: 0.5rem;
       	font-size: 1.5rem;
       	line-height: 5rem;
       }
       .laws_list>a {
       	display: block;
       	padding-bottom: 0;
       	border-bottom: 1px solid #d9d9d9;
       	color: #222222;
       	text-decoration: none;
       }
       .list_title_p {
       	margin: 0;
       }
       .time {
       	font-size: 12px;
       	color: #a4a4a4;
       	text-align: right;
       	margin: 0;
       	padding: 0 0 5px;
       }
       /*line_study*/
       .share_btn {
       	background: none;
       	border: none;
       }
       .share_btn>i {
       	color: orange;
       }
       .big_title>h4 {
       	line-height: 2.4rem;
       	max-height: 5rem;
       	overflow: hidden;
       
       	width: 74%;
       	padding-right: 5%;
       	box-sizing: border-box;
       	font-size: 1.6rem
       }
       .big_title {
       	position: relative;
       	max-height: 7rem;
       }
       .big_title .tv_module {
       	position: absolute;
       	width: 74px;
       	height: 3.4rem;
       	right: 4%;
       	top: 2rem;
       }
       .big_title .kuang {
       	height: 3rem;
       	width: 100%;
       	border: 2px solid orange;
       	border-radius: 4px;
       	line-height: 2.8rem;
       	color: orange;
       	box-shadow: 0 0 4px orange inset
       }
       .kuang>span {
       	padding-left: 5px;
       	vertical-align: middle;
       	overflow: hidden;
       	width: 50px;
       	white-space: nowrap;
       	text-overflow: ellipsis;
       	display: inline-block;
       }
       .mycard {
       	margin: 0;
       }
       .class_time {
       	padding: 1.5rem 0;
       }
       .big_title .xian {
       	height: 2px;
       	width: 70%;
       	background: orange;
       	display: block;
       	margin: 2px auto 0;
       }
       .person {
       	font-size: 2.4rem;
       	margin-left: 5px;
       	vertical-align: middle;
       	display: inline-block;
       }
       .week>span {
       	padding-left: 10%;
       	color: #888;
       	font-size: 1.4rem;
       }
       .week .icon {
       	font-size: 1.8rem;
       }
       .haoduozi {
       	text-indent: 2.4rem;
       	font-size: 1.4rem;
       	color: #888;
       }
       .jiarukecheng {
       	height: 4rem;
       	line-height: 4rem;
       	text-align: center;
       	display: block;
       	margin: 2rem auto;
       	border-radius: 5px;
       	border: 1px solid #cdcdcd;
       	width: 93%;
       	color: #fff;
       	background: orange;
       }
       /*site_record*/
       .text-16.p-10 {
       	padding-top: 1rem;
       	padding-bottom: 1rem;
       }
       .site_item {
       	border-bottom: 1px solid #e0e0e0;
       }
       .site_item p{
       	position: relative;
       	padding-right: -2rem;
       
       }
       .site_item p span {
       	position: absolute;
       	top: 0;
       	right:0 ;
       }
       .view_P {
       	color: #888;
       	font-size: 1.2rem;
       	margin-bottom: 1rem;
       	padding-right: 2rem;
       }
       .view_P span {
       	color: orange;
       	font-size: 1.6rem;
       	
       }
       .time_P {
       	font-size: 1.4rem;
       	margin-bottom: 1rem;
       }
       .time_P span {
       	color: #888;
       	font-size: 1.2rem;
       }
       .envir-chartbox {
       	background: linear-gradient(250deg, #3f7ac4 0%, #6c56d3 100%);
       	background: -webkit-linear-gradient(250deg, #3f7ac4 0%, #6c56d3 100%);
       	color: #fff;
       }
       .envir-chartbox .chart ul {
       	width: 1000px;
       }
       .envir-chartbox .chart ul li {
       	float: left;
       	width: 6rem;
       	list-style: none;
       	margin-top: 2rem;
       }
       .envir-chartbox .chart ul li.checked .chartbox {
       	margin-top: -2rem;
       	height: 15rem;
       	color: #ffdc00;
       	font-size: 2.2rem;
       	transition: all 0.3s;
       	-webkit-transition: all 0.3s;
       }
       .envir-chartbox .chart ul li .chartbox {
       	background: linear-gradient(250deg, #3f7ac4 0%, #6c56d3 100%);
       	background: -webkit-linear-gradient(250deg, #3f7ac4 0%, #6c56d3 100%);
       	border-top: 3px solid #ffdc00;
       	border-right: 1px solid rgba(255, 255, 255, 0.2);
       	border-left: 1px solid rgba(255, 255, 255, 0.2);
       	font-size: 1.6rem;
       	height: 13rem;
       	text-align: center;
       	line-height: 3rem;
       	transition: all 0.3s;
       	-webkit-transition: all 0.3s;
       }
       .envir-chartbox .chart ul li .date {
       	background: rgba(255, 255, 255, 0.2);
       	text-align: center;
       	padding: 0.7rem;
       }
       .envir-chartbox .chart ul li .date span {
       	display: inline-block;
       	line-height: 1.4rem;
       	font-size: 1.2rem;
       	position: relative;
       	padding: 0px 5px;
       }
       .envir-chartbox .chart ul li.checked .date span {
       	border: 1px solid rgba(255, 255, 255, 0.5);
       	border-radius: 4px;
       }
       .envir-chartbox .chart ul li.checked .date span:after {
       	content: '';
       	background: #fff;
       	width: 10px;
       	height: 10px;
       	transform: rotate(45deg);
       	-webkit-transform: rotate(45deg);
       	position: absolute;
       	left: 0.7rem;
       	bottom: -18px;
       }
       /*data_view*/
       .list_of {
       	background: url("images/find/list_of.png") no-repeat center top;
       	background-size: cover;
       	color: #fff;
       	text-align: center;
       	border-radius: 5px;
       }
       .list_of>h4 {
       	color: #fff;
       	padding-top: 10px;
       }
       .list_of li.col-33 {
       	line-height: 2.4rem;
       }
       .list_of>ul {
       	padding-bottom: 1rem;
       }
       .person_number {
       	text-align: center;
       	color: #fff;
       	padding-left: 0;
       	padding-right: 0;
       }
       .person_number img {
       	width: 2.2rem;
       	height: 2.2rem;
       	border-radius: 50%;
       }
       .person_number .blue {
       	background: url("images/find/per1.png") no-repeat center top;
       	background-size: cover;
       	height: 9rem;
       	border-radius: 5px;
       	padding-top: 1rem;
       }
       .person_number .pink {
       	background: url("images/find/tianqida.png") no-repeat center top;
       	background-size: cover;
       }
      
       .red {
       	padding-top: 1rem;
       	border-radius: 5px;
       	height: 9rem;
       }
       .blue p:nth-of-type(1) {
       	font-size: 2.4rem;
       }
       .blue p:nth-of-type(2) {
       	font-size: 1.4rem;
       }
       .person_number .red {
       	background: url("images/find/per2.png") no-repeat center top;
       	background-size: cover;
       }
       .person_number .green {
       	background: url("images/find/huanjingda.png") no-repeat center top;
       	background-size: cover;
       }
       .red>img {
       	margin-top: 1rem;
       }
       .red p {
       	font-size: 2.4rem;
       }
       .green>img {
       	margin: 0;
       }
       .green p:nth-of-type(2) {
       	font-size: 1.4rem;
       }
       .chartbox {
       	;
       	position: relative;
       	text-align: center;
       }
       .chartbox>span {
       	font-size: 1.4rem;
       	padding-bottom: 2rem
       }