body,
html {
	width: 100%;
	height: 100%;
	background: #eee;
	font-family: "微软雅黑" !important;
}

.title {
	color: #333333;
}


/*urgency.html样式*/
.slider-pager{bottom: 10px;}  
		.box img{height: 200px;width: 100%;display: block;}
i.icon.ion-ios-telephone-outline{
	font-size: 200%;
}
#urgency_tab {
	color: #f7b41f;
	font-size: 1.4rem;
}

.img_banner img {
	width: 100%;
}
.urgency_content{
	padding-top: 44px;
}
.urgency_content .row {
	padding: 10px;
}

.col-50 .ur_select {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #CCCCCC;
	line-height: 30px;
}

.ur_select>img{
	vertical-align: middle;
	transform: scale(0.8);
	-ms-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-moz-transform: scale(0.8);
}

.ur_select>img {
	margin-top: 10px;
}

.button.button-light.active {
	color: #f7b41f;
	border: 1px solid #f7b41f;
}

.ur_bg .item{
	background-color: #f6f6f6;
	margin-left: 0;
	margin-right: 0;
	border-left: 0;
	border-right: 0;
	padding: 0;
}


.ur_tel {
	text-align: center;
	color: #999999;
}

.button-light {
	font-size: 1.2rem;
	border-color: #CCCCCC;
}

.ur_tel1,.ur_tel3  {
	padding: 20px 0 15px 0;
}


.ur_tel2 {
	float: right;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ur_tel4 {
	float: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.item .list_tel1 {
	color: #444;
}
.item .list_tel2{
	font-size: 1.2rem;
	color: #888;
}
.ur_right{
	float: left;
}
.list_tel3 {
	float: right;
	color: #f7b41f;
}
.ur_lists1,.ur_lists2{
	margin-bottom: 40px;
}
.ur_lists1 .item,.ur_lists2 .item{
	padding: 10px 30px;
}

/*urgency_skill.html样式*/
.skill_content{
	background-color: #f1eff0;
	padding-top: 44px;
	font-size: 1.4rem;
}
.skill_content .item{
	font-size: 1.4rem;
	color: #9a9a9a;
}
.skill_sort1{
	margin-top: 15px;
	margin-bottom: 15px;
}
.item.skill_sort1{
	padding-top: 10px;
	padding-bottom: 10px;
}
.skill_sort2{
	line-height: 35px;
	margin-left: 10px;
}
label.item.item-input{
	padding-top: 0;
	padding-bottom: 0;
}
.ion-ios-arrow-down{
	float: right;
}
/*图片文件上传*/
.item-input{
	float: right;
	width: 76%;
	border-radius: 5px;
}
.skill_files{
	margin-top: 15px;
	border: 0;
	padding: 0;
	border-top: 1px solid #e8e8e7;
}
.skill_files input{
	width: 45%;
	height: 100px;
}

.imgUpload{
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 100;
}
span.skill_file1.col.col-50{
	text-align: center;
	background-color: #f7f7f7;
	height: 100px;
}
.destination> .button.button-light{
	border-radius: 15px;
	line-height: 11px;
	min-height: 33px;
	margin-top: 30px;
	color: #a0a0a0;
}
.skill_files>span:nth-of-type(1){
	border-right: 10px solid white;
}
.skill_files>span:nth-of-type(2){
	border-left: 10px solid white;
}
/*提交按钮*/
.bar-stable>.button{
	color: white;
	background-color: #f7b51e;
	border: 0;
}

/*urgency_help.html样式*/
.bar-footer{
	background-position: bottom;
	height: 90px;
	margin-bottom: 0;
	background-color: transparent;
}

.bar-footer>button{
	border: 0;
	text-align: center;
	border-radius: 50%;
}
.service_green{
	background-color: #2fde8a;
	color: white;
}
.overflow-scroll{
	overflow-x: scroll;
}
/*urgency_service.html样式*/
.service_red{
	background-color: #fa424a;
	color: white;
}
/*媒体查询*/
@media  screen and (max-width: 320px) {
	.bar-footer>button {
		width: 26%;
		margin-left: 37%;
	}
		
	
}
@media screen and (min-width: 321px) and (max-width: 360px){
	.bar-footer>button {
		width: 23%;
		margin-left: 38%;
	}
}
@media screen and (min-width:361px) and (max-width: 375px){
	.bar-footer>button {
		width: 22%;
		margin-left: 40%;
	}
}
@media  screen and (min-width:376px) and (max-width: 414px){
	.bar-footer>button {
		width: 20%;
		margin-left: 41%;
	}
}
@media  screen and (min-width:415px) and (max-width: 768px){
	.bar-footer>button {
		width: 11%;
		margin-left: 45%;
	}
}